h1
	font-size: $h1-fs
	line-height: $h1-lh
	font-weight: 700
	margin: round($baseGutter*2.35) 0 round($baseGutter*1.1)
	
	@include bp($point-3)
		margin-top: round($baseGutter*2.1)
		font-size: $h1-fs-768

h2
	font-size: $h2-fs
	line-height: $h2-lh
	font-weight: 700
	margin: round($baseGutter*1.2) 0 round($baseGutter*1.2)

.h2
	font-size: $h1-fs
	line-height: $h1-lh
	font-weight: 700
	margin: round($baseGutter*1) 0 round($baseGutter*1)

	@include bp($point-3)
		font-size: $h1-fs-768
		line-height: $h1-lh-768

h3
	font-size: $h3-fs
	line-height: $h3-lh
	font-weight: bold
	margin: round($baseGutter*1.5) 0 round($baseGutter*0.6)

h4
	font-size: $h4-fs
	line-height: $h4-lh
	font-weight: bold
	margin: round($baseGutter*1.5) 0 round($baseGutter*0.6)
	
h5
	font-size: $h5-fs
	line-height: $h5-lh
	font-weight: bold
	margin: round($baseGutter*1.2) 0 round($baseGutter*0.6)
	
h6
	font-size: $h6-fs
	line-height: $h6-lh
	font-weight: 600
	margin: round($baseGutter*1.2) 0 round($baseGutter*0.6)
	
p
	font-size: $p-fs
	line-height: $p-lh
	margin: round($baseGutter*0.72) 0
	
	&+img
		margin: round($baseGutter*0.2) 0 0
		
ol li,
ul li
	font-size: $p-fs
	line-height: $p-lh

img
	&+h1,
	&+h2,
	&+h3,
	&+h4,
	&+h5,
	&+h6,
	&+p,
	&+ul,
	&+ol
		margin-top: round($baseGutter*1.3)
	
	&+small
		display: block
		text-align: center
		margin: round($baseGutter*0.333) 0 round($baseGutter*1.5)
	
small
	display: block
	font-size: $small-fs
	line-height: $small-lh
	
blockquote
	font-size: $blockquote-fs
	line-height: $blockquote-lh
	color: #4263EB
	text-align: center
	margin: round($baseGutter*2) round($baseGutter*1.3) round($baseGutter*2)
	font-weight: normal
	
	p
		font-weight: inherit
		font-size: 1.778em
		line-height: 150%
	
ul
	margin: $baseGutter 0 30px 25px
	
	li
		position: relative
		&:not(:last-child)
			margin: round($baseGutter*0.72) 0

		&:first-child
			margin-top: 0
			
	&+img
		margin: round($baseGutter*0.2) 0 0


ol
	list-style-type: none
	counter-reset: item
	margin: round($baseGutter*1.4) 0 
	li
		position: relative
		padding-left: 40px
		font-size: rem(18px)
		line-height: rem(20px) 
		font-weight: 700

		&:not(:last-child)
			margin: round($baseGutter*1.2) 0

		&:first-child
			margin-top: 0

		&:after
			content: counters(item, "")" "
			counter-increment: item
			position: absolute
			left: 0
			top: 50% 
			transform: translateY(-50%)
			font-size: rem(30px)
			color: inherit
			line-height: rem(30px)
			font-weight: bold
	&+img
		margin: round($baseGutter*0.2) 0 0
			
ul
	li
		&:after
			content: ''
			position: absolute
			left: -25px
			top: 10px
			width: 6px
			height: 6px
			border-radius: 50%
			background-color: $red

.list-small
	li 
		font-size: rem(14px) 
		line-height: rem(18px)

		&:not(:last-child)
			margin: rem(14px) 0

		&:first-child 
			margin-top: 0

		&:after 
			top: 6px

.table-wrap
	overflow-x: auto
	width: 100%
	margin: round($baseGutter*1.3) 0
	
table
	table-layout: fixed
	min-width: 728px
	width: 100%
	th
		height: 90px
		max-width: 176px
		padding: 9px
	td
		height: 64px
	td,tr,th
		border: 1px solid #ddd
		font-size: $small-fs
		text-align: center
	
h1,
h2,
h3,
h4,
h5,
h6
	&+p
		margin-top: 0

p+h1
	margin-top: round($baseGutter*1)
		
ul,ol,blockquote
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p
		margin: 0
		
@include bp($point-2)
	h1
		font-size: $h1-fs-480
		line-height: $h1-lh-480
		margin: $baseGutter 0
		
	h2
		font-size: $h2-fs-480
		line-height: $h2-lh-480
		margin: $baseGutter 0 round($baseGutter*0.6)

	.h2 
		font-size: $h1-fs-480
		line-height: $h2-lh-480
	
	h3
		font-size: $h3-fs-480
		line-height: $h3-lh-480
		margin: $baseGutter 0 round($baseGutter*0.6)
	
	h4
		font-size: $h4-fs-480
		line-height: $h4-lh-480
		margin: $baseGutter 0 round($baseGutter*0.6)
		
	h5
		font-size: $h5-fs-480
		line-height: $h5-lh-480
		margin: $baseGutter 0 round($baseGutter*0.6)
		
	h6
		font-size: $h6-fs-480
		line-height: $h6-lh-480
		margin: $baseGutter 0 round($baseGutter*0.6)
		
	p
		font-size: $p-fs-480
		line-height: $p-lh-480
		margin: round($baseGutter*0.45) 0
		
		&+img
			margin: round($baseGutter*0.2) 0 0

	ul li, 
	ol li
		font-size: $p-fs-480
		line-height: $p-lh-480

		
	blockquote
		font-size: $small-fs
		margin: round($baseGutter*0.9) round($baseGutter*0.35)
	
	ul
		li
			&:after
				width: 7px
				height: 7px
				top: 9px
		
	ol
		li
			&:after
				font-size: rem(24px)
				line-height: rem(24px)
				
	ul
		margin: round($baseGutter*0.8) 0 round($baseGutter*0.9) 25px
		li
			&:not(:last-child)
				margin: round($baseGutter*0.45) 0
			&:first-child 
				margin-top: 0
				
		&+img
			margin: round($baseGutter*0.2) 0 0

	ol
		margin: round($baseGutter*0.8) 0 
		li
			padding-left: 28px
			&:not(:last-child)
				margin: round($baseGutter*0.45) 0
			&:first-child 
				margin-top: 0
				
		&+img
			margin: round($baseGutter*0.2) 0 0
		
	img
		&+h1,
		&+h2,
		&+h3,
		&+h4,
		&+h5,
		&+h6,
		&+p,
		&+ul,
		&+ol
			margin-top: round($baseGutter*0.7)
		
		&+small
			display: block
			text-align: center
			margin: round($baseGutter*0.22) 0 $baseGutter

	p+h1
		margin-top: $baseGutter
			
	.table-wrap
		margin: round($baseGutter*1.14) 0

.crossed 
	text-decoration: line-through


		
