@font-face
	font-family: 'Gilroy'
	src: local("Gilroy-Bold"),url('../fonts/Gilroy-Bold.woff2') format("woff2"),url('../fonts/Gilroy-Bold.woff') format("woff")
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Gilroy'
	src: local("Gilroy-SemiBold"), url('../fonts/Gilroy-SemiBold.woff2') format("woff2"),url('../fonts/Gilroy-SemiBold.woff') format("woff")
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Gilroy'
	src: local("Gilroy-Medium"), url('../fonts/Gilroy-Medium.woff2') format("woff2"),url('../fonts/Gilroy-Medium.woff') format("woff")
	font-weight: 500
	font-style: normal
