.expansion-body
	.unit-list 
		.unit-list__item
			h5 Габариты
			.unit-list__block
				small Размеры и веc
				.unit-list__line
				small 4466 x 1840 x 1482 мм
			.unit-list__block
				small Объем багажника
				.unit-list__line
				small 211 л

		.unit-list__item
			h5 Ходовая часть
			.unit-list__block
				small Клиренс
				.unit-list__line
				small 145

		.unit-list__item
			h5 Топливо
			.unit-list__block
				small Объем топливного бака
				.unit-list__line
				small 56
			.unit-list__block
				small Расход топлива
				.unit-list__line
				small 7.4
			.unit-list__block
				small Расход топлива в городском цикле
				.unit-list__line
				small 8.4
			.unit-list__block
				small Расход топлива за городом
				.unit-list__line
				small 5.6
			.unit-list__block
				small Расход топлива в смешанном цикле
				.unit-list__line
				small 6,6

		.unit-list__item
			h5 Двигатель
			.unit-list__block
				small Тип двигателя
				.unit-list__line
				small Рядный, 4-цилиндровый
			.unit-list__block
				small Максимальная скорость
				.unit-list__line
				small 230
			.unit-list__block
				small Разгон до 100
				.unit-list__line
				small 7.9

		.unit-list__item
			h5 Страна производитель
			.unit-list__block
				small Страна производитель
				.unit-list__line
				small Германия


