.expansion-body
	.expansion-body__title
		h2 Спортивная динамика и дух свободы
	ul.slider-filter
		li.slider-filter__item.active.js-tab(data-index='0') Экстерьер
		li.slider-filter__item.js-tab(data-index='1') Интерьер
		li.slider-filter__item.js-tab(data-index='2') Видео
	.swiper-container.js-tab-slide
		.swiper-wrapper
			.swiper-slide.tab
				.swiper-container.expansion-body__slide.js-gallery-filter
					.swiper-wrapper.card-swiper-wrapper
						-for(var i=0; i< 7; i++)
							.swiper-slide
								img(src='./images/temp_dir/gallery_1.jpg')
							.swiper-slide
								img(src='./images/temp_dir/gallery_2.jpg')
					.swiper-pagination
					.card-slider-navigation.navigation--white
						include navigation-arrows
				.text-large
					p Opel Astra GTC — невероятно стильный и динамичный автомобиль, сочетающий в себе спортивный облик и отличные динамические характеристики. Модель оборудуется четырьмя типами моторов: 1,8 л мощностью 140 л. с., 1,6 мощностью 200 л. с., 1,4 л мощностью 140 л. с., которые в паре с механической или автоматической трансмиссией позволяют чувствовать всю мощь машины. Салон Astra GTC порадует эргономичными спортивными сиденьями, подогревом кресел и рулевого колеса, а также 19 отсеками для хранения мелких и крупных предметов.
			.swiper-slide.tab
				.swiper-container.expansion-body__slide.js-gallery-filter
					.swiper-wrapper.card-swiper-wrapper
						-for(var i=0; i< 7; i++)
							.swiper-slide
								img(src='./images/temp_dir/gallery_1.jpg')
							.swiper-slide
								img(src='./images/temp_dir/gallery_2.jpg')
					.swiper-pagination
					.card-slider-navigation.navigation--white
						include navigation-arrows
				.text-large
					p Opel Astra GTC — невероятно стильный и динамичный автомобиль, сочетающий в себе спортивный облик и отличные динамические характеристики. Модель оборудуется четырьмя типами моторов: 1,8 л мощностью 140 л. с., 1,6 мощностью 200 л. с., 1,4 л мощностью 140 л. с., которые в паре с механической или автоматической трансмиссией позволяют чувствовать всю мощь машины. Салон Astra GTC порадует эргономичными спортивными сиденьями, подогревом кресел и рулевого колеса, а также 19 отсеками для хранения мелких и крупных предметов. Салон Astra GTC порадует эргономичными спортивными сиденьями, подогревом кресел и рулевого колеса, а также 19 отсеками для хранения мелких и крупных предметов.
			.swiper-slide.tab
				.swiper-container.expansion-body__slide.js-gallery-filter
					.swiper-wrapper.card-swiper-wrapper
						-for(var i=0; i< 7; i++)
							.swiper-slide
								img(src='./images/temp_dir/gallery_1.jpg')
							.swiper-slide
								img(src='./images/temp_dir/gallery_2.jpg')
					.swiper-pagination
					.card-slider-navigation.navigation--white
						include navigation-arrows
				.text-large
					p Opel Astra GTC — невероятно стильный и динамичный автомобиль, сочетающий в себе спортивный облик и отличные динамические характеристики. Модель оборудуется четырьмя типами моторов: 1,8 л мощностью 140 л. с., 1,6 мощностью 200 л. с., 1,4 л мощностью 140 л. с., которые в паре с механической или автоматической трансмиссией позволяют чувствовать всю мощь машины. Салон Astra GTC порадует эргономичными спортивными сиденьями, подогревом кресел и рулевого колеса, а также 19 отсеками для хранения мелких и крупных предметов.
