.expansion-body
	.expansion-body__title
		h2 Быстрый, мощный, стильный! Автомобиль для города и не только
	.swiper-container.expansion-body__slide.js-gallery
		.swiper-wrapper.card-swiper-wrapper
			-for(var i=0; i< 7; i++)
				.swiper-slide
					img(src='./images/temp_dir/gallery_2.jpg')
				.swiper-slide
					img(src='./images/temp_dir/gallery_1.jpg')
		.swiper-pagination
		.card-slider-navigation.navigation--white
			include navigation-arrows
	.text-large
		p Astra GTC — это новый хэтчбек, который создан на основе проверенной марки. С помощью гармоничной реализации востребованных технологий производител удалось создать модель со своим характером.
		p Спортивный Опель имеет расширенную линейку двигателей, в которую входят агрегаты с мощностью 1,4, 1,6 и 1,8 литра. Мощность данный моторов равна 140-170 л.с. Также представлена модель с двигателем 2,0 литра, который на дизельном топливе выдает 130 л.с.
		p Максимальная скорость хэтчбека составляет 201 км/ч, а самый быстрый разгон до "сотни" у всей серии составляет 9,9 сек.
