.expansion-body
	.text-large
		h2 Высокие технологии автомобилестроения в одном проекте
		p Astra GTC во многом сохранил классическе черты концепт-кара, который был представлен некоторое время назад на автосалоне в Париже. Инженеры созранили оригинальную внешность узнаваемого хэтчбека, дополнив ее некоторыми характерными элементами:
		ul
			li Миниатюрные свесы спереди и сзади.
			li Оригинальные проштамповки по периметру кузова.
			li Отличительная увеличенная подоконная линия.
			li Клиновидное боковое остекление.
			li Уникальные черты формы багажника.
		p Новый автомобиль, представленный официальным дилером, является отличным примером высокого качества и детального подхода к проектированию.
