.form-baner
	.form-baner__picture.form-baner__picture--car 
		img(src="./images/car-trade.png", alt="")
	.form-baner__content
		h2.h2 Выгодный Trade-In
		h6 Гарантия лучшей цены на рынке

		.form-baner__form 
			form.js-form(name="form")
				.js-popup-form-content
					.form-baner__part
						.form-baner__column
							label.form-field
								input.js-input.form-field__input(type="text" name="name-trade" required)
								span.form-field__label Ваше имя
						.form-baner__column
							label.form-field
								input.js-input.form-field__input.js-phone(type="text" name="phone-trade" required)
								span.form-field__label Ваш телефон
						button.form-submit-icon.btn.btn--red.btn--sz-l(type="submit")
							+svg('submit')
					p.form-baner-rules
						small Нажимая «Отправить», вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
				.popup-form__thank Спасибо за заявку. Наши менеджеры свяжутся с вами в ближайшее время.

		.form-baner__data.form-baner__data--line
			h5 Оценка автомобиля от рыночной стоимости до 95%
			h5 Дополнительная скидка по программе на новый авто 60 000 ₽