.form-baner
	.form-baner__picture 
		img(src="./images/man.png", alt="")
	.form-baner__content
		h2.h2 Финансовая программа Opel
		h6 Эксклюзивные условия на покупку автомобиля в кредит

		.form-baner__form
			form.js-form(name="form")
				.js-popup-form-content
					.form-baner__part
						.form-baner__column
							label.form-field
								input.js-input.form-field__input(type="text" name="name-fin" required)
								span.form-field__label Ваше имя
						.form-baner__column
							label.form-field
								input.js-input.form-field__input.js-phone(type="text" name="phone-fin" required)
								span.form-field__label Ваш телефон
						button.form-submit-icon.btn.btn--red.btn--sz-l(type="submit")
							+svg('submit')
					p.form-baner-rules
						small Нажимая «Отправить», вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
				.popup-form__thank Спасибо за заявку. Наши менеджеры свяжутся с вами в ближайшее время.

		.form-baner__data 
			h5 98% одобрение кредита
			h5 Льготная ставка от 3,5%
			h5 Без первоначального взноса 


