a.header__logo(href="main.html")
	svg(width='154' height='65' viewbox='0 0 154 65' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M28.3598 51.9753C27.4561 51.9753 26.91 51.4493 26.5335 50.6791L19.2281 34.8612C18.9645 34.3164 19.4917 33.7904 20.0565 33.7904H22.8431C23.5209 33.7904 24.067 34.3352 24.3494 34.9927L29.2636 45.9262L34.1778 34.9927C34.4602 34.3352 35.0062 33.7904 35.6841 33.7904H38.4706C39.0355 33.7904 39.5627 34.3164 39.2991 34.8612L31.9937 50.6791C31.636 51.4493 31.0899 51.9753 30.1673 51.9753H28.3598Z')
		path(d='M41.2188 34.9937C41.2188 34.092 41.7648 33.5472 42.6685 33.5472H44.2501C45.1539 33.5472 45.6999 34.092 45.6999 34.9937V35.4446C45.6999 36.3463 45.1539 36.8911 44.2501 36.8911H42.6685C41.7648 36.8911 41.2188 36.3463 41.2188 35.4446V34.9937ZM42.0472 51.9763C41.633 51.9763 41.2752 51.6569 41.2752 51.2248C41.2752 51.2061 41.2752 51.2061 41.2752 51.1873V39.1642C41.2752 38.7509 41.5953 38.394 42.0284 38.394C42.0472 38.394 42.0472 38.394 42.066 38.394H44.9091C45.3233 38.394 45.6811 38.7134 45.6811 39.1454C45.6811 39.1642 45.6811 39.1642 45.6811 39.183V51.2061C45.6811 51.6193 45.361 51.9763 44.9279 51.9763C44.9091 51.9763 44.9091 51.9763 44.8903 51.9763H42.0472Z')
		path(d='M54.3059 52.2383C50.6532 52.2383 48.8457 50.4161 48.8457 46.5274V34.5795C48.8457 34.1662 49.1658 33.8093 49.5988 33.8093C49.6177 33.8093 49.6177 33.8093 49.6365 33.8093H52.4796C52.8938 33.8093 53.2515 34.1286 53.2515 34.5607C53.2515 34.5795 53.2515 34.5795 53.2515 34.5983V38.8251H56.7913C57.2055 38.8251 57.5632 39.1445 57.5632 39.5766C57.5632 39.5954 57.5632 39.5954 57.5632 39.6141V41.117C57.5632 41.5303 57.2431 41.8872 56.8101 41.8872C56.7913 41.8872 56.7913 41.8872 56.7724 41.8872H53.2515V46.5274C53.2515 48.2933 54.1553 49.2326 55.4921 49.2326C56.1699 49.2326 56.6595 49.0823 57.2431 49.0823H57.7139C58.1281 49.0823 58.4858 49.4017 58.4858 49.8337C58.4858 49.8525 58.4858 49.8525 58.4858 49.8713V51.2239C58.4858 51.6184 58.1469 51.919 57.7139 51.9941C56.5842 52.1632 55.4545 52.2571 54.3059 52.2383Z')
		path(d='M64.6616 41.5689C64.3039 42.0198 63.7767 42.264 63.2118 42.2452H61.3102C60.896 42.2452 60.5382 41.9258 60.5382 41.4938C60.5382 41.475 60.5382 41.475 60.5382 41.4562C60.5382 38.751 63.2495 37.8117 67.467 37.8117C71.2139 37.8117 74.1511 39.3709 74.1511 43.3348V51.1686C74.1511 51.5818 73.831 51.9388 73.3979 51.9388C73.3791 51.9388 73.3791 51.9388 73.3603 51.9388H70.9126C70.4984 51.9388 70.1407 51.6194 70.1407 51.1873C70.1407 51.1686 70.1407 51.1686 70.1407 51.1498V50.7553C68.8038 51.7133 67.1846 52.2206 65.5277 52.183C62.1198 52.183 59.5215 50.6613 59.5215 47.7119C59.5215 44.7625 62.1198 43.2972 65.5277 43.2972H69.7453C69.7453 41.2683 68.8792 40.6484 67.1469 40.6484C66.0737 40.7048 65.1135 41.0241 64.6616 41.5689ZM69.7453 48.2192V46.2466H65.829C64.6051 46.2466 63.9085 46.9229 63.9085 47.7683C63.9085 48.67 64.6051 49.3463 65.9608 49.3463C67.3164 49.3463 68.6156 48.9518 69.7453 48.2192Z')
		path(d='M79.2151 38.7312C80.2883 34.7109 83.941 33.7904 87.6502 33.7904H94.4848C95.1062 33.8092 95.5957 34.3352 95.5769 34.9552V50.7918C95.5769 51.4493 95.0309 51.9565 94.3719 51.9565H91.9807C91.3217 51.9753 90.7945 51.4493 90.7757 50.8106C90.7757 50.7918 90.7757 50.7918 90.7757 50.773V47.5794H81.7381L80.872 50.773C80.6837 51.4493 80.0812 51.9377 79.3657 51.9753H76.8615C76.1837 51.9753 75.7883 51.4493 75.9766 50.8106L79.2151 38.7312ZM82.6983 44.01H90.7945V37.3974H87.1794C85.5979 37.3598 84.2046 38.4118 83.828 39.9522L82.6983 44.01Z')
		path(d='M103.373 46.1339C103.373 48.2942 104.352 49.1772 105.783 49.1772C107.063 49.1772 108.249 48.2942 109.191 47.3549V38.8637C109.191 38.4504 109.511 38.0934 109.944 38.0934C109.963 38.0934 109.963 38.0934 109.981 38.0934H112.824C113.239 38.0934 113.596 38.4128 113.615 38.8449C113.615 38.8637 113.615 38.8637 113.615 38.8825V51.2061C113.615 51.6194 113.295 51.9763 112.862 51.9763C112.843 51.9763 112.843 51.9763 112.824 51.9763H109.981C109.567 51.9763 109.209 51.6569 109.191 51.2249C109.191 51.2061 109.191 51.2061 109.191 51.1873V50.3983C107.986 51.4127 106.686 52.2393 104.747 52.2393C101.358 52.2393 98.9668 50.4546 98.9668 46.1339V38.8637C98.9668 38.4504 99.2869 38.0934 99.7199 38.0934C99.7388 38.0934 99.7388 38.0934 99.7576 38.0934H102.582C102.996 38.0934 103.354 38.4128 103.373 38.8449C103.373 38.8637 103.373 38.8637 103.373 38.8825V46.1339Z')
		path(d='M122.181 52.2383C118.547 52.2383 116.721 50.4161 116.721 46.5274V34.5795C116.721 34.1662 117.041 33.8093 117.474 33.8093C117.493 33.8093 117.493 33.8093 117.511 33.8093H120.336C120.75 33.8093 121.108 34.1286 121.127 34.5607C121.127 34.5795 121.127 34.5795 121.127 34.5983V38.8251H124.666C125.08 38.8251 125.438 39.1445 125.457 39.5766C125.457 39.5954 125.457 39.5954 125.457 39.6141V41.117C125.457 41.5303 125.137 41.8872 124.704 41.8872C124.685 41.8872 124.685 41.8872 124.666 41.8872H121.127V46.5274C121.127 48.2933 122.03 49.2326 123.367 49.2326C124.045 49.2326 124.534 49.0823 125.118 49.0823H125.589C126.003 49.0823 126.361 49.4017 126.38 49.8337C126.38 49.8525 126.38 49.8525 126.38 49.8713V51.2239C126.38 51.6184 126.041 51.919 125.589 51.9941C124.44 52.1632 123.311 52.2571 122.181 52.2383Z')
		path(d='M142.743 45.0255C142.743 49.7971 139.975 52.2393 135.061 52.2393C130.147 52.2393 127.379 49.7971 127.379 45.0255C127.379 40.2538 130.147 37.8304 135.061 37.8304C139.975 37.8304 142.743 40.2538 142.743 45.0255ZM138.337 45.0255C138.337 41.9634 137.264 40.7235 135.061 40.7235C132.858 40.7235 131.785 41.9634 131.785 45.0255C131.785 48.0876 132.858 49.3651 135.061 49.3651C137.264 49.3651 138.356 48.0876 138.337 45.0255Z')
		path.js-path(d='M0.71875 26.0891C0.71875 26.0891 12.3735 12.4129 60.9129 15.1557C60.9129 15.1557 80.4379 17.8796 108.266 11.8681C114.442 10.5343 120.806 10.3464 127.057 11.3045L138.184 17.1094C138.184 17.1094 127.829 12.9013 99.9253 17.8984C77.256 21.9562 61.6661 20.0964 47.0176 18.9692C32.9529 17.8796 15.499 18.3681 0.71875 26.0891Z')
		path.js-path(d='M135.416 12.3192C131.575 10.3654 126.228 8.07353 119.751 6.06343C104.048 1.19785 81.6237 -2.0897 57.4669 4.52298C27.5299 12.6949 18.2852 32.3638 18.2852 32.3638C34.4964 13.0518 60.9125 15.1559 60.9125 15.1559C45.3038 13.5027 38.1114 14.9492 38.1114 14.9492C38.1114 14.9492 53.5506 4.50419 79.835 4.52298C90.8119 4.52298 102.203 6.2325 112.182 8.37411C117.605 9.78306 121.728 11.455 125.192 12.9015C114.366 13.6905 104.519 17.1472 104.519 17.1472C120.429 13.9348 131.481 15.6819 135.002 16.4333L135.19 16.4709C149.029 20.0402 153.774 14.5359 153.774 14.5359C148.314 16.5836 142.797 15.6255 135.416 12.3192Z')
		g(opacity='0.8')
			path.js-path(opacity='0.8' d='M43.289 60.0157C43.289 60.4478 43.2325 60.8799 43.1007 61.2932C42.9877 61.6501 42.8183 61.9695 42.5735 62.2512C42.3475 62.5143 42.0651 62.7209 41.745 62.8524C41.0672 63.1342 40.2953 63.1342 39.6174 62.8524C39.2974 62.7209 39.0149 62.5143 38.789 62.2512C38.5442 61.9695 38.3559 61.6501 38.243 61.2932C38.1112 60.8799 38.0547 60.4478 38.0547 60.0157V59.6964C38.0547 59.2643 38.1112 58.8322 38.243 58.4189C38.3559 58.062 38.5442 57.7426 38.7702 57.4608C38.9961 57.1978 39.2785 56.9912 39.5986 56.8597C39.9375 56.7094 40.2953 56.653 40.653 56.653C41.0107 56.653 41.3873 56.7282 41.7074 56.8597C42.0275 56.9912 42.3099 57.1978 42.5358 57.4608C42.7806 57.7426 42.9501 58.0808 43.063 58.4189C43.1948 58.8322 43.2513 59.2643 43.2513 59.6964L43.289 60.0157ZM42.1969 59.6964C42.1969 59.377 42.1593 59.0764 42.1028 58.7758C42.0463 58.5316 41.9522 58.3062 41.8015 58.0995C41.6886 57.9305 41.5191 57.7802 41.3308 57.6862C41.1237 57.5923 40.9166 57.536 40.6907 57.536C40.4647 57.536 40.2576 57.5735 40.0505 57.6862C39.8622 57.7802 39.6928 57.9305 39.5798 58.0995C39.4292 58.3062 39.335 58.5316 39.2785 58.7758C39.2032 59.0764 39.1656 59.3958 39.1656 59.6964V60.0157C39.1656 60.3351 39.2032 60.6544 39.2785 60.955C39.335 61.1992 39.448 61.4247 39.5798 61.6313C39.7116 61.8004 39.8622 61.9507 40.0693 62.0446C40.2576 62.1385 40.4835 62.1949 40.7095 62.1949C41.1614 62.2137 41.5756 62.007 41.8204 61.6501C42.084 61.2744 42.2157 60.7484 42.2157 60.0345L42.1969 59.6964Z')
			path.js-path(opacity='0.8' d='M44.0989 60.7306C44.0989 60.3925 44.1366 60.0543 44.2119 59.735C44.2684 59.4532 44.3813 59.1902 44.532 58.9459C44.6638 58.7393 44.852 58.5514 45.0592 58.4387C45.2851 58.3072 45.5487 58.2509 45.7935 58.2509C46.0006 58.2509 46.2077 58.2884 46.396 58.3636V56.3723H47.4503V58.3824C47.6575 58.2884 47.8834 58.2321 48.0905 58.2509C48.3541 58.2509 48.5989 58.3072 48.8248 58.4387C49.0508 58.5702 49.2202 58.7393 49.352 58.9459C49.5026 59.1902 49.6156 59.4532 49.6721 59.735C49.7474 60.0543 49.7851 60.3925 49.7851 60.7306V60.8245C49.7851 61.1251 49.7474 61.4445 49.6721 61.7451C49.6156 62.0081 49.5026 62.2523 49.352 62.4589C49.0696 62.8722 48.5801 63.1164 48.0905 63.0976C47.9775 63.0976 47.8457 63.0789 47.7328 63.0601C47.6386 63.0413 47.5257 63.0037 47.4315 62.9661V64.8072H46.3771V62.9849C46.1889 63.0601 45.9817 63.0976 45.7746 63.0976C45.511 63.0976 45.2663 63.0413 45.0403 62.9286C44.8332 62.8159 44.6449 62.6656 44.5131 62.4589C44.3625 62.2335 44.2495 62.0081 44.193 61.7451C44.1177 61.4445 44.0801 61.1439 44.0801 60.8245L44.0989 60.7306ZM45.1345 60.8245C45.1345 61.0124 45.1533 61.2003 45.1721 61.3881C45.191 61.5384 45.2474 61.7075 45.3227 61.839C45.4545 62.102 45.737 62.2711 46.0382 62.2523C46.1512 62.2523 46.2642 62.2335 46.3771 62.2147V59.1338C46.3207 59.115 46.283 59.115 46.2265 59.0962C46.17 59.0962 46.1135 59.0774 46.0571 59.0774C45.9064 59.0774 45.737 59.115 45.624 59.2089C45.4922 59.3029 45.3981 59.4156 45.3416 59.5659C45.2663 59.7349 45.2098 59.904 45.1909 60.0919C45.1533 60.2985 45.1345 60.5052 45.1533 60.7306L45.1345 60.8245ZM48.7495 60.7306C48.7495 60.524 48.7307 60.2985 48.693 60.0919C48.6554 59.904 48.6177 59.7349 48.5236 59.5659C48.4483 59.4344 48.3541 59.3029 48.2223 59.2089C48.0905 59.115 47.9399 59.0774 47.7704 59.0774C47.7139 59.0774 47.6386 59.0774 47.5821 59.0962C47.5257 59.0962 47.4692 59.115 47.4127 59.1338V62.1959C47.5257 62.2147 47.6575 62.2335 47.7704 62.2335C48.0717 62.2523 48.3541 62.0832 48.5047 61.8202C48.5801 61.6699 48.6365 61.5196 48.6742 61.3693C48.7118 61.1815 48.7307 60.9936 48.7307 60.8058L48.7495 60.7306Z')
			path.js-path(opacity='0.8' d='M53.6256 58.3261H54.6611V62.985H53.6256V59.8853L51.7992 62.985H50.7637V58.3261H51.7992V61.4446L53.6256 58.3261Z')
			path.js-path(opacity='0.8' d='M55.8281 58.3261H56.8825V62.1584H58.7089V58.3261H59.7632V62.1584H60.4034L60.3093 64.3752H59.349V62.985H55.8281V58.3261Z')
			path.js-path(opacity='0.8' d='M64.037 58.3261H65.0725V62.985H64.037V59.8853L62.2106 62.985H61.1562V58.3261H62.1918V61.4446L64.037 58.3261Z')
			path.js-path(opacity='0.8' d='M68.99 62.985C68.9523 62.9287 68.9335 62.8535 68.9146 62.7972C68.8958 62.722 68.877 62.6469 68.8582 62.5529C68.7828 62.6281 68.7075 62.7032 68.6322 62.7596C68.5381 62.8159 68.4439 62.8723 68.3498 62.9287C68.2368 62.985 68.1238 63.0226 68.0109 63.0414C67.8791 63.0602 67.7661 63.079 67.6343 63.079C67.4084 63.079 67.2013 63.0414 66.9942 62.9662C66.8059 62.9099 66.6364 62.7972 66.4858 62.6657C66.354 62.5342 66.241 62.3839 66.1657 62.2148C66.0904 62.0457 66.0527 61.8579 66.0527 61.67C66.0527 61.4446 66.0904 61.2191 66.2034 61.0125C66.2975 60.8246 66.4481 60.6556 66.6176 60.5241C66.8247 60.3926 67.0506 60.2798 67.2766 60.2235C67.5778 60.1483 67.8791 60.1108 68.1803 60.1295H68.8393V59.829C68.8582 59.6223 68.7828 59.4157 68.6322 59.2466C68.4628 59.0963 68.2368 59.0024 68.0109 59.0212C67.8979 59.0212 67.7849 59.04 67.672 59.0775C67.5778 59.1151 67.4837 59.1527 67.4084 59.209C67.3331 59.2654 67.2766 59.3405 67.2389 59.4157C67.2013 59.4908 67.1824 59.5848 67.1824 59.6599H66.128C66.128 59.472 66.1845 59.2842 66.2598 59.1339C66.354 58.9648 66.4858 58.7957 66.6364 58.683C66.8247 58.5327 67.0318 58.4388 67.2389 58.3637C67.7285 58.2134 68.2556 58.1946 68.764 58.3449C68.9711 58.4012 69.1782 58.514 69.3289 58.6455C69.4983 58.777 69.6113 58.946 69.7054 59.1527C69.7996 59.3781 69.8372 59.6223 69.8372 59.8478V61.9142C69.8184 62.2524 69.8749 62.5905 70.0067 62.9099V62.985H68.99ZM67.8414 62.2336C67.9544 62.2336 68.0674 62.2148 68.1803 62.196C68.2745 62.1584 68.3686 62.1209 68.4628 62.0645C68.5381 62.0082 68.6134 61.9518 68.6887 61.8767C68.7452 61.8203 68.8017 61.7451 68.8393 61.67V60.7871H68.2745C67.9732 60.7683 67.672 60.8434 67.3895 60.9937C67.2013 61.1252 67.0883 61.3319 67.0883 61.5573C67.0883 61.6512 67.1071 61.7451 67.126 61.8203C67.1636 61.8954 67.2013 61.9706 67.2766 62.0269C67.3519 62.0833 67.4272 62.1397 67.5025 62.1584C67.6155 62.2148 67.7285 62.2336 67.8414 62.2336Z')
			path.js-path(opacity='0.8' d='M74.9587 58.3261V62.985H73.9043V59.1715H72.5864L72.5487 60.3174C72.5299 60.7119 72.4922 61.0876 72.4357 61.4821C72.3981 61.7827 72.2851 62.0645 72.1533 62.3275C72.0403 62.5341 71.852 62.722 71.6261 62.8347C71.3813 62.9474 71.0989 63.0038 70.8165 63.0038H70.6094V62.1209H70.76C70.8918 62.1209 71.0236 62.1021 71.1366 62.0269C71.2307 61.9518 71.3249 61.8391 71.3625 61.7076C71.419 61.5197 71.4566 61.3318 71.4755 61.144C71.4943 60.9186 71.5131 60.6368 71.532 60.3174L71.6261 58.3261H74.9587Z')
			path.js-path(opacity='0.8' d='M77.1989 59.8102H78.2156C78.4792 59.8102 78.7617 59.8477 79.0253 59.9229C79.2324 59.998 79.4395 60.1107 79.6089 60.2423C79.7596 60.3738 79.8914 60.5428 79.9667 60.7495C80.042 60.9561 80.0985 61.1628 80.0797 61.3882C80.0797 61.6136 80.042 61.8203 79.9667 62.0269C79.8914 62.2148 79.7596 62.3839 79.6089 62.5341C79.4395 62.6844 79.2324 62.7971 79.0253 62.8723C78.7617 62.9662 78.4981 63.0038 78.2156 62.985H76.1445V58.3261H77.1989V59.8102ZM77.1989 60.6555V62.1584H78.2156C78.3474 62.1584 78.4792 62.1396 78.5922 62.1021C78.6864 62.0645 78.7805 62.0081 78.8558 61.933C78.9123 61.8578 78.9688 61.7827 79.0064 61.7076C79.0441 61.6136 79.0441 61.5197 79.0441 61.4258C79.0441 61.3318 79.0253 61.2379 79.0064 61.144C78.9688 61.0501 78.9311 60.9749 78.8558 60.8998C78.7805 60.8246 78.7052 60.7683 78.5922 60.7307C78.4604 60.6743 78.3474 60.6555 78.2156 60.6555H77.1989Z')
			path.js-path(opacity='0.8' d='M84.9 62.985H83.8456V61.1064H82.0192V62.985H80.9648V58.3261H82.0192V60.261H83.8456V58.3261H84.9V62.985Z')
			path.js-path(opacity='0.8' d='M87.1403 59.8102H88.1571C88.4207 59.8102 88.7031 59.8477 88.9667 59.9229C89.1738 59.998 89.3809 60.1107 89.5504 60.2423C89.701 60.3738 89.8328 60.5428 89.9081 60.7495C89.9834 60.9561 90.0399 61.1628 90.0211 61.3882C90.0211 61.6136 89.9834 61.8203 89.9081 62.0269C89.8328 62.2148 89.701 62.3839 89.5504 62.5341C89.3809 62.6844 89.1738 62.7971 88.9667 62.8723C88.7031 62.9662 88.4395 63.0038 88.1571 62.985H86.0859V58.3261H87.1403V59.8102ZM87.1403 60.6555V62.1584H88.1571C88.2889 62.1584 88.4207 62.1396 88.5336 62.1021C88.6278 62.0645 88.7219 62.0081 88.7972 61.933C88.8537 61.8578 88.9102 61.7827 88.9479 61.7076C88.9855 61.6136 88.9855 61.5197 88.9855 61.4258C88.9855 61.3318 88.9667 61.2379 88.9479 61.144C88.9102 61.0501 88.8725 60.9749 88.7972 60.8998C88.7219 60.8246 88.6278 60.7683 88.5336 60.7307C88.4018 60.6743 88.2889 60.6555 88.1571 60.6555H87.1403ZM91.8662 62.985H90.8119V58.3261H91.8662V62.985Z')
			path.js-path(opacity='0.8' d='M96.0467 58.3244H97.0823V62.9834H96.0467V59.8837L94.2204 62.9834H93.166V58.3244H94.2016V61.4429L96.0467 58.3244ZM96.5363 56.5398C96.5363 56.7088 96.4986 56.8779 96.4421 57.0282C96.3857 57.1785 96.2915 57.31 96.1597 57.4039C96.0279 57.5166 95.8773 57.5918 95.7267 57.6481C95.3501 57.7609 94.9359 57.7609 94.5593 57.6481C94.3899 57.5918 94.2392 57.5166 94.1263 57.4039C94.0133 57.2912 93.9192 57.1597 93.8438 57.0282C93.7685 56.8779 93.7497 56.7088 93.7497 56.5398H94.5405C94.5405 56.6149 94.5593 56.69 94.5781 56.7652C94.597 56.8403 94.6346 56.8967 94.6911 56.9531C94.7476 57.0094 94.8041 57.047 94.8794 57.0846C95.0677 57.1597 95.256 57.1597 95.4442 57.0846C95.5949 57.0282 95.689 56.9155 95.7267 56.7652C95.7455 56.69 95.7643 56.6149 95.7643 56.5398H96.5363Z')
			path.js-path(opacity='0.8' d='M100.432 62.1584C100.545 62.0269 100.658 61.8954 100.753 61.7639C100.847 61.6324 100.922 61.4821 100.979 61.3131C101.054 61.1252 101.091 60.9373 101.129 60.7495C101.167 60.5053 101.204 60.2423 101.204 59.9792L101.242 58.3261H104.481V62.1584H105.121V64.3752H104.085V62.985H101.091V64.3752H100.037V62.1396L100.432 62.1584ZM102.259 59.9792C102.24 60.4113 102.184 60.8434 102.052 61.2567C101.958 61.5761 101.826 61.8766 101.656 62.1396H103.445V59.2278H102.278L102.259 59.9792Z')
			path.js-path(opacity='0.8' d='M108.737 58.3261H109.772V62.985H108.737V59.8853L106.911 62.985H105.875V58.3261H106.911V61.4446L108.737 58.3261Z')
			path.js-path(opacity='0.8' d='M114.856 58.3261V62.985H113.802V59.1715H112.484L112.446 60.3174C112.428 60.7119 112.39 61.0876 112.333 61.4821C112.296 61.7827 112.183 62.0645 112.051 62.3275C111.938 62.5341 111.75 62.722 111.524 62.8347C111.279 62.9474 110.997 63.0038 110.714 63.0038H110.488V62.1209H110.639C110.771 62.1209 110.903 62.1021 111.015 62.0269C111.11 61.9518 111.204 61.8391 111.241 61.7076C111.298 61.5197 111.336 61.3318 111.354 61.144C111.373 60.9186 111.392 60.6368 111.411 60.3174L111.505 58.3261H114.856Z')
			path.js-path(opacity='0.8' d='M118.057 63.079C117.737 63.079 117.417 63.0226 117.116 62.9099C116.852 62.7972 116.607 62.6469 116.419 62.4403C116.231 62.2336 116.08 61.9894 115.967 61.7264C115.854 61.4446 115.816 61.144 115.816 60.8247V60.6556C115.816 60.3174 115.873 59.9793 115.986 59.6599C116.08 59.3781 116.231 59.1339 116.438 58.9085C116.626 58.7018 116.852 58.5328 117.116 58.4201C117.379 58.3073 117.662 58.251 117.944 58.251C118.245 58.251 118.547 58.3073 118.829 58.4201C119.074 58.5328 119.281 58.6831 119.45 58.8897C119.62 59.0964 119.752 59.3594 119.827 59.6224C119.902 59.9229 119.959 60.2235 119.959 60.5429V60.9937H116.908C116.927 61.1628 116.965 61.3319 117.021 61.501C117.078 61.6512 117.172 61.7827 117.266 61.8955C117.379 62.0082 117.492 62.1021 117.643 62.1585C117.793 62.2336 117.963 62.2524 118.132 62.2524C118.358 62.2524 118.603 62.196 118.81 62.1021C118.998 61.9894 119.168 61.8579 119.318 61.67L119.883 62.2148C119.714 62.459 119.488 62.6657 119.224 62.816C119.074 62.9099 118.904 62.9663 118.716 63.0226C118.471 63.0602 118.264 63.079 118.057 63.079ZM117.925 59.0776C117.662 59.0776 117.398 59.1715 117.229 59.3781C117.04 59.6224 116.908 59.9041 116.89 60.2235H118.885V60.1484C118.885 60.0169 118.848 59.8854 118.81 59.7539C118.772 59.6224 118.716 59.5096 118.641 59.4157C118.565 59.3218 118.471 59.2279 118.358 59.1715C118.226 59.1151 118.076 59.0776 117.925 59.0776Z')
			path.js-path(opacity='0.8' d='M124.834 60.7119C124.834 61.0313 124.796 61.3507 124.721 61.6512C124.646 61.9142 124.533 62.1772 124.363 62.4027C124.212 62.6093 124.024 62.7784 123.798 62.8911C123.553 63.0226 123.29 63.079 123.026 63.079C122.782 63.079 122.537 63.0414 122.33 62.9475C122.123 62.8535 121.953 62.7408 121.802 62.5717V64.7885H120.748V58.3261H121.708L121.746 58.7958C121.897 58.6267 122.066 58.4764 122.273 58.3825C122.499 58.2885 122.744 58.2322 122.989 58.2322C123.252 58.2322 123.535 58.2885 123.779 58.4013C124.005 58.514 124.194 58.683 124.344 58.8897C124.514 59.1151 124.627 59.3781 124.702 59.6411C124.777 59.9605 124.815 60.2798 124.815 60.5992L124.834 60.7119ZM123.779 60.618C123.779 60.4114 123.761 60.2235 123.723 60.0356C123.685 59.8666 123.629 59.6975 123.535 59.5472C123.459 59.4157 123.346 59.303 123.196 59.2278C123.045 59.1527 122.876 59.0963 122.706 59.1151C122.499 59.1151 122.311 59.1527 122.141 59.2654C121.991 59.3593 121.878 59.4908 121.784 59.6599V61.7264C121.859 61.8767 121.991 62.0269 122.141 62.1209C122.311 62.2336 122.518 62.2712 122.725 62.2712C122.894 62.2712 123.064 62.2336 123.215 62.1585C123.346 62.0833 123.459 61.9706 123.553 61.8203C123.648 61.67 123.704 61.5009 123.742 61.3319C123.779 61.144 123.798 60.9374 123.798 60.7495L123.779 60.618Z')