ul.nav__list.nav__list--line
	li.nav__item
		a.link.link--default(href="#")
			+svg('order')
			h5 Заказать авто
	li.nav__item
		a.link.link--default(href="#")
			+svg('usedcar')
			h5 Авто с пробегом
	li.nav__item
		a.link.link--default(href="#")
			+svg('loan')
			h5 Кредитные программы
	li.nav__item
		a.link.link--default(href="#")
			+svg('trade')
			h5 Trade-in
	li.nav__item
		a.link.link--default(href="#")
			+svg('utilization')
			h5 Утилизация
	li.nav__item
		a.link.link--default(href="#")
			+svg('taxiloan')
			h5 Такси в кредит
	li.nav__item
		a.link.link--default(href="#")
			+svg('techcenter')
			h5 Техцентр
	li.nav__item.nav__item--light
		a.link.link--default(href="#")
			h5 О нас
	li.nav__item.nav__item--light
		a.link.link--default(href="#")
			h5 Услуги
	li.nav__item.nav__item--light
		a.link.link--default(href="#")
			h5 Отзывы
	li.nav__item.nav__item--light
		a.link.link--default(href="#")
			h5 Контакты