.header__nav.nav.header__nav--top
	ul.nav__list
		li.nav__item
			a.link.link--default(href="#") 
				h5 О нас
		li.nav__item
			a.link.link--default(href="#")
				h5 Услуги
		li.nav__item
			a.link.link--default(href="#")
				h5 Отзывы
		li.nav__item
			a.link.link--default(href="#")
				h5 Контакты