section.info-block
	.wrapper 
		.content
			.info-slider.swiper-container.js-info-slider
				.swiper-wrapper
					.swiper-slide
						+info-item('info-item--blue','Заказать авто','Заполняете online-заявку и Вы приезжаете в автосалон','./images/temp_dir/top_car.png')
					.swiper-slide
						+info-item('info-item--red','Резина в подарок','Вы гарантированно получаете комплект резины<br> в подарок','./images/temp_dir/top_car-2.png')
					.swiper-slide
						+info-item('info-item--dark','Старый авто на новый с выгодой от 60 000 ₽','Оцените свою<br> машину за 1 минуту','./images/temp_dir/top_car-3.png')