.categories-list
	.categories-item
		+categories-block('./images/car_logos/brilliance.png', 'Brilliance')
	.categories-item
		+categories-block('./images/car_logos/citroen.png', 'Citroen')
	.categories-item
		+categories-block('./images/car_logos/faw.png', 'FAW')
	.categories-item
		+categories-block('./images/car_logos/great_wall.png', 'Great Wall')
	.categories-item
		+categories-block('./images/car_logos/hyundai.png', 'Hyundai')
	.categories-item
		+categories-block('./images/car_logos/lifan.png', 'Lifan')
	.categories-item
		+categories-block('./images/car_logos/opel.png', 'Opel')
	.categories-item
		+categories-block('./images/car_logos/skoda.png', 'Skoda')
	.categories-item
		+categories-block('./images/car_logos/uaz.png', 'UAZ')
	.categories-item
		+categories-block('./images/car_logos/changa.png', 'Changan')
	.categories-item
		+categories-block('./images/car_logos/datsun.png', 'Datsun')
	.categories-item
		+categories-block('./images/car_logos/ford.png', 'Ford')
	.categories-item
		+categories-block('./images/car_logos/haima.png', 'haima')
	.categories-item
		+categories-block('./images/car_logos/jac.png', 'JAC')
	.categories-item
		+categories-block('./images/car_logos/opel.png', 'Mazda')
	.categories-item
		+categories-block('./images/car_logos/pegeot.png', 'Peugeot')
	.categories-item
		+categories-block('./images/car_logos/ssangyong.png', 'SsangYong')
	.categories-item
		+categories-block('./images/car_logos/volkswagen.png', 'Volkswagen')
	.categories-item
		+categories-block('./images/car_logos/chery.png', 'Chery')
	.categories-item
		+categories-block('./images/car_logos/dongfeng.png', 'Dongfeng')
	.categories-item
		+categories-block('./images/car_logos/faton.png', 'Foton')
	.categories-item
		+categories-block('./images/car_logos/haval.png', 'Haval')
	.categories-item
		+categories-block('./images/car_logos/kia.png', 'Kia')
	.categories-item
		+categories-block('./images/car_logos/ravon.png', 'Ravon')
	.categories-item
		+categories-block('./images/car_logos/mitsubishi.png', 'Mitsubishi')
	.categories-item
		+categories-block('./images/car_logos/suzuki.png', 'Suzuki')
	.categories-item
		+categories-block('./images/car_logos/zotye.png', 'Zotye')
	.categories-item
		+categories-block('./images/car_logos/chevrolet.png', 'Chevrolet')
	.categories-item
		+categories-block('./images/car_logos/dwhower.png', 'DWHower')
	.categories-item
		+categories-block('./images/car_logos/geely.png', 'Geely')
	.categories-item
		+categories-block('./images/car_logos/honda.png', 'Honda')
	.categories-item
		+categories-block('./images/car_logos/lada.png', 'Lada')
	.categories-item
		+categories-block('./images/car_logos/nissan.png', 'Nissan')
	.categories-item
		+categories-block('./images/car_logos/renault.png', 'Renault')
	.categories-item
		+categories-block('./images/car_logos/toyota.png', 'Toyota')