.used-cars__bottom
	.used-cars__bottom-item
		.pagination.used-cars__pagination
			a(href='#!') «
			a.active(href='#!') 1
			a(href='#!') 2
			a(href='#!') 3
			a(href='#!') 4
			a(href='#!').dots ...
			a(href='#!') 16
			a(href='#!') 17
			a(href='#!') »
	.used-cars__bottom-item
		a.btn.btn--default.btn--sz-l.js-more(href='more-used-cars.html') Показать еще