.popup.popup--center.js-popup#center
	.popup__backdrop
	.popup__wrapper
		.popup__content
			.popup__close.js-popup-close
				+svg('close')
			.js-wrapper
		.popup__layout.js-popup-close

.popup.popup--video.popup--center.js-popup#video
	.popup__backdrop
	.popup__wrapper
		.popup__content
			.popup__close.js-popup-close
				+svg('close')
			.js-wrapper
		.popup__layout.js-popup-close


.popup.popup--media.js-popup#side
	.popup__wrapper
		.popup__content
			.popup__close.js-popup-close
				+svg('close', 'icon icon--close')
			.js-wrapper
		.popup__layout.js-popup-close
