section.feedback-reviews
	.wrapper
		.content.content--larg-t-b
			.feedback-reviews-inner
				.feedback-reviews-arrow.feedback-reviews-arrow--left
					+svg('arr-left')
				.feedback-reviews-arrow.feedback-reviews-arrow--right
					+svg('arr-right')
				.feedback-reviews-slider.js-feedback-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							+feedback-item('Валентин Николаевич купил автомобиль Volkswagen polo в автосалоне vitaauto','У меня остались хорошие впечатления от посещения Вита Авто при покупке автомобиля. Очень доволен я менеджером Геннадием и старшим менеджером Денисом Сергеевичем. Они очень внимательно подошли к моим запросам. Подсказали мне, как лучше выбрать автомобиль. И мы все-таки это сделали. И я им благодарен. Большое спасибо!')
						.swiper-slide
							+feedback-item('Валентин Николаевич купил автомобиль Volkswagen polo','Я, Валентин Николаевич, обслуживался в автосалоне ВитаАвто. Приобрел автомобиль Фольксваген Поло. Я, Валентин Николаевич, обслуживался в автосалоне ВитаАвто. Приобрел автомобиль Фольксваген Поло. Все очень понравилось. Менеджеру Динару большое спасибо Все очень понравилось. Менеджеру Динару большое спасибо Все очень понравилось. Менеджеру Динару большое спасибо')
						.swiper-slide
							+feedback-item('Валентин Николаевич купил автомобиль Volkswagen polo в автосалоне vitaauto','У меня остались хорошие впечатления от посещения Вита Авто при покупке автомобиля. Очень доволен я менеджером Геннадием и старшим менеджером Денисом Сергеевичем. Они очень внимательно подошли к моим запросам. Подсказали мне, как лучше выбрать автомобиль. И мы все-таки это сделали. И я им благодарен. Большое спасибо!')
						.swiper-slide
							+feedback-item('Валентин Николаевич купил автомобиль Volkswagen polo','Я, Валентин Николаевич, обслуживался в автосалоне ВитаАвто. Приобрел автомобиль Фольксваген Поло. Я, Валентин Николаевич, обслуживался в автосалоне ВитаАвто. Приобрел автомобиль Фольксваген Поло. Все очень понравилось. Менеджеру Динару большое спасибо Все очень понравилось. Менеджеру Динару большое спасибо Все очень понравилось. Менеджеру Динару большое спасибо')
						.swiper-slide
							+feedback-item('Валентин Николаевич купил автомобиль Volkswagen polo в автосалоне vitaauto','У меня остались хорошие впечатления от посещения Вита Авто при покупке автомобиля. Очень доволен я менеджером Геннадием и старшим менеджером Денисом Сергеевичем. Они очень внимательно подошли к моим запросам. Подсказали мне, как лучше выбрать автомобиль. И мы все-таки это сделали. И я им благодарен. Большое спасибо!')

					.feedback-reviews-pagination
					.feedback-reviews-navigation
						include navigation-arrows