.taxi-expansion-body.text-elem
	img(src='./images/temp_dir/taxi-exp.jpg')
	p Профессиональная консультация важна и нужна. С ее помощью Вы сможете принимать взвешенные и продуманные решения. У вас будет уверенность в целесообразности их принятия.
	p Наш салон предоставляет Вам возможность получить бесплатную консультацию, информируя Вас по всем вопросам, касающимся приобретения автомобиля под такси в кредит. Стоит отметить, что сотрудники нашей компании являются высококвалифицированными специалистами, а также очень вежливыми и корректными в общении людьми.
