.about
	&__banner
		+bg_cover('../images/temp_dir/about_baner.jpg')
		height: 500px

		+bp(1400px)
			height: 38vw
		
			
	&-banks
		.content 
			border-top: 1px solid $graySecondary
			padding-top: 30px
		h2 
			margin-top: 0
		&__list
			display: flex
			flex-wrap: wrap
			flex-wrap: wrap
			margin: 0 -10px
			padding-top: 7px

			+bp($point-3)
				padding-top: 0
		&__column 
			padding: 0 10px
			width: 25%
			margin-bottom: 20px

			+bp($point-4)
				width: calc(100%/3)


			+bp(600px)
				width: calc(100%/2)
			
			
.bank
	+flex_center_b
	border: 1px solid $graySecondary
	border-radius: $borderLarge
	+size(100%)
	padding: 20px
	box-shadow: $btn-shadow
	height: 120px

	+bp($point-2)
		height: 70px 

	
	
	
