.card-banner
	@include size(100%,230px)
	@include foil
	position: relative
	color: $white
	padding: 0 2px 30px
	
	.wrapper
		position: relative
		z-index: 1
		@include size(100%)
		display: flex
		flex-direction: column
		justify-content: flex-end
	
	&:after
		@include pseudo-element(0,unset,unset,0,100%)
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $black 100%)
		opacity: 0.5
		
	&__title
		margin: 0 0 18px
		letter-spacing: 0.02em
		line-height: 20px
		
	&__discount
		font-weight: 600
		line-height: 1
		margin: 0 0 6px
		
	&__date
		font-weight: 600
		line-height: 1
	
.catalog
	&-list
		margin: 0 -30px
		display: flex 
		flex-wrap: wrap
		align-items: stretch 
	
		&--hiden
			height: 0px
			overflow: hidden 
			transform-origin: 0 0

			.catalog-list__item 
				&:first-child,
				&:nth-child(2)
					.product--line
						border-top: 1px solid $graySecondary

				+bp($point-4)
					&:nth-child(2)
						.product--line
							border-color: transparent


			&.active 
				display: flex 
				height: 100%

	
		&__item
			padding: 0 30px
			width: calc(100%/2) 
			&:after 
				display: none
			
			&:nth-last-child(1),
			&:nth-last-child(2)
				.product--line
					border-color: transparent
			&:first-child 
				margin-top: rem(7px)
			&:not(:last-child)
				margin: rem(7px) 0 
			&:last-child 
				margin: rem(7px) 0
	.btn 
		display: flex

	+bp(1100px) 
		&-list 
			margin: 0 -10px 
			&__item 
				padding: 0 10px

	+bp($point-4)
		&-list 
			display: block 
			margin: 0 
			&__item 
				padding: 0
				width: 100%

				&:nth-last-child(2)
					.product--line
						border-color: $graySecondary
			
.more-models
	margin: 0 0 50px
	
.brand-description
	padding-bottom: 15px

	+bp($point-4)
		h2
			font-size: rem(48px)
			line-height:  rem(48px)

	+bp($point-2)
		margin-top: -15px
		h2
			font-size: rem(30px)
			line-height:  rem(36px)

		
.brand-expansion
	margin: 0 

.brand-info
	margin: 0 0 35px
	
	&--gap
		margin: 20px 0 50px
