.title-decor-card 
	max-width: 430px
	margin-bottom: 50px
	margin-left: -15px

	h1
		display: inline 
		padding: 10px 15px
		background: linear-gradient(to top right, #005408 17.84, #678100 93.2), #E2E2E2
		color: $white
		-webkit-box-decoration-break: clone
		position: relative
		line-height: 1.2
		text-transform: uppercase
		margin: 0
		&:before 
			content: ''
			width: 2000px
			position: absolute 
			top: 0 
			right: 100%
			height: 100% 
			background: inherit

	+bp($point-4)
		max-width: 100%

	+bp($point-3)
		margin-left: -10px
		h1
			padding: 5px 10px

.card-baner
	width: 100%
	.content 
		padding-top: 30px
	
	&__part
		display: flex
		justify-content: space-between 
		align-items: center
	&__left 
		width: 45% 
		padding-top: 80px
	&__right 
		width: 50%
		margin-top: -50px
	&__block-timer 
		display: flex 
		align-items: flex-start 
	&__timer 
		width: 320px 
		margin-right: 20px 
		height: 70px 

	+bp($point-5)
		&__left 
			padding-top: 0px
		&__part 
			padding-top: 40px
		&__right 
			width: 53%
		&__block-timer 
			display: block 
		&__timer 
			margin-bottom: 20px

	+bp($point-4)
		position: relative
		padding-bottom: 160px

		.content 
			padding-bottom: 15px
		.title-decor-card
			margin-bottom: 20px
		&__part 
			display: block
		&__left 
			width: 100% 
		&__right 
			width: 100%
			margin-top: 0
		&__block-timer 
			display: flex
		&__timer 
			margin-bottom: 0px
		&__data 
			width: 100% 
			position: absolute 
			left: 0 
			bottom: 0
			padding: 0 20px 40px

		.step 
			border: none
			.content 
				padding-top: 0
				padding-bottom: 20px
			&-block 
				color: $gray-2

				svg 
					fill: $gray-2
					margin-right: 15px

	+bp(550px)
		padding-bottom: 230px
		&__block-timer 
			display: block
		&__timer 
			margin-bottom: 20px


	+bp($point-2)
		&__data 
			.btn 
				width: 100%
		&__timer 
			transform: scale(1.2)
			transform-origin: 0 0
		&__block-timer 
			.btn 
				margin-top: 12px

	+bp(410px)
		&__timer
			transform: scale(1.09)
		&__block-timer 
			.btn 
				margin-top: 10px

	+bp(360px)
		&__timer
			transform: scale(1)
		&__block-timer 
			.btn 
				margin-top: 0



		
.card-description
	@include flex_center_v
	
	svg
		@include size(25px)
		margin: 0 10px 0 0
		
	p
		white-space: pre-line
		font-weight: 600
		line-height: 12px
		font-size: 12px
		
.card-baner-img
	text-align: center
	overflow: hidden
	
	.swiper-slide
		opacity: 0!important
		
		&-active
			opacity: 1!important
	
.car-description
	@include flex_center_v
	justify-content: space-between
	margin: 0 auto 32px
	max-width: 440px
	
	&__item
		p
			color: $gray
			line-height: 12px
			margin: 0 0 4px
			
		h5
			line-height: 1
			

			
.car-price
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0 0 27px
	
	h2
		letter-spacing: 0.04em
		line-height: 1
	
	h5
		font-weight: 600
		line-height: 1
		letter-spacing: 0.01em
		color: $gray
		
.car-buttons
	color: $white
	
	.btn
		&:first-child
			margin: 0 0 10px
			
		&:last-child
			margin: 0 0 35px
			
.car-info-expansion
	position: relative
	margin: 0
	
	&:after
		@include pseudo-element(0,unset,unset,-18px,calc(100% + 36px),100%)
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), #F2F2F2
		opacity: 0.7
		z-index: -1
		
.car-discount-form
	.content
		border-bottom: 1px solid $graySecondary

		+bp($point-3)
			border: none

	.info-block 
		.content 
			padding: rem(65px) 0
			border-bottom: 1px solid $graySecondary

			+bp($point-3)
				padding: rem(30px) 0
				border: none
	
	&__list
		margin: 0 -10px 
		display: flex 
		flex-wrap: wrap
		padding-top: 15px

		+bp(630px)
			display: block 
			margin-left: 0 
			margin-right: 0
			padding-top: 0

	
	&__total
		width: 25.5%
		padding-right: 20px
		
		
		h2
			color: $red
			margin: 0 

		h5 
			margin-top: 0
			margin-bottom: 10px

		+bp($point-4)
			width: auto 
			margin-right: 30px


		+bp(630px)
			display: flex 
			justify-content: space-between 
			padding-right: 0
			margin-bottom: 17px
			margin-right: 0

	
	&__btn
		margin: 0 0 46px

	&__bottom 
		display: flex
		margin-top: 40px
		align-items: flex-start

		.btn 
			min-width: 242px

		+bp($point-3)
			margin-top: 25px

		+bp(630px)
			display: block 

			.btn 
				width: 100%
		
.car-similar-slide
	&__top 
		display: flex 
		align-items: center 
		padding-right: 25%
		justify-content: space-between

		+bp(1100px)
			padding-right: 18%

		+bp($point-4)
			display: block 
			padding-right: 100px
		+bp($point-3)
			padding-right: 0

	.slider-filter 
		margin-bottom: 0

		+bp($point-4)
			margin-top: -15px 
			margin-bottom: 25px

		+bp($point-2)
			width: 450px 
			margin-top: 0
	&__list 
		+bp($point-2)
			overflow-x: auto

	.content 
		overflow: hidden

	.best-selers
		overflow: visible 

	
	.js-filter-slide
		overflow: visible
		
	.tab
		opacity: 0!important
		
	.swiper-slide-active
		opacity: 1!important
	.swiper-slide.tab.swiper-slide-active
		z-index: 555
	.swiper-slide 
		pointer-events: auto !important


.car-similar-navigation
	position: absolute 
	right: 10px 
	top: -76px
	+bp($point-4)
		top: -62px
	+bp($point-3)
		display: none
		
.card-color
	margin: 15px 0 20px
	+flex_center_v
	justify-content: center
	&__item
		margin: 0 14px
		border-radius: 50%
		+size(16px)
		transition: .3s ease-in-out
		cursor: pointer
		
		&.active
			transform: scale(1.8)
			
			&:after
				+pseudo-element(50%,unset,unset,50%,6px)
				transform: translate(-50%,-50%)
				background-color: $white
				border-radius: 50%
				z-index: 20
	+bp($point-2)
		&__item 
			margin: 0 8px 
			+size(12px)

.card-wrapper 
	position: relative
	padding-top: 110px
	background-color: $grayFoil

	+bp($point-5)
		padding-top: 90px

	+bp($point-3)
		padding-top: 110px

.card-nav 
	display: block 
	width: 100% 
	position: absolute
	top: 30px 
	left: 0
	background-color: $grayFoil
	z-index: 30
	&.fixed 
		position: fixed
		top: 179px

		+bp($point-4)
			top: 121px
		+bp(550px)
			top: 81px

	.content
		padding: 15px 0
	&__list 
		margin: 0 
		display: flex 
	&__item 
		color: $gray-2
		font-weight: 600
		&:after 
			display: none

		&:not(:last-child)
			margin-bottom: 0
			margin-top: 0 
			margin-right: 30px
		.link 
			&.active 
				color: $red

	+bp(755px)
		.content 
			overflow-x: auto
			padding: 0
		&__list 
			width: 695px
			padding: 20px 0

.eqp
	&__top 
		display: flex 
		justify-content: space-between 
		align-items: center

	&-block 
		width: 100% 
		border: 1px solid $graySecondary
		border-radius: $borderLarge 
		background-color: $white 
		box-shadow: $btn-shadow 
		position: relative 
		padding-top: 93px 
		display: flex 
		flex-direction: column 
		justify-content: space-between
		font-size: rem(14px)
		height: 100%

		&--buttons-show
			.eqp-block__list
				li
					&:nth-child(5),
					&:nth-child(6)
						display: none

		&__top 
			width: 100% 
			height: 93px 
			position: absolute 
			left: 0 
			top: 0 
			padding: 20px 23px 10px 23px
			border-bottom: 1px solid $graySecondary

		&__data 
			padding: 25px 23px 0 23px 

		&__buttons 
			padding: 0 23px 25px 23px

		&__title 
			margin-top: 0
			margin-bottom: 5px
			font-weight: 500 

		&__flex-price
			+flex_between_center

			h4,small
				margin: 0 

			h4 
				color: $red 
			small
				color: $blue
		&__line 
			+flex_between_center

		&__buttons 
			.btn
				width: 100%
				margin-top: 10px

		&__list 
			padding-top: 3px
			ul
				margin-bottom: 0px
			li 
				display: none 
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6)
					display: block
		&__buttons-link 
			display: none
	&__more 
		display: none

	&__slider
		overflow: visible 
		.swiper-slide
			height: auto
			opacity: 0.3 
			pointer-events: none
		.swiper-slide-visible
			opacity: 1 
			pointer-events: auto

	+bp($point-5)
		&__slider
			width: 90%
			margin-left: 0

		.content 
			padding: 0

			h2 
				margin-top: 15px

	+bp($point-4)
		&__slider
			width: 90%
			margin-left: 0

	+bp($point-3)
		&__top 
			flex-wrap: wrap
			padding-bottom: 20px
			h2 
				width: 100%
				margin-bottom: 10px
		&__more 
			display: inline-block

			span.hide 
				display: none
			&.active 
				margin-bottom: 20px
		.btn--default 
			display: none

		&-block
			&__list 
				ul 
					margin-bottom: 20px
				&.active 
					li 
						display: block !important
			&__buttons-link 
				display: block
				margin-top: 25px

	+bp(599px)
		&__slider
			margin-left: 0

	+bp($point-2)
		&__top 
			padding-bottom: 7px
		&-navigation
			transform: scale(0.75)
			transform-origin: 100% 50%


.eqp-block--popup 
	display: block
	border: none 
	border-radius: none
	padding-top: 0 
	box-shadow: none

	.eqp-block__top 
		position: static
		height: auto
		padding-left: 0 
		padding-right: 0
		padding-top: 0 
		padding-bottom: 35px 
		position: relative 
		border: none
		&:after 
			content: ''
			+size(1000px,1px)
			position: absolute 
			left: -100px 
			bottom: 0
			background: $graySecondary

	.eqp-block__list 
		li 
			display: block !important

	.eqp-block__buttons-link 
		margin-top: 30px
		display: flex
		justify-content: space-between

		.btn--red 
			width: 60% 
			margin-right: 10px

	.eqp-block__title 
		font-weight: 700
		margin-bottom: 12px

	.eqp-block__price-old 
		color: $gray 
		margin-left: 30px
		small 
			color: inherit

	.eqp-block__flex-price 
		justify-content: flex-start

	.eqp-block__data
		padding-left: 0 
		padding-right: 0

	+bp($point-2)
		.eqp-block__top
			padding-bottom: 25px
		.eqp-block__buttons-link
			margin-top: 20px
			display: block 

			.btn 
				width: 100% 
				margin-right: 0 
				margin-top: 12px 
				&:first-child 
					margin-top: 0

.form-baner
	width: 100%
	background: $blackBg
	color: $white
	position: relative
	margin-top: 30px

	&__content
		padding: 70px 35px 70px 85px  
		max-width: 890px

		h2 
			margin-top: 0 
			margin-bottom: 12px 
		h6  
			margin: 0 
	&__form 
		padding-top: 50px
		max-width: 655px 

	&__part 
		display: flex 
		position: relative 
		padding-right: 60px 
	&__column 
		padding-right: 22px
		width: 50%

	&-rules 
		color: gray

		a
			color: inherit 
			border-color: inherit

			&:hover 
				border-color: transparent
	
	&__data 
		display: flex 
		flex-wrap: wrap
		padding-top: 50px 
		h5 
			margin-right: 30px
			margin-top: 20px
			margin-bottom: 0px
			&:last-child 
				margin-right: 0
		&--line 
			flex-wrap: nowrap
			h5 
				max-width: 304px

	&__picture 
		position: absolute 
		bottom: 0 
		right: 50px

		&--car 
			right: 0
			bottom: 30px

	+bp(1160px)
		&__picture 
			max-width: 250px

	+bp($point-4)
		&__picture 
			display: none 
		&__content
			padding: 50px 40px
		&__form 
			max-width: 100%

		&__data 
			flex-wrap: wrap

	+bp(600px)
		&__content 
			padding: 40px 25px
		&__form 
			padding-top: 10px 
		&__part 
			padding-right: 0 
			display: block
		&__column 
			width: 100%
			padding-right: 0 
		&__data 
			padding-top: 0px



	



		
