.contacts
	position: relative
	width: 100% 
	overflow: hidden
	h1 
		display: none 
		+bp($point-3, 'min')
			display: block 
			margin-top: 0

	&__map
		+size(100%,280px)

		+bp($point-3, 'min')
			width: 115% 
			height: 740px
	.whatsapp,
	.viber
		width: 39px
		height: 32px

		svg 
			+size(19px)

	&__content
		padding: 40px 0px 50px
		display: flex
		flex-direction: column
		width: 350px
	
		&-item
			&:not(:last-child)
				margin: 0 0 40px
			
			p
				margin: 0 0 15px
				line-height: 1
				color: $gray
			h5 
				margin: 0
			h3 
				font-size: rem(18px)
				line-height: rem(20px)
		+bp($point-3, 'min')
			background-color: $white 
			border-radius: 24px 
			padding: 40px 37px 50px

	&__unit
		+bp($point-3, 'min')
			width: 100%
			+center('v')
			left: 0 
			z-index: 5 
			

				
	&__address
			line-height: 19px
			margin: 0 0 12px
			
	&__info
			font-weight: 600
			letter-spacing: 0.4px
		
	&__link
		margin: 15px 0 0
		display: table
		font-size: rem(14px)
		line-height: rem(16px)
		font-weight: 700

	
	&__tel
		margin: 0 0 15px
		a
			display: block
			font-weight: 700
			line-height: rem(20px)
			border: none 
			color: inherit 
			font-size: rem(18px)

			&:hover 
				color: $red
	&__mail 
		color: inherit
		font-size: rem(18px) 
		font-weight: bold
		border-color: inherit
		&:hover 
			color: $red
			border-color: transparent
