.feedback
	width: 100%

	h1 
		margin-top: 30px

	&__wrapper 
		width: 100% 
		overflow: hidden
		display: flex 
		flex-wrap: wrap 
		align-items: flex-start

	&__sizer 
		width: 32%

	.gutter-sizer
		margin-right: 1.5%


	&-item-main 
		width: 32%
		background: #EFF4FD 
		border-radius: 24px 
		padding: 30px
		overflow: hidden
		margin-bottom: 20px

		.link 
			font-size: 14px
			font-weight: 600 
			margin-top: 17px
			display: inline-block

		&__youtube 
			margin: -30px -30px 0

			iframe 
				width: 100%

		&__top
			+flex_between_center
			img 
				width: 70px 
				height: 70px 
				border-radius: 50%
				overflow: hidden
		&__bottom 
			h5 
				margin-top: 25px
		&__video
			color: $red 
			font-weight: 700
			display: flex 
			align-items: center 
			border: none 
			cursor: pointer
			svg 
				+size(30px)
				fill: $red 
				margin-right: 15px

	+bp(850px)
		&__sizer 
			width: 48%
		&-item-main 
			width: 48%

		.gutter-sizer
			margin-right: 2%

	+bp(550px)
		&__sizer 
			width: 100%
		&-item-main 
			width: 100%
			position: static !important

		.gutter-sizer
			margin-right: 0%
		
