.baner
	width: 100%
	color: $white

	.swiper-slide 
		.baner-block__data 
			margin-top: -20px
	
	&-block
		width: 100%
		@include foil
		position: relative

		.wrapper
			position: relative
			height: 500px
			display: flex
			align-items: center
		
		// &:after
		// 	@include pseudo-element(0,unset,unset,0,100%)
		// 	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $black 100%)
		// 	opacity: 0.5

		&__data 
			max-width: 475px
			position: relative 
			z-index: 6

		.btn 
			position: absolute 
			bottom: 45px 
			left: 20px

	.swiper-pagination
		+center('h')
		bottom: 72px 
		z-index: 5
		display: flex
		width: auto
		justify-content: center

	.swiper-pagination-bullet
		display: block
		+size(8px)
		border-radius: 50% 
		background-color: $white 
		cursor: pointer 
		margin: 0 14px
		&.swiper-pagination-bullet-active
			transform: scale(2.2)

	+bp($point-4)
		&-block 
			background-position: 55% 50%
		.wrapper
			flex-direction: column
			align-items: flex-start 
			justify-content: flex-end
			padding-bottom: 70px 
		.btn 
			position: static 
			margin-top: 30px
		.swiper-pagination
			bottom: 28px 
			justify-content: flex-start
			left: 10px 
			transform: none

	+bp($point-2)
		.wrapper
			height: 400px

	
		
.main
		
.brand-slide
	overflow: unset
	.swiper-slide
		height: auto
		
.info-slider
	overflow: unset
	.swiper-wrapper
		align-items: stretch 
	.swiper-slide
		height: auto

	+bp($point-5)
		max-width: 568px 
		margin-left: 0
		.swiper-wrapper
			overflow: visible
		.swiper-slide 
			transform: scale(0.9)
			transition: 0.3s
		.swiper-slide-active
			transform: scale(1)

	+bp(660px)
		padding-right: 40px

	+bp(550px)
		padding-right: 0px


.best-selers
	padding: 0 10px
	margin-left: -10px
	margin-right: -10px
	.swiper-wrapper
		padding-bottom: 30px
		align-items: stretch 
	.swiper-slide 
		height: auto

	+bp($point-3)
		width: 533px 
		overflow: visible

	+bp(533px)
		width: 80%




.best
	.wrapper
		max-width: 1300px
	&-top 
		+flex_between_center
		padding: 0 10px

	+bp(1280px)
		&-top 
			padding: 0

	+bp(600px)
		.slider-arrow 
			display: none


.services-wrapper
	background-color: $grayFoil
	border-top: 1px solid $graySecondary
	border-bottom: 1px solid $graySecondary

	.wrapper
		max-width: 1300px

.services-slider
	.bordered-card--icon
		color: inherit



	+bp(1280px)
		margin-left: -10px
	+bp($point-5)
		max-width: 400px 
		overflow: unset

		.swiper-slide 
			transform: scale(0.9)
			transition: 0.3s
		.swiper-slide-active
			transform: scale(1)

		.swiper-wrapper
			overflow: visible
	+bp($point-2)
		max-width: 320px

.brand 
	+bp($point-4)
		.content
			padding: rem(45px) 0

		.categories
			&-list 
				display: flex 
				flex-wrap: nowrap
				overflow-y: auto
				border-top: none

				.slick-list 
					overflow: visible 
					max-width: 100%

				.slick-slide 
					margin-right: 20px

			&-item 
				padding: 0
				border: none 
				min-width: 120px
				margin-right: 20px
				&:nth-child(odd)
					border: none

			&-block
				width: 100%
				height: 120px
				border-radius: $borderLarge
				overflow: hidden
				padding: 10px 
				border: 2px solid $btn-bor
				box-shadow: $btn-shadow
				justify-content: center
				transition: 0s
				h6 
					display: none
				img 
					margin-right: 0
				&:hover 
					border: 2px solid $btn-bor
					box-shadow: $btn-shadow-hov

	+bp(550px)
		.content 
			padding: rem(40px) 0 rem(20px)
		.categories
			&-list 

				.slick-slide 
					margin-right: 14px

			&-block 
				height: 86px 
			&-item 
				min-width: 86px
				margin-right: 12px

.swiper-pagination-bullet
	&:focus 
		outline: none



	
			
			

	
	


