.services
	padding-bottom: 30px
	h1 
		margin-top: 30px
	&__block-list 
		display: flex 
		flex-wrap: wrap 
		margin: 0 -10px 

	&__column 
		width: calc(100%/3)
		padding: 0 10px 
		margin-bottom: 20px
		
		.bordered-card--icon
			color: $blackBg

	+bp($point-4)
		padding-bottom: 10px
		&__column 
			width: calc(100%/2)
		h1 
			margin-top: 10px

	+bp(600px)
		&__column 
			width: 100%