.taxi
	&-slider 
		.baner-block
			&:after 
				content: ''
				+size(100%)
				+foil 
				background-image: url('../images/shadow.png')
				position: absolute 
				top: 0 
				left: 0 
				z-index: 2
			&__data 
				max-width: 550px
				
	.slider-filter
		margin: 0 0 45px

		a 
			font-weight: 500
		
	&__wrapper
		display: flex 
		flex-wrap: wrap
		margin: 0 -10px 20px
		
		&--hidden
			display: none

			&.active 
				display: flex

	&-column 
		width: calc(100%/3)
		padding: 0 10px
		margin-bottom: 20px
		
	&__btn
		margin: 0 0 25px
		font-weight: 500

	.btn 
		width: 100%


	+bp(1024px)
		&-column 
			width: 50%

	+bp(700px)
		&-column 
			width: 100%

	+bp($point-2)
		.slider-filter 
			padding-bottom: 15px
			margin-bottom: 15px
			width: 450px
		&__filter 
			overflow-x: auto

		&__btn 
			margin-bottom: 10px
		
.taxi-item
	+size(100%)
	padding: 33px 33px 100px 
	padding-bottom: 100px
	border: 1px solid $graySecondary
	border-radius: $borderBase
	box-shadow: $btn-shadow
	position: relative
	overflow: hidden
	
	&:not(:last-child)
		margin: 0 0 10px
		
	.btn
		margin: 25px 0 0
		width: 100%
		
	& > p
		margin: 2px 0 19px
		line-height: 1.47
		
	& > img
		margin: 0 0 20px
		
	&__line
		+flex_center_v
		justify-content: space-between
		
		&--gutter
			margin: 0 0 7px
			color: $gray
		
		h4
			margin-top: 0
			margin-bottom: 7px
			
		small
			margin-top: 0
			
		p
			color: $gray

		h5 
			margin: 0
	&__engine
		font-weight: 500
	&__top 
		margin-bottom: 27px
	&__start 
		color: $red
		font-weight: 600
	&__spec-price 
		color: $red
	&__image 
		margin: 0 -30px
		text-align: center
	&__button 
		padding: 0 33px 28px
		width: 100% 
		position: absolute 
		left: 0 
		bottom: 0

	+bp($point-5)
		&__line 
			h5 
				font-size: rem(15px)

	+bp(1024px)
		&__line 
			h5 
				font-size: rem(18px)

	+bp(810px)
		&__line 
			h5 
				font-size: rem(15px)

	+bp($point-2)
		padding: 20px 20px 85px 

		&__button 
			padding: 0 20px 20px
		&__image 
			margin: 0
		&__line 
			h5 
				font-size: rem(14px)

.taxi-info
	background: $grayFoil
	border-top: 1px solid $btn-bor 
	border-bottom: 1px solid $btn-bor

	&__wrapper 
		display: flex
		flex-wrap: wrap

	&__item 
		width: 50% 
		padding-right: 30px

	+bp($point-3) 
		.content 
			padding-top: 20px
		ul 
			margin-bottom: 0

	+bp($point-2)
		&__item 
			width: 100%
		.content 
			padding-top: 10px



		
.taxi-expansion
	.expansion__item
		&:first-child 
			border-top: none
	+bp($point-3)
		.content 
			padding: 10px 0
		
.taxi-expansion-body
	img
		margin: 0 0 12px
