.trade
	&__banner
		+bg_cover('../images/temp_dir/trade_banner.jpg')
		height: 500px

		+bp(1400px)
			height: 38vw
		
	.section-title
		max-width: 213px
		margin: 0 0 16px
		
	&__text
		line-height: 1.47
		margin: 0 0 45px
		
	&__list
		margin: 0 0 45px
		
	&__btn
		min-width: 360px
		font-weight: bold

		+bp($point-2)
			min-width: 0
			width: 100% 
			font-size: rem(16px)

		
	&-feedback
		margin: 0 0 50px

	&-about

		&__block-list 
			display: flex
			flex-wrap: wrap
			margin: 0 -10px 

		&__column 
			width: calc(100%/4)
			padding: 0 10px
			margin-bottom: 20px

	+bp(1024px)
		&-about
			&__column 
				width: calc(100%/2)

	+bp(600px)
		&-about
			&__column 
				width: calc(100%)
