.used-cars

	h1 
		margin-top: 30px

	&__list
		display: flex
		flex-wrap: wrap
		margin: 0 -10px
	
	&__column 
		padding: 0 10px
		width: calc(100%/3)
		margin-bottom: 20px
		
	&__pagination
		margin: 0 0 24px
		
	&__btn
		font-weight: 500

	&__select-column 
		width: calc(100%/3)
		padding-right: 20px

	&__bottom 
		display: flex 
		margin: 0 -10px
		padding-top: 30px 

	&__bottom-item 
		width: calc(100%/3)
		padding: 0 10px

		.btn 
			width: 100%

	+bp($point-4)
		&__bottom
			display: block 
			margin: 0 

		&__bottom-item 
			width: 100% 
			padding: 0

	+bp(800px)
		&__column 
			width: 50%
		&__select-column 
			width: 50%
	+bp($point-2)
		&__bottom 
			padding-bottom: 30px 
			padding-top: 15px

	+bp(550px)
		&__column 
			width: 100%
		&__select-column 
			width: 100%

		.swiper-slide 
			img 
				width: 100%



	
		
