.used-car
	padding: 15px 0 0
	
	.back
		margin: 0 0 13px
		
	&__banner
		border-radius: $borderLarge
		overflow: hidden

		
		.swiper-pagination-bullets
			width: 100% 
			display: flex 
			justify-content: center
			position: absolute
			bottom: 27px
			left: 0
			right: 0
			margin: 0 auto
			z-index: 5
			
			.swiper-pagination-bullet
				display: block
				background-color: $white
				@include size(8px)
				opacity: 1
				margin: 0 15px
				border-radius: 50%
				transform-origin: 50% 50%
				transition: .3s linear
				cursor: pointer
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
				
				&-active
					background-color: $red
					transform: scale(1.4)
		.swiper-slide 
			img 
				border-radius: $borderLarge

	&__part 
		display: flex 
		justify-content: space-between 
		align-items: flex-start

	&__left 
		width: 57% 
	&__right 
		width: 35%
					
	&__content
		h1 
			margin-top: 28px
			margin-bottom: 24px
		h2 
			margin-bottom: 30px

		ul 
			display: flex 
			flex-wrap: wrap
			margin-top: 20px

			li 
				width: 50%
				padding-right: 25px

				&:not(:last-child)
					margin: 8px 0 
				&:last-child 
					margin: 8px 0

		
					
	&__btn
		display: flex 
		
		.btn
			font-weight: bold
			
			&:first-child
				margin-right: 10px
				min-width: 220px 
				

	&__navigation 
		+center('v')
		width: 100% 
		left: 0 
		z-index: 4 
		padding: 0 35px

		.navigation-arrows
			display: flex 
			justify-content: space-between

	+bp($point-5)
		&__right 
			width: 40%
		&__btn 
			.btn
				&:first-child 
					min-width: 0

	+bp($point-4)
		&__part 
			display: block 
			position: relative
			padding-top: 15px 
			.link--back 
				position: absolute 
				left: 0 
				top: -20px
		&__navigation
			display: none
		&__left 
			width: 100% 
		&__right 
			width: 100%
		&__banner 
			img 
				width: 100%
		&__btn 
			.btn
				&:first-child 
					min-width: 220px

	+bp($point-3)
		&__content
			h1 
				margin-top: 20px
				margin-bottom: 15px
			h2 
				margin-bottom: 20px
				margin-top: 20px
			ul 
				margin-top: 0 
				margin-bottom: 0


	+bp(600px)
		&__banner 
			.swiper-pagination-bullets
				.swiper-pagination-bullet
					+size(4px)
					margin: 0 10px

	+bp($point-2)
		&__content 
			ul 
				display: block 

				li 
					width: 100% 
					padding-right: 0

		&__btn
			display: block
			.btn 
				width: 100%
				height: 48px
				&:first-child
					margin-bottom: 12px
					margin-right: 0px
					height: 60px
				
.used-car-about
	padding-bottom: 30px
	h5 
		margin-bottom: 30px 
		margin-top: 10px
	
	&__content
		display: flex
		margin: 0 -10px 

	&__column 
		width: calc(100%/3)
		padding: 0 10px

	+bp($point-4)
		h5 
			margin-top: 0
		&__content 
			display: block 
			margin: 0 
		&__column 
			width: 100% 
			padding: 0 
			margin-bottom: 20px 
			&:last-child 
				margin-bottom: 0




.car-complectation
	.content 
		padding-top: 0
	&__list-block
		font-size: rem(14px)
		ul 
			margin-left: 0 
			padding-left: 25px
			overflow: hidden

			&.active 
				overflow: visible
				height: auto !important
	.expand-list
		margin-left: 25px 
		font-weight: bold
		margin-top: -10px 

	+bp($point-4)
		&__list-block 
			padding-bottom: 30px

	+bp(961px, 'min')
		&__list-block 
			ul
				column-count: 4
				column-gap: 60px
				-webkit-column-break-inside: avoid
				-webkit-backface-visibility: hidden
				overflow: visible
				height: auto !important
				margin-left: 25px 
				padding-left: 0

				li 
					page-break-inside: avoid
					break-inside: avoid
					padding-right: 20px
		.expand-list 
			display: none !important

	+bp($point-2)
		h2 
			margin-top: 15px
		.content 
			padding-bottom: 15px
