.utilization
	&__banner
		+bg_cover('../images/temp_dir/utilization_banner.jpg')
		height: 500px

		+bp(1400px)
			height: 38vw

		
	&__about
		border-radius: $borderBase
		border: 1px solid $graySecondary
		box-shadow: 0 10px 18px -10px rgba(0, 0, 0, 0.15)
		padding: 26px 17px 45px 19px
		margin: 0 0 30px
		
		p
			margin: 0 0 18px
			
	&__btn
		margin: 0 0 40px
		
.utilization-type
	padding-top: 20px
	padding-bottom: 30px

	.services__block-list
		max-width: 922px
	
	.util-item
		display: block
		width: 100% 
		height: 100% 
		border: 1px solid $graySecondary
		border-radius: $borderLarge
		padding: 30px
		box-shadow: $btn-shadow 

		
		&:not(:last-child)
			margin: 0 0 35px
	
		&__icon
			+size(90px)
			border-radius: $borderBase
			overflow: hidden
			position: relative
			margin-bottom: 20px
			+flex_center_b
			padding: 10px
			
			&:after
				+pseudo-element(0,unset,unset,0,100%)
				background-color: #195FE8
				opacity: 0.07
			
			img
				+size(43px,auto)
				
		h5
			margin: 0 0 12px
			
		p 
			color: $gray
			margin-bottom: 3px 
			margin-top: 0
			&:last-child 
				margin-bottom: 0

	+bp(600px)
		padding-bottom: 0
		padding-top: 10px
		.util-item
			display: flex 
			align-items: center
			padding: 0 
			border: none 
			border-radius: none 
			box-shadow: none 
			&__icon 
				margin: 0 25px 0 0
