.footer
	background-color: $blackBg
	color: $white
	.wrapper
		padding: 0

	&__nav

		a 
			color: $white 
			border: none 
			&:hover 
				color: $red
				opacity: 1
	
	&__gray
		display: block
		opacity: .5
		font-weight: 500
		text-align: right
		
		&--small
			max-width: 267px
			font-weight: 500
			line-height: 16px
			margin: 0 0 25px
		
	&__top
		padding: 17px 20px
		@include flex_center_v
		justify-content: space-between
		svg
			fill: $white
			@include size(80px,40px)
			transform: translateX(-12px)
		p 
			margin: 0

		&--descktop
			display: none
			
	&__time
		margin-bottom: 28px
		.footer__gray 
			text-align: left
			margin: 0
			font-size: rem(15px)
		
	&__tel
		margin: 0 0 15px
		font-size: rem(18px)
		display: flex 
		flex-direction: column
		.link 
			margin-bottom: 7px 
			&:last-child 
				margin-bottom: 0
	&__text 
		color: $white 
		opacity: 0.5
		p 
			line-height: 1.7
			
	&__social
		margin: 0 0 29px
		a 
			border: none
		
	&__direction
		margin: 0 0 31px
		font-size: rem(15px)
		
	&__agreement
		margin: 0 0 25px
		
	&__creation
		display: flex
		font-size: rem(15px)
		span 
			padding-right: 5px
			opacity: 0.3
		
	&__list
		padding: 0px 0 28px 10px
		margin: 0

		&--column 
			display: flex
			flex-wrap: wrap
			margin: 0 -10px 

			li 
				padding: 0 10px
				width: calc(100%/3)
				margin-top: 0 !important

				// &:first-child 
				// 	margin-top: round($baseGutter*0.45)

				// 	+bp(481px, 'min')
				// 		margin-top: round($baseGutter*0.75)

		
		li
			&:after 
				display: none
			a
				display: block
				font-weight: 600
				font-size: rem(15px)

				h5 
					font-size: inherit 
					font-weight: normal

				+bp(350px)
					font-size: rem(14px)


		
	&__catalog
		display: flex
		justify-content: space-between

	&__unit-list 
		margin: 0

	&__unit-body 
		padding: 0 20px
		display: none

	&__unit-item 
		list-style: none  
		border-top: 2px solid $graythird

		&:not(:last-child)
				margin: 0
		&:last-child 
			margin: 0
			border-bottom: 2px solid $graythird

		&:first-child 
			display: none


		a 
			border: none

		&:after 
			display: none


	&__unit-head 
		padding: 19px 20px
		+flex_between_center
		cursor: pointer 
		svg 
			+size(12px,18px)
			stroke: $white
			transform: rotate(-90deg)
			transition: 0.3s
		h5 
			font-weight: 600

		&.active
			svg 
				transform: rotate(90deg)

	&-data 
		padding: 39px 20px

	&__address
		display: none 


	+bp(551px, 'min')
		&__top 
			padding: 55px 30px 40px
			svg 
				+size(150px,63px)

		&__unit-head, 
		&__unit-body 
			padding-left: 40px 
			padding-right: 40px

		&__unit-head
			padding-top: 35px 
			padding-bottom: 35px
			h5 
				font-size: rem(24px)
			svg 
				+size(16px, 20px)
		&__list 
			padding-bottom: 25px
		&__gray 
			font-size: rem(20px)
			line-height: rem(24px)
		&__time 
			margin-bottom: 35px
			.footer__gray 
				font-size: rem(28px)
		&-data 
			padding: 60px 40px 80px
		&__tel 
			font-size: 36px
			margin-bottom: 27px
		&__direction
			font-size: rem(24px)
			margin-bottom: 42px
		&__social 
			margin-bottom: 45px
		&__creation 
			font-size: rem(24px)
		&__text
			font-size: rem(18px)
			line-height: rem(32px) 
			p 
				font-size: inherit
				line-height: inherit

	+bp(600px, 'min')
		&__list 
			&--column
				li 
					width: calc(100%/4)

	+bp(850px, 'min')
		&__list 
			&--column
				li 
					width: calc(100%/5)

	+bp(961px, 'min')
		.wrapper 
			padding: 0 20px
		&__top 
			display: none 
			&--descktop 
				display: flex
				padding: 0
				justify-content: flex-start 
				align-items: center

			svg
				+size(90px, 38px)
				margin-right: 30px

		&__unit-item 
			border: none
			width: 55%
			&:first-child 
				display: block 
				width: 11% 
			&:nth-child(2)
				width: 24%
			&--mobile 
				display: none

		&__unit-body 
			display: block !important
			padding: 0

		&__unit-head 
			pointer-events: none 
			padding: 0

			svg 
				display: none

			h5 
				font-size: rem(14px)
				line-height: rem(16px)
				margin-bottom: rem(30px)
				font-weight: 700

		&__nav 
			padding: 60px 0 40px

		&__list 
			padding: 0

			&--column 
				li 
					width: calc(100%/5)

			li
				a 
					opacity: 0.5 
					font-size: rem(14px)
					line-height: rem(18px)
					font-weight: 500

		&__unit-list 
			display: flex 
			justify-content: space-between

		&-data 
			padding: 49px 0 
			position: relative 
			&:before 
				content: ''
				width: 3000px 
				height: 1px 
				+center('h')
				top: 0 
				background-color: $gray 
				opacity: 0.3

		&__flex 
			display: flex 
			justify-content: space-between
			align-items: flex-start
			&--reverse 
				flex-direction: row-reverse
				margin-bottom: 50px

		&__flex-left 
			width: 57% 

		&__flex-right
			width: 39%
			text-align: right
			&--column 
				display: flex 
				flex-direction: column

		&__direction 
			margin-bottom: 0 
			font-size: rem(14px)
			line-height: rem(18px)

		&__creation
			font-size: rem(14px)
			line-height: rem(18px)
			justify-content: flex-end

		&__gray
			font-size: rem(14px)
			line-height: rem(16px)
			color: $white 
			font-weight: 600
			opacity: 1

		&__text 
			font-size: rem(14px)
			line-height: rem(18px)
			opacity: 0.5
			font-weight: 500 

			p 
				margin: rem(23px) 0 0

		&__contact 
			+flex_end_center
			order: 1
			margin-bottom: 26px
			padding-top: 4px

		&__tel 
			display: flex 
			align-items: center
			flex-direction: row
			font-size: rem(18px)
			line-height: rem(20px)
			margin-bottom: 0
			.link 
				order: 2
				margin-right: 22px
				margin-bottom: 0
				white-space: nowrap 
				font-weight: 700
				&:last-child 
					order: 1

		&__social 
			margin-bottom: 0

		&__time 
			order: 3
			margin-bottom: 0
			.footer__gray
				font-size: rem(14px)
				line-height: rem(18px)
				opacity: 0.5
				font-weight: 500
				text-align: right 

		&__location
			+flex_end_center
			order: 2
			margin-bottom: 25px

		&__address 
			display: block
			margin-right: 22px
			color: $white 
			address
				font-style: normal
				font-size: rem(14px)
	+bp(1200px, 'min')
		&__unit-item 
			&:first-child 
				width: 8%
			&:nth-child(2)
				width: 19%
			&:nth-child(3)
				width: 60%
		&__list
			&--column 
				li 
					width: calc(100%/7)


	


		
.social
	display: flex

	.whatsapp,.viber
		@include flex_center_b
		margin-right: 8px
		@include size(39px,32px)
		border-radius: $borderBase
		transition: .3s linear
		
		svg
			fill: $white
			@include size(19px)
			transition: .3s linear

		+bp(551px, 'min')
			+size(78px,64px)
			margin-right: 14px

			svg 
				+size(38px)

		+bp(911px, 'min')
			+size(37px,30px)
			margin-right: 14px
			border-radius: $borderLarge

			svg 
				+size(18px)
	
	.whatsapp
		background-color: #0B9F16
		
		&:hover
			background-color: $white
			svg
				fill: #0B9F16
	
	.viber
		background-color: #7B519F
		
		&:hover
			background-color: $white
			svg
				fill: #7B519F

		+bp(911px, 'min')
			margin-right: 0
		
