.header
	width: 100%
	background-color: $white
	position: fixed
	left: 0
	top: 0
	z-index: 100
	border-bottom: 1px solid $graySecondary
	transition: .3s ease-in-out
	
	&.js-header-btn
		padding: 7px 18px 7px 13px
		
		.header__logo
			position: relative
			top: -5px

	&__part 
		+flex_between_center
		font-size: 16px
		padding: 25px 0

		&--nav 
			border-top: 1px solid $graySecondary

			.nav 
				width: 100%
				margin-left: 0


	&__logo
		transition: .3s ease-in-out
		@include size(129px,auto)
		margin-left: -16px
		border: none
		svg
			@include size(100%)
			fill: $blackBg

	&__block-phone 
		font-size: 1rem 
		margin-left: 25px
	&__number 
		margin-right: 36px
		font-weight: bold
		white-space: nowrap
		&:last-child 
			margin-right: 0

	&__phone
		display: none
		@include size(50px)

		svg
			@include size(100%)
			fill: $red
			transition: .3s linear

		&:hover
			svg
				fill: $blue
				
	&__btn
		margin: 11px 0 0
		flex: 0 0 100%
		display: none
		
		&-container
			+flex_center_v
			
		.btn
			&:first-child
				margin: 0 3px 0 0
			&:last-child
				margin: 0 0 0 3px

	&__menu 
		+bp(961px, 'min')
			display: none !important


	&__nav
		font-weight: 600
		&--top
			margin-left: 40px
	&__button 
		padding: 0 32px 0 21px
		svg 
			fill: $blackBg
		svg:nth-child(2)
			transform: scale(0.5)
			display: none
			stroke: $blackBg
		&:hover 
			svg
				stroke: $white

	&-sub-catalog 
		display: none
		position: fixed
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: rgba(0, 9, 22, 0.50)
		z-index: 2

	+bp(1100px)
		&__number 
			margin-right: 10px
		&__nav 
			margin-left: 7px

	+bp($point-4)
		&__phone 
			display: block
			border: none
		&__nav
			margin-left: 0
			&--top 
				display: none !important
		&__part 
			height: 120px
			position: relative 
			padding-right: 83px
			&--nav 
				border: none 
				padding: 0 
				height: auto
		&__number 
			display: none
		&__button 
			padding: 0
			svg 
				&:first-child 
					display: block !important 
				&:nth-child(2)
					display: none !important
		&-sub-catalog 
			display: none !important

	+bp(550px)
		&__part 
			height: 80px
			&--nav 
				height: auto

	+bp(550px)
		&__part 
			padding-right: 35px 
		&__phone 
			width: 25px 
			height: 25px
		&__logo 
			margin-right: 0px
			width: 90px




.menu
	cursor: pointer
	+center('v')
	right: 0 
	z-index: 4
	&__line
		@include size(30px,4px)
		background: $blackBg
		border-radius: $borderMedium
		transform-origin: 50% 50%

		&--small
			width: 19px

		&:not(:last-child)
			margin-bottom: 5px
			
	&--close
		.menu__line
			&:first-child
				transform: rotate(45deg) translate(0, 7px)
			&:last-child
				transform: rotate(-45deg) translate(0, -6px)

	+bp(550px)
		&__line 
			width: 17px 
			height: 2px 
			&:not(:last-child)
				margin-bottom: 3px

			&--small
				width: 9px

		&--close
			.menu__line
				&:first-child
					transform: rotate(45deg) translate(0, 3px)
				&:last-child
					transform: rotate(-45deg) translate(0, -4px)


			
.nav
	display: block

	+bp(961px, 'min')
		display: block !important

	h3
		font-weight: bold
		position: relative
		
	&__top-menu
		display: none
		position: relative

	&__list 
		+flex_center_v 
		margin: 0 -23px
		&--line 
			+flex_between_center
		
	
	&__item
		padding: 13px 0
		font-size: 0.889rem
		padding: 0 23px
		font-size: 0.889rem
		&:after 
			display: none
		&:not(:last-child)
			margin: 0
		&:last-child 
			margin-bottom: 0
			margin-top: 0
		.link 
			white-space: nowrap
		
		&--light
			padding: 13px 0 13px 38px
			display: none
			
		h5
			font-weight: 500
			font-size: inherit
		
		a
			@include flex_center_v
			width: 100%
			border: none

		
		svg
			@include size(36px)
			margin: 0 20px 0 0
			display: none

	+bp(1100px)
		&__item 
			padding: 0 10px
		&__list 
			margin: 0 -10px
 
	+bp($point-4)
		display: none
		position: fixed
		left: 0
		top: 0
		padding: 0
		background-color: $white
		overflow-y: auto
		overflow-x: hidden
		z-index: 100
		@include size(100%,100vh)
		&__top-menu
			@include flex_center_v
			justify-content: space-between
			height: 120px 
			padding: 0 60px
			.menu 
				right: 52px 
			h2 
				margin: 0


		&__list 
			padding: 40px 60px 
			border-top: 1px solid $graySecondary
			margin: 0
			display: block
		&__item 
			padding: 0
			&:not(:last-child)
				margin-bottom: 40px
			


			svg 
				display: block

			h5 
				font-size: 24px
				font-weight: 700

			.link 
				&:hover 
					svg 
						fill: $red

			&--light 
				display: block
				font-weight: 500 
				&:not(:last-child)
					margin-left: 56px
				&:last-child 
					margin-left: 56px

				h5 
					font-weight: inherit

	+bp(550px)
		&__item 

			&:not(:last-child)
				margin-bottom: 25px
			h5 
				font-size: 20px 
			svg 
				+size(27px)
				margin-right: 15px

			&--light
				&:not(:last-child)
					margin-left: 42px
				&:last-child 
					margin-left: 42px

		&__list 
			padding: 30px 20px

		&__top-menu
			height: 80px 
			padding: 0 20px 
			.menu 
				right: 18px

		



