.btn
	display: inline-flex
	align-items: center
	justify-content: center
	font-family: $baseFont
	color: inherit
	font-size: $btn-fs
	font-weight: 500
	text-align: center
	white-space: nowrap
	cursor: pointer
	padding: 0 25px
	border-bottom: none
	border-radius: $btn-border-radius
	height: 48px
	transition: $transition
	
	&[disabled]
		opacity: .5
		pointer-events: none
	
	&--default
		border: 1px solid $btn-bor
		box-shadow: $btn-shadow

		&:hover
			background-color: $btn-red
			color: $white
			box-shadow: none
			
	&--red
		background-color: $btn-red
		color: $white
		
		&:hover
			color: $white
			background-color: $btn-red-hover

	&--blue
		background-color: $btn-blue
		color: $white
		
		&:hover
			color: $white
			background-color: $btn-blue-hover
			
	&--sz-l
		font-size: $btn-fs-sz-l
		height: 60px
		border-radius: $borderLarge

		+bp($point-2)
			font-size: $btn-fs
			height: 48px
			border-radius: $borderBase

	&--b-r
		color: $blackBg
		border: 1px solid $btn-red
		border-radius: $borderBase
		position: relative
		&:after
			content: ''
			width: 80%
			height: 80%
			position: absolute
			+center('h')
			bottom: -1px
			box-shadow: 0px 3px 12px rgba(224, 33, 56, 0.5)
			z-index: 1
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			border-radius: 7px
			top: 0
			left: 0
			z-index: 2
			background-color: $white
			transition: $transition

		svg
			@include size(25px)
			margin: 0 20px 0 0
			position: relative
			z-index: 3
			transition: $transition
		h6
			margin: 0
			position: relative
			z-index: 3

		&:hover
			background-color: $red
			color: $white
			svg
				fill: $white
			&:before
				background-color: transparent

		+bp($point-4)
			border: none
			padding: 0
			height: auto
			&:before,
			&:after
				display: none

			svg
				+size(42px)
				margin-right: 12px
			h6
				font-size: rem(36px)
				line-height: rem(26px)
				font-weight: bold

			&:hover
				background-color: transparent
				svg
					fill: $red
				h6
					color: $red

		+bp(550px)
			svg
				+size(26px)
				margin-right: 10px
			h6
				font-size: rem(18px)
	&--icon
		font-size: rem(18px)

		svg
			+size(22px)
			fill: $white
			margin-right: 27px


.form-submit-icon
	width: 60px
	min-width: 60px
	padding: 0
	position: absolute
	right: 0
	bottom: 0

	svg
		+size(28px)

	+bp(600px)
		display: block
		position: static
		width: 100%
		margin-top: 20px

		svg
			+size(22px)





		
