.form-field
	position: relative
	display: block
	width: 100%
	height: 100%
	padding-bottom: 10px
	
	&[disabled]
		opacity: .5
		pointer-events: none

	&__input
		font-family: $baseFont
		display: block
		width: 100%
		height: 55px
		padding-top: 17px
		border-bottom: 1px solid $input-bor-color
		color: $white
		font-size: $input-fs
		transition: .3s linear
		
		&:focus
			border-color: $input-bor-color-focus
			box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1)

		&.input--error
			border-color: $input-color-error
			color: $input-color-error
		
	&__label
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		padding: 0
		display: flex
		align-items: center
		width: 100%
		height: 100%
		font-size: $input-fs
		will-change: transform
		transform-origin: 0 0
		transition: .3s linear
		color: $input-color
		
	&__icon
		position: absolute
		top: 0
		bottom: 0
		right: 16px
		margin: auto 0
		width: 24px
		height: 24px
		opacity: 0
		transition: .3s linear
		
		svg
			width: 100%
			height: 100%
			fill: transparent
		
	&--focused
		.form-field__label
			transform: translate(0,-4px) scale(0.7)

	label.error
		position: absolute
		bottom: -4px
		left: 0
		font-size: rem(12px)
		color: $input-color-error
		
	&--error
		.form-field__label
			color: $input-color-error
			transform: translate(0,-4px) scale(0.7)
	
		.form-field__input
			border-color: $input-color-error
			box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1)
			
		.form-field__icon
			opacity: 1
			color: $input-color-error
			
