a 
	display: inline
	color: $link-color
	text-decoration: none
	transition: 0.4s ease
	outline: none
	border-bottom: 1px solid $link-color
	&:hover
		color: $link-color-hover
		border-color: transparent

.link
	display: inline
	color: $link-color
	text-decoration: none
	transition: 0.4s ease
	outline: none
	border-bottom: 1px solid $link-color
	font-size: inherit
	
	&:hover,
	&.active
		color: $link-color-hover
		border-color: transparent


	&--default 
		color: inherit 
		font-size: inherit
		border: none


	&--white 
		color: $white 
		border: none
		&:hover 
			color: $red 

	&--white-b 
		color: $white 
		border-bottom: 1px solid rgba(255, 255, 255, 0.3)
		&:hover 
			color: $red 
			border-color: transparent
		
	&--arrow
		display: flex
		align-items: center
		border-color: transparent
		font-weight: 500
		
		svg
			margin: 0 0 0 12px
			transform: rotate(-90deg)
			width: 11px
			height: 6px
			fill: transparent

	&--back 
		border: none 
		display: flex 
		align-items: center
		font-size: 14px 
		color: $blackBg
		svg 
			+size(11px)
			margin-right: 14px	
			transition: inherit 

		&:hover
			color: $blue 
			svg
				fill: $blue
				transform: translateX(-5px)	
		

