.close-icon
	padding: 6px
	width: 18px
	height: 18px
	color: $close-icon-color
	cursor: pointer
	transition: .3s linear
	box-sizing: content-box
	
	&:hover
		color: $close-icon-color-hover
	
	svg
		width: 100%
		height: 100%
		
.navigation-arrows
	width: 100%
	min-width: 88px
	position: relative
	display: inline-flex
	align-items: center
	
	&__item
		+flex_center_b
		padding: 6px
		cursor: pointer
		width: 48px
		height: 48px
		transform-origin: 50%
		transition: .3s linear
		border-radius: $borderLarge
		border: 1px solid $graySecondary
		box-shadow: $btn-shadow

		&:focus 
			outline: none
		
		svg
			width: 18px
			height: 18px
			stroke: $blackBg
			fill: transparent
			transition: .3s linear

		&:hover 
			svg 
				stroke: $blue
			
		&:first-child
			margin-right: 12px
			&:hover
				svg
					transform: translateX(-5px)
			
		&:last-child
			svg
				transform: rotate(-180deg)
			
			&:hover
				svg
					transform: rotate(-180deg) translateX(-5px)

.navigation--white
	.navigation-arrows__item 
		background-color: $white
		svg
			stroke: $blackBg