include mixins/svg
include mixins/blocks

block vars
	-
		var title = title || ''
		var description = description || ''
		var image = image || ''
	-
		var html = {
			attrs: {
				lang: 'ru'
			},
			classList: []
		}
	-
		var body = {
			attrs: {},
			classList: []
		}
	-
		var meta = {
			charset: 'utf-8',
			description: description,
			keywords: [],
			ogTitle: title,
			viewport: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1',
			XUACompatible: 'IE=edge'
		}
	-
		var link = {
			icon: '',
			icon16x16: '',
			icon32x32: '',
		}

doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start
		block meta
			if meta.charset
				meta(charset=meta.charset)
			if meta.XUACompatible
				meta(http-equiv="X-UA-Compatible" content=meta.XUACompatible)
			if meta.viewport
				meta(name="viewport" content=meta.viewport)
			if meta.description
				meta(name="description" content=meta.description)
		title
			= title
		block links
			if link.icon
				link(rel="icon" href=link.icon)
			if link.icon16x16
				link(rel="icon" href=link.icon16x16 sizes="16x16")
			link(rel="stylesheet" href="css/main.css?v=" + Date.now())
		script.
			window.__app = {"TEMPLATE_URI": "./"};
			window.selectData = {
				'brands': [
					{
						'name': 'Brilliance',
						'id': '0'
					},
					{
						'name': 'Kia',
						'id': '1'
					},
					{
						'name': 'Changan',
						'id': '2'
					},
					{
						'name': 'Lada',
						'id': '3'
					},
					{
						'name': 'Chery',
						'id': '0'
					},
					{
						'name': 'Lifan',
						'id': '1'
					},
					{
						'name': 'Chevrolet',
						'id': '2'
					},
					{
						'name': 'Mazda',
						'id': '3'
					},
					{
						'name': 'Citroen',
						'id': '0'
					},
					{
						'name': 'Mitsubishi',
						'id': '1'
					},
					{
						'name': 'Datsun',
						'id': '2'
					},
					{
						'name': 'Nissan',
						'id': '3'
					},
					{
						'name': 'Dongfeng',
						'id': '0'
					},
					{
						'name': 'Opel',
						'id': '1'
					},
					{
						'name': 'DWHower',
						'id': '2'
					},
					{
						'name': 'Peugeot',
						'id': '3'
					},
					{
						'name': 'FAW',
						'id': '0'
					},
					{
						'name': 'Ravon',
						'id': '1'
					},
					{
						'name': 'Ford',
						'id': '2'
					},
					{
						'name': 'Renault',
						'id': '3'
					},
					{
						'name': 'Foton',
						'id': '2'
					},
					{
						'name': 'Skoda',
						'id': '3'
					},
					{
						'name': 'Geely',
						'id': '2'
					},
					{
						'name': 'SsangYong',
						'id': '3'
					},
					{
						'name': 'Great Wall',
						'id': '2'
					},
					{
						'name': 'Suzuki',
						'id': '3'
					},
					{
						'name': 'Haima',
						'id': '2'
					},
					{
						'name': 'Toyota',
						'id': '3'
					},
					{
						'name': 'Haval',
						'id': '2'
					},
					{
						'name': 'UAZ',
						'id': '3'
					},
					{
						'name': 'Honda',
						'id': '2'
					},
					{
						'name': 'Volkswagen',
						'id': '3'
					},
					{
						'name': 'Hyundai',
						'id': '2'
					},
					{
						'name': 'Zotye',
						'id': '3'
					}, {
						'name': 'JAC',
						'id': '2'
					}
				],
				'models':[
					{
						'name': 'A210',
						'id': '0',
						'class':['0','2']
					},
					{
						'name': 'c310',
						'id': '0',
						'class':['0','1','2']
					},
					{
						'name': 'A3',
						'id': '1',
						'class': ['0']
					},
					{
						'name': 'A6',
						'id': '1',
						'class': ['0','2']
					},
					{
						'name': 'X6',
						'id': '2',
						'class': ['0', '1', '2']
					},
					{
						'name': 'M8',
						'id': '2',
						'class': ['0']
					},
					{
						'name': 'Model 3',
						'id': '3',
						'class': ['0', '1', '2']
					},
					{
						'name': 'Model X',
						'id': '3',
						'class': ['0']
					}
				],
				'classes': [
					{
						'name': 'Classic',
						'id': '0'
					},
					{
						'name': 'Comfort',
						'id': '1'
					},
					{
						'name': 'Premium',
						'id': '2'
					}
				]
			}
		block head-end
	body(class=body.classList)&attributes(body.attrs)
		.page
			block header
				include template/header
			main.main#main
				block content
			block footer
				include template/footer
			block popup
				include particles/popups
			block scripts
				script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
				script(src="js/vendor.js?v=" + Date.now())
				script(src="js/main.js?v=" + Date.now())
			block body-end
