mixin brand-logo-item(logo)
	a.brand-logo-item(href='#!')
		img(src=logo, alt='vitaauto img')


mixin info-item(cl,title,text,image)
	.info-item(class=cl)
		.info-item__text
			h4=title
			p
				small!=text
		.info-item__img
			img(src=image, alt='vitaauto image')


mixin product(cl,image,description,type,text,price,discount)
	a.product(href='#!', class=cl)
		.product__data
			.product__image
				img(src=image)
			.product__block-desc
				.product__desc
					p
						small=description
					h4=type
				.product__text
					p
						small=text
		.product__price
			h3=price
			if discount
				p.crossed
					small=discount

mixin service-item(image,title)
	.service-item
		img(src=image, alt='vitaauto image')
		.service-item__bottom
			h4!=title

mixin car-model(image,title,type,description,price)
	a.car-model(href='#!')
		.car-model__img
			img(src=image)
		.car-model__content
			p.car-model__type=type
			h3.car-model__title=title
			p.car-model__description=description
			h4.car-model__price=price

mixin feedback-item(title,text)
	.feedback-reviews-item
		h6 Отзывы
		h3=title
		p=text

mixin car-model-select(dataArray)
	.car-model-select.js-parent
		input(type='text' hidden)
		.car-model-select__selected.js-car-select
			h4.js-text
				| 1.6 TURBO MT&nbsp;
				span Sport
			+svg('arrow')
		ul.car-model-select__list.js-car-list
			for data,index in dataArray
				li.car-model-select__item.car-data.js-car-item(class=data.isActive ? 'active' : null, data-value=index)
					.car-data__top
						h3.js-engine=data.engine
						h5=data.discount
					.car-data__bottom
						h4.js-type=data.type
						h4=data.price

mixin select-flat(text,options,name,info)
	.select-flat(data-info=info)
		input.js-group.js-select-group(type='text', name=name, required)
		.select-flat__top.js-select(data-placeholder=text)
			h4!=text
			+svg('arrow')
		ul.select-flat__list.js-select-list
			if options.length
				each item,index in options
					li.js-select-item(class=item.isActive ? 'active' : null, data-value=index): h4!=item.text
			else
				li: h4 Список пуст

mixin link-select()
	.link-select.js-parent
		input(type='text' hidden)
		.link-select__top.js-car-select
			p.js-text Все марки
			+svg('arrow')
		ul.link-select__list.js-car-list
			li.link-select__item.js-car-item(data-value='0')
				a.link.link--default(href='#!'): h5 Все марки
			li.link-select__item.js-car-item.active(data-value='1')
				a.link.link--default(href='#!'): h5 BMW
			li.link-select__item.js-car-item(data-value='2')
				a.link.link--default(href='#!'): h5 Audi
			li.link-select__item.js-car-item(data-value='3')
				a.link.link--default(href='#!'): h5 Mercedes Benz
			li.link-select__item.js-car-item(data-value='4')
				a.link.link--default(href='#!'): h5 Tesla

mixin discount-item(type,from,price,dataPrice,checked)
	.discount-item
		.discount-item__block
			.discount-item__text
				h5=type
				p
					small=from
			h4=price
			.discount-item__checkbox
				label.form-checkbox.js-checkbox(data-price=dataPrice)
					input.form-checkbox__input(type='checkbox' checked=checked)
					span.form-checkbox__checkmark

mixin used-car-item(img,title, aboutList, price)
	.used-cars__column
		.used-car-items
			.swiper-container.used-car-items__galery.js-used-car
				.swiper-wrapper
					.swiper-slide
						img(src=img)
					.swiper-slide
						img(src='images/temp_dir/used-8.jpg')
					.swiper-slide
						img(src='images/temp_dir/used-6.jpg')
					.swiper-slide
						img(src='images/temp_dir/used-4.jpg')
					.swiper-slide
						img(src='images/temp_dir/used-5.jpg')
				.swiper-pagination
			.used-car-items__data
				h4=title
				.list-small
					ul.used-car-items__list
						for item in aboutList
							li=item
				h4=price
			.used-car-items__btn
				a.btn.btn--red Заказать авто
				a.btn.btn--blue В кредит от 3,5%

mixin bordered-card(title, text, icon,cl,isLink)
	if !isLink
		.bordered-card(class=cl)
			if icon
				.bordered-card__icon
					+svg(icon)
			h4=title
			p!=text
	else
		a.bordered-card(class=cl, href='#!')
			if icon
				.bordered-card__icon
					+svg(icon)
			h4=title
			p!=text

mixin bank(img)
	.bank
		img(src=img)

mixin taxi(data)
	.taxi-column
		.taxi-item
			.taxi-item__top
				.taxi-item__line
					h4!=data.title
					small.taxi-item__start!=data.type
				small.taxi-item__engine!=data.engine
			.taxi-item__image
				img(src=data.img)
			.taxi-item__bottom
				.taxi-item__line.taxi-item__line--gutter
					small!=data.loan_percent
					small!=data.loan_payment
				.taxi-item__line
					h5!=data.loan_day
					h5.taxi-item__spec-price!=data.price
			.taxi-item__button
				a.btn.btn--blue.js-popup-link(data-href='popup-taxi.html' data-target='center'): strong Купить в кредит

mixin feedback-item-main(data)
	.feedback-item-main.js-grid__item
		if !data.isVideo
			.feedback-item-main__top
				img(src=data.img)
				if data.videoPopup
					a.feedback-item-main__video.js-popup-link(data-href='video-popup.html' data-target='video')
						+svg('video')
						small Видео отзыв
		else if data.isVideo
			.feedback-item-main__youtube
				iframe(width="560" height="315" src="https://www.youtube.com/embed/WMxRcIvSNlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		.feedback-item-main__bottom
			h5!=data.title
			if data.text
				.js-text-expand
					small!= data.text

mixin categories-block(img,name)
	a.categories-block(href="#")
		img(src=img, alt="image")
		h6=name

mixin baner-block(foil,h1,h3,h5,tag)
	.baner-block(style=foil)
		.wrapper
			.baner-block__data.title-decor
				h1=h1
				.title-decor__line
				h3=h3
				.title-decor__line-two
				h5=h5
			if tag
				a.btn.btn--red.btn--sz-l.js-popup-link(data-href="popup-offer.html" data-target='center') Получить специальное предложение


mixin stepBlock(cl, tit, icon, name)
	.step-block(class=cl, title=tit)
		+svg(icon)
		h6=name


mixin eqp(cl,name,price,old,li1,li2,li3,li4,li5,li6,li7,li8,li9,li10,tag)
	.eqp-block(class=cl)
		.eqp-block__top
			h6.eqp-block__title=name
			.eqp-block__flex-price
				.eqp-block__price
					h4=price
				.eqp-block__price-old
					small.crossed=old
		.eqp-block__data
			.eqp-block__line
				span Бензин
				span 140 л.с.
				span МКПП 5
				span Передний
			.eqp-block__list.list-small.js-list-hide
				ul
					li=li1
					li=li2
					li=li3
					li=li4
					li=li5
					li=li6
					li=li7
					li=li8
					li=li9
					li=li10
			a.link.eqp__more.js-expand(href="#")
				span Посмотреть все
				span.hide Скрыть
		.eqp-block__buttons
			if tag
			.eqp-block__buttons-link
				a.btn.btn--red.js-popup-link(data-href='popup-discount.html' data-target='center') Заказать авто
				a.btn.btn--blue.js-popup-link(data-href='popup-loan.html' data-target='center') В кредит от 3,5 %
			a.btn.btn--default.js-popup-link(href='#' data-href='eqp-ajax-example.html' data-target='side') Подробнее


