.bordered-card
	display: block
	padding: 45px 40px 25px
	border-radius: $borderBase
	border: 1px solid $graySecondary
	overflow: hidden
	box-shadow: $btn-shadow
	height: 100%
	transition: 0.3s ease

	&:hover 
		border-color: $graySecondary
		box-shadow: $btn-shadow-hov
	
	&--icon
		padding: 30px 30px 10px

		h4 
			font-size: rem(18px)
			line-height: rem(20px)
		p
			font-size: rem(14px)
			line-height: rem(18px)
	
	&__icon
		+size(90px)
		border-radius: $borderBase
		overflow: hidden
		position: relative
		margin: 0 0 30px
		+flex_center_b
		padding: 10px
		
		&:after
			+pseudo-element(0,unset,unset,0,100%)
			background-color: #195FE8
			opacity: 0.07
			
		svg
			+size(100%)
			fill: $blue

		+bp(600px)
			+size(60px)
			margin-bottom: 22px
	
	&:not(:last-child)
		margin: 0 0 10px

	h4 
		margin-top: 0

	+bp($point-2)
		padding: 25px 25px 10px 
		
