.brand-logo-item
	@include size(60px)
	border: 1px solid $graySecondary
	position: relative
	border-radius: $borderBase
	background-color: $white
	@include flex_center_b
	padding: 9px
	
	&:after
		@include pseudo-element(unset,0,0,0,85%,70%)
		box-shadow: $shadow
		margin: 0 auto
		z-index: -1
		transition: .3s linear
		
	&:hover
		&:after
			@include size(100%)
