.car-model-select
	@include size(100%,48px)
	border-radius: $borderBase
	border: 1px solid $red
	background-color: $white
	position: relative
	margin: 12px 0 20px
	cursor: pointer
	
	&:after
		@include pseudo-element(unset,0,-1px,0,90%,70%)
		box-shadow: 0 1px 6px rgba(224, 33, 56, 0.5)
		border-radius: $borderBase
		opacity: .9
		margin: 0 auto
		z-index: -1
		transition: .3s linear
	
	&:hover
		&:after
			@include size(100%)
			
	&__selected
		padding: 0 16px 0 18px
		@include flex_center_v
		@include size(100%)
		justify-content: space-between
		position: relative
		
		&:after
			z-index: 10
			@include pseudo-element(0, 0, 0, 0, 100%)
		
		h4
			span
				font-size: inherit
				color: $red
		
		svg
			fill: $red
			stroke: $red
			@include size(8px,4px)
			
			
	&__list
		position: absolute
		left: -1px
		top: -2px
		z-index: 20
		padding: 0 24px
		@include size(calc(100% + 2px), auto)
		background-color: $white
		border: 1px solid $graySecondary
		border-radius: $borderBase
		display: none
		
	&__item
		&:not(:last-child)
			border-bottom: 1px solid $graySecondary
			
		&.active
			position: relative
			
			&:after
				@include pseudo-element(-1px, unset, unset, -18px, calc(100% + 36px), calc(100% + 2px))
				border-radius: $borderBase
				border: 1px solid $red
				box-shadow: 0 7px 20px -8px rgba(224,33,56,.5)
	
.car-data
	padding: 20px 0 16px
	&__top,&__bottom
		display: flex
		justify-content: space-between
		align-items: flex-start
	
	&__top
		margin: 0 0 2px
		position: relative
		
		&:after
			z-index: 10
			@include pseudo-element(0, 0, 0, 0, 100%)

		h3
			line-height: 1
			
		h5
			font-weight: 500
			line-height: 1.47
			text-decoration-line: line-through
			color: $gray
			
	&__bottom
		h4
			&:first-child
				color: $red
		
.select-flat
	position: relative
	display: block
	cursor: pointer
	
	.error
		position: absolute
		bottom: -14px
		left: 0
		font-size: rem(12px)
		color: $input-color-error
	
	input
		position: absolute
		left: -300vw
		
		
	.input--error ~ .select-flat__top
		border-bottom: 1px solid $red!important
		color: $red!important
	
	&__top
		height: 48px
		+flex_center_v
		justify-content: space-between
		border-bottom: 1px solid $gray
		color: $gray
		
		h4
			font-weight: 500
			margin: 0
			line-height: 1
			font-size: $p-fs
		
		svg
			fill: transparent
			stroke: $red
			@include size(14px,12px)
			transform: rotate(-90deg)
			
		&.selected
			h4
				color: $white
			
	&__list
		display: none
		border-radius: $borderBase
		border: 1px solid $gray
		padding: 48px 0 0
		position: absolute
		top: 0
		left: - 19px
		z-index: 2
		+size(calc(100% + 38px),auto)
		max-height: 300px
		overflow-y: auto
		margin: 0
		
		&::-webkit-scrollbar
			width: 5px
	
		&::-webkit-scrollbar-track
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
		
		&::-webkit-scrollbar-thumb
			background-color: darkgrey
			outline: 1px solid slategrey
		
		&:after
			border-radius: $borderBase
			overflow: hidden
			z-index: -1
			+pseudo-element(49px,unset,unset,0,100%,calc(100% - 49px))
		
		li
			color: $white
			height: 48px
			padding: 0 19px
			+flex_center_v
			position: relative
			background-color: $blackBg
			
			&:not(:last-child)
				margin: 0
			
			h4
				font-weight: 500
				font-size: $p-fs
				line-height: rem(18px)
			
			&.active
				&:before
					+pseudo-element(unset,unset,-1px,0,100%,calc(100% + 2px))
					border-radius: $borderBase
					border: 1px solid $red
					z-index: 1
			
			&:not(:last-child)
				&:after
					+pseudo-element(unset,unset,0,0,100%,1px)
					border-bottom: 1px solid $gray
					opacity: 0.3

					
.link-select
	@include size(100%,48px)
	border-radius: $borderBase
	border: 1px solid $red
	background-color: $white
	position: relative
	margin: 30px 0
	
	&:after
		@include pseudo-element(unset,0,-1px,0,90%,70%)
		box-shadow: 0 1px 6px rgba(224, 33, 56, 0.5)
		border-radius: $borderBase
		opacity: .9
		margin: 0 auto
		z-index: -1
		transition: .3s linear
	
	&:hover
		&:after
			@include size(100%)
			
	&__top
		height: 48px
		padding: 0 19px
		+flex_center_v
		justify-content: space-between
		
		p
			line-height: 48px
			margin: 0
		
		svg
			fill: transparent
			stroke: $red
			@include size(14px,12px)
			transform: rotate(-90deg)
			
	&__list
		width: calc(100% + 2px)
		background-color: $white
		border-radius: $borderBase
		border: 1px solid $graySecondary
		position: absolute
		left: -1px
		top: -1px
		z-index: 10
		padding: 5px 19px
		display: none
		margin: 0
		
	&__item
		height: 48px
		+flex_center_v

		&:after
			opacity: 0
		
		&:not(:last-child)
			border-bottom: 1px solid $graySecondary
			margin: 0

		&:last-child
			margin: 0
			
		h5
			font-weight: 500
			font-size: 16px
			margin: 0
			
		&.active
			position: relative
			
			&:after
				opacity: 1
				@include pseudo-element(-1px, unset, unset, -16px, calc(100% + 32px), calc(100% + 2px))
				border-radius: $borderBase
				border: 1px solid $red
				box-shadow: 0 7px 20px -8px rgba(224,33,56,.5)
				background: none
		
