.car-model
	@include flex_center_v
	justify-content: space-between
	
	&__img
		flex: 1 0 109px
		margin: 0 23px 0 0
		
	&__content
		padding: 0 21px 0 0
		
	&__type
		color: $gray
		margin: 0 0 4px
		line-height: 12px
		
	&__title
		line-height: 1
		margin: 0 0 9px
		
	&__description
		margin: 0 0 12px
		
	&__price
		color: $red
		
