.categories
	width: 100% 
	position: absolute 
	left: 0 
	top: 110px
	background: $white
	display: none
	z-index: 100

	&-list 
		display: flex
		flex-wrap: wrap
		margin: 0 -20px
		padding: 25px 0

	&-item 
		width: calc(100%/9)
		padding: 0 5px

	&-block 
		display: inline-flex 
		align-items: center
		border: 1px solid transparent
		padding: 0 23px 0 15px 
		height: 48px 
		overflow: hidden
		border-radius: $borderBase
		color: $blackBg
		img 
			width: 22.36px 
			margin-right: 8px
		h6 
			font-size: rem(14px)
			line-height: rem(16px)
			font-weight: 700
			margin: 0
			white-space: nowrap

		&:hover 
			border-color: $graySecondary
			box-shadow: 0 7px 15px -5px rgba(0,0,0,.12)
	
	&__top
		display: none
		overflow-y: auto
		overflow-x: hidden

	+bp(1170px)
		&-item 
			width: calc(100%/8)

			
	
	+bp($point-4)
		width: 100% 
		height: 100vh
		position: fixed 
		top: 0 
		left: 0 
		overflow-x: hidden 
		overflow-y: auto
		padding: 0
		.wrapper
			padding: 0
		&__top
			height: 120px
			@include flex_center_v
			justify-content: space-between
			padding: 0 33px
			position: relative

			.menu 
				right: 25px

			.btn--b-r
				svg
					+size(55px)
					margin-right: 28px


		&-list 
			border-top: 1px solid $graySecondary
			padding: 0
			margin: 0 

		&-item 
			width: 50% 
			border-bottom: 1px solid $graySecondary
			padding: 0 33px
			&:nth-child(odd)
				border-right: 1px solid $graySecondary

		&-block 
			display: flex 
			width: 100% 
			border-radius: none 
			height: 90px
			border: none
			padding: 0
			&:hover 
				border: none 
				box-shadow: none

			img 
				width: 62px 
				margin-right: 27px 

			h6 
				font-size: rem(24px)
				line-height: rem(30px)

	+bp(550px)
		&__top
			height: 80px
			padding: 0 20px

			.btn--b-r
				svg
					+size(33px)
					margin-right: 14px

		&-item 
			padding: 0 20px 
		&-block 
			height: 48px 

			h6 
				font-size: rem(16px)
				line-height: rem(20px)

			img 
				width: 33px 
				margin-right: 14px


