.content 
	padding-top: rem(30px)
	padding-bottom: rem(30px)

	&--larg-b
		padding-bottom: rem(60px)

	&--larg-t-b
		padding-top: rem(60px)
		padding-bottom: rem(60px)

	&--larg-b-t
		padding-top: rem(30px)
		padding-bottom: rem(0px)
		

	&--larg-b-b
		padding-bottom: rem(40px)

	&--small
		padding-bottom: rem(15px)
		padding-top: rem(15px)

	&--small-t-b
		padding-top: rem(0px)
		padding-bottom: rem(30px)

	+bp($point-3)

		&--larg-b
			padding-top: rem(0px)
			padding-bottom: rem(30px)

		&--larg-t-b
			padding-top: rem(20px)
			padding-bottom: rem(30px)

		&--larg-b-b
			padding-bottom: rem(30px)

		&--larg-b-b
			padding-top: rem(10px)
