.discount-item
	width: calc(100%/4)
	padding: 0 10px
	margin-bottom: 20px
	&__block
		@include flex_center_h
		justify-content: space-between
		padding: 25px 25px 20px 25px
		border: 1px solid $graySecondary
		border-radius: $borderLarge
		min-height: 175px 
		display: flex 
		flex-direction: column 
		align-items: stretch
		position: relative
		height: 100%
		box-shadow: $btn-shadow

		h4 
			margin: 0
	
	&__text	
		max-width: 170px
		small
			color: $blue
			font-weight: 700
		h5 
			margin-top: 0
			margin-bottom: 10px
		p 
			margin-bottom: 10px


	&__checkbox
		position: absolute 
		right: 25px 
		top: 25px 


	+bp($point-5)
		width: calc(100%/3)

	+bp(900px)
		width: calc(100%/2)

	+bp(630px)
		width: 100%
		padding: 0

		&__text 
			max-width: 100%

		&__block
			min-height: 0

	+bp($point-2)
		&__block 
			padding: 15px
			padding-right: 50px
		&__checkbox
			right: 15px 
			top: 15px
			width: 28px

