.expansion
	position: relative
	margin: 0
	
	&--dark
		.expansion
			&__item
				&:first-child 
					border-top: none

			&__head
				svg
					fill: transparent
					stroke: $blackBg
					
	&--blue
		&:after
			background: $gray
			opacity: 0.1
		
		.expansion
			&__item
				&:after
					background: $gray
					opacity: 0.1
			
			&__head
				color: $blue
				svg
					fill: transparent
					stroke: $blue
					
	// &:after
	// 	@include pseudo-element(0,unset,unset,-20px,calc(100% + 40px),1px)
		
	&__item
		position: relative
		border-bottom: 1px solid $graySecondary
		padding-bottom: rem(50px)
		&:first-child 
			border-top: 1px solid $graySecondary
		&:not(:last-child)
			margin: 0
		&:last-child 
			margin: 0
			border-color: transparent
		
		&:after
			display: none
			
	&__head
		@include flex_center_v
		justify-content: space-between
		padding: 50px 70px 0 0
		cursor: pointer
		
		&.active
			svg
				transform: rotate(90deg)
		
		h5
			font-weight: 700

		h4 
			margin: 0
		
		svg
			transition: .3s ease-out
			@include size(18px,14px)
			min-width: 18px
			transform: rotate(-90deg)
			
	&__body
		padding-top: rem(30px)
		display: none

	+bp($point-4)
		margin: 0 -20px
		&__head 
			padding: 30px 20px 0 20px

			h5
				font-size: rem(24px)
				line-height: rem(25px)
				padding-right: 20px

		&__body 
			padding-left: 20px 
			padding-right: 20px

		&__item 
			padding-bottom: 30px

	+bp($point-2)
		&__head
			h5 
				font-size: rem(18px)
				line-height: rem(20px)
		&__body 
			padding-top: 20px


		
