.expansion-body
	
	.swiper-container
		overflow: hidden

	.card-swiper-wrapper
		margin-bottom: 45px
		padding-bottom: 33px
		position: relative

		+bp($point-2)
			margin-bottom: 0 
			padding-bottom: 30px
		
	.tab
		opacity: 0!important
		
	.swiper-slide-active
		opacity: 1!important
	
	&__slide
		margin: 0

	h2 
		margin-top: rem(20px)
		max-width: 710px

		+bp($point-2)
			margin-top: 0

	.swiper-pagination-bullets
		display: flex 
		justify-content: center
		position: absolute 
		width: 100%
		left: 0 
		bottom: 34px
		
		.swiper-pagination-bullet
			background-color: $graySecondary
			@include size(8px)
			border-radius: 50%
			margin: 0 27px
			transform-origin: 50% 50%
			transition: .3s linear
			
			&-active
				opacity: 1
				background-color: $red
				transform: scale(1.3)

			+bp($point-4)
				margin: 0 5px

		+bp($point-2)
			bottom: 5px
				

	.card-slider-navigation
		position: absolute 
		top: 42% 
		z-index: 5
		width: 92%
		left: 50% 
		transform: translateX(-50%)
		.navigation-arrows
			display: flex 
			justify-content: space-between

		+bp($point-4)
			display: none
		
.data-table
	padding: 27px 0 24px
	position: relative
	
	&:after
		@include pseudo-element(0,unset,unset,-18px,calc(100% + 36px),1px)
		border-top: 1px solid $graySecondary
	
	h3
		margin: 0 0 16px
	
	&__line
		@include flex_center_v
		justify-content: space-between
		
		h5
			line-height: 30px

.unit-list 
	column-count: 3
	-webkit-column-break-inside: avoid
	-webkit-backface-visibility: hidden
	max-width: 1190px
	margin-top: 20px

	&__item 
		margin-bottom: 40px
		width: 100%
		padding-right: 20px
		-webkit-column-break-inside: avoid
		page-break-inside: avoid 
		break-inside: avoid

		h5 
			margin-top: 0 

	&__block 
		display: flex 
		justify-content: space-between 
		position: relative 
		margin-bottom: 16px
		max-width: 300px 
		&:last-child 
			margin-bottom: 0

		small 
			position: relative 
			z-index: 2
			background-color: $grayFoil 
			&:first-child 
				padding-right: 8px 
			&:last-child 
				padding-left: 8px
				text-align: right

	&__line 
		position: absolute 
		width: 100% 
		top: 10px 
		left: 0 
		z-index: 1 
		height: 1px 
		background: $graySecondary

	+bp($point-4)
		column-count: auto 
		display: flex 
		flex-wrap: wrap
		margin-left: -20px 
		margin-right: -20px

		&__item 
			width: calc(50% - 40px) 
			margin: 0 20px 30px 20px
			padding: 0

		&__block 
			max-width: 100%

	+bp(650px)
		display: block
		margin: 0 0 20px 0
		&__item 
			width: 100%
			margin-left: 0 
			margin-right: 0

			&:last-child 
				margin-bottom: 0

