.feedback-reviews
	padding-bottom: 20px
	&-inner
		border-radius: 24px
		overflow: hidden
		padding: 70px 30px 47px
		background: #EFF4FD
		position: relative

	&-slider 
		max-width: 825px 
		margin: 0 auto
		position: relative 
		z-index: 3
		padding-bottom: 15px

		.swiper-slide 
			opacity: 0 !important 

		.swiper-slide-active 
			opacity: 1 !important


	&-arrow 
		position: absolute
		+size(111px,100px)

		svg 
			width: 100% 
			height: 100%

		&--left 
			left: 50px 
			top: 0 

		&--right 
			right: 50px 
			bottom: 0

	&-pagination 
		+center('h')
		bottom: 37px 
		display: inline-flex 
		z-index: 10

		.swiper-pagination-bullet
			width: 8px 
			height: 8px 
			border-radius: 50%
			display: block 
			margin: 0 15px 
			background-color: $blackBg 
			opacity: 0.15 
			cursor: pointer
			&:first-child 
				margin-left: 0px
			&:last-child 
				margin-right: 0

		.swiper-pagination-bullet-active
			transform: scale(1.4)
			background-color: $red
			opacity: 1

	&-item
		@include size(100%)
		position: relative
		
			
		h6
			color: $red
			font-size: rem(14px)
			line-height: rem(16px)
			margin: 0
			
			
		p 
			font-size: rem(16px)
			line-height: 1.7

		h3 
			margin: rem(27px) 0 rem(18px)
			
		&-main
			border-radius: $borderLarge
			position: relative
			overflow: hidden
			
			&:not(:last-child)
				margin: 0 0 10px
			
			&:after
				@include pseudo-element(0,unset,unset,0,100%)
				background-color: #195FE8
				opacity: 0.07
				z-index: -1
			
			&__youtube
				+size(100%,260px)
				margin: 0 0 22px
				position: relative
				padding: 0 0 91%
				
				iframe
					position: absolute
					left: 0
					top: 0
					+size(100%)
				
			&__bottom
				padding: 0 27px 25px
				
				h3
					margin: 0 0 16px
					line-height: 22px
					
				h5
					line-height: 1.47
					font-weight: 500
				
			&__top
				padding: 20px 27px 16px 20px
				+flex_center_v
				justify-content: space-between
				
				img
					+size(48px)
					border-radius: 50%
			
			&__video
				+flex_center_v
				svg
					+size(25px)
					fill: $red
					margin: 0 10px 0 0
					
				h5
					color: $red

	+bp($point-5)
		&-arrow 
			+size(70px,60px)

			&--left
				left: 30px 

			&--right
				right: 30px

	+bp($point-4)
		&-arrow 
			+size(111px,110px)

			&--left
				left: 175px 
				top: -7px

			&--right
				right: 55px
				bottom: -7px

		&-inner
			padding: 70px 50px 0px 
		&-navigation 
			display: none 

		&-pagination 
			left: 4px
			transform: none 
			bottom: 40px

		&-slider 
			padding-bottom: 120px


		h6
			font-size: rem(24px)
			line-height: rem(40px)
				
		p 
			font-size: rem(24px)
			line-height: rem(36px)

		h3 
			font-size: rem(36px)
			line-height: rem(44px)

	+bp(550px)
		&-arrow 
			+size(70px,60px)

			&--left
				left: 105px 

			&--right
				right: 15px

		&-inner
			padding: 40px 25px 0px  

		&-pagination 
			bottom: 30px


		&-slider 
			padding-bottom: 50px


		h6
			font-size: rem(16px)
			line-height: rem(18px)
				
		p 
			font-size: rem(14px)
			line-height: rem(18px)

		h3 
			font-size: rem(20px)
			line-height: rem(24px)

		&-pagination 
			.swiper-pagination-bullet
				margin: 0 4px

		
	
	
