.info-item
	@include size(100%,100%)
	border-radius: 24px
	position: relative 
	color: $white 
	padding: 25px 20px 25px 34px
	display: flex 
	align-items: center 
	justify-content: center
	overflow: hidden
	min-height: 200px

	&--blue
		background-color: $blue
		padding-right: 15px
		&:after
			@include pseudo-element(-74px,-211px,unset,unset,424px)
			background: radial-gradient(50% 50% at 50% 50%, #167DCC 0%, rgba(0, 209, 255, 0) 100%)
		
	&--red 
		background-color: $red 

		.info-item__img 
			min-width: 143px
			+bp(550px)
				min-width: 80px

	&--dark 
		background-color: $blackBg
		padding-right: 0

	&__text, 
	&__img 
		position: relative 
		z-index: 2

	&__img 
		min-width: 164px
		text-align: right

	&__text 
		h4 
			margin-top: 0 
		p 
			margin-bottom: 0

	+bp($point-5)
		min-height: 280px
		&__text 
			h4 
				font-size: rem(30px)
				line-height: rem(36px) 
			p 
				font-size: rem(20px)
				line-height: rem(30px)

	+bp(550px)
		min-height: 150px
		padding-left: 25px
		border-radius: 12px
		&__text 
			h4 
				font-size: rem(18px)
				line-height: rem(20px) 
			p 
				font-size: rem(14px)
				line-height: rem(18px) 
		&__img 
			min-width: 100px



