.pagination
	+flex_center_v
	position: relative
	border-radius: $borderBase
	
	&:after
		+pseudo-element(0,unset,unset,0,100%)
		border: 1px solid $graySecondary
		border-radius: $borderBase
		z-index: -1
	
	a
		flex: 1
		height: 60px
		+flex_center_b
		font-size: rem(16px)
		position: relative
		border-bottom: none
		color: inherit

		&:hover 
			color: $red

		&:first-child 
			display: none
		
		&:not(:last-child)
			border-right: 1px solid $graySecondary
			
		&.prev
			border-right-color: transparent
			
		&.active
			border-right-color: transparent
			color: $blackBg
			
			&:after
				+pseudo-element(0,unset,unset,0,100%)
				border: 1px solid $blackBg
				border-radius: $borderBase
				z-index: 2

	+bp($point-2)
		a
			height: 48px