.popup-form
	border-radius: $borderLarge
	background-color: $blackBg
	position: relative
	overflow: hidden
	
	+bp($point-3)
		border-radius: 18px


		
	.step-hidden
		display: none
	
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		
		img
			max-width: unset
			width: 100%
		
		&:after
			+pseudo-element(0,unset,unset,0,100%)
			background: linear-gradient(180deg, rgba(34, 34, 34, 0) 60%, #222222 90%)
	
	&__top,&__contnet
		padding: 29px
	
	&__top
		position: relative
		z-index: 1
		color: $white
		padding-bottom: 18px
		
		@include bp($point-3, min)
			padding-bottom: 30px
		
		&--gap-m
			padding-top: 42%
			
		&--gap-l
			padding-top: 45%
		
		h2
			font-size: 22px
			margin: 0
			
			@include bp($point-3,min)
				max-width: 340px
				line-height: rem(30px)
				font-size: rem(30px)
			
		& > h5
			margin: 18px 0 45px
			
			@include bp($point-3,min)
				margin: 30px 0 20px
			
	&__contnet
		padding-top: 0
		.btn
			width: 100%
			margin: 24px 0 0
			color: $white
			font-weight: bold
			font-size: $h5-fs
			line-height: $h5-lh
			
		h5
			color: $white
			margin: 0 0 3px
			line-height: 15px
			
			@include bp($point-3,min)
				margin: 0 0 10px
			
		.form-field
			margin-bottom: 14px
			
			&__label
				height: calc(100% - 10px)

	&__thank 
		display: none
		text-align: center 
		color: $white 
		padding: 30px 
		font-size: rem(24px)

		+bp($point-2)
			font-size: rem(18px)
			padding: 30px 20px

			
	&__group
		margin: 0 0 45px
		
		&--gutter
			margin: 0
			
	&__stage
		display: flex
		justify-content: space-between
		svg
			display: none
			color: #6FB300
			@include size(18px)
			margin: 0 15px 0 0
			fill: transparent
			
			@include bp($point-3, min)
				@include size(25px)
			
		
	&__advantages
		margin: 26px 0 0
		
		@include bp($point-3,min)
			margin: 30px 0 0
		
		&--gap
			margin: 26px 0 26px
		
	.select-flat
		margin: 0 0 24px
	
	@include bp($point-3,min)
		border-radius: 24px

.advantages-list
	&__item
		padding: 7px 0
		@include flex_center_v
		
		@include bp($point-3, min)
			padding: 14px 0
		
		&:not(:last-child)
			margin: 0
		
		h5
			font-size: rem(18px)
			line-height: rem(20px)
		
		&:after
			display: none
		
		&:first-child
			padding-top: 0
		&:last-child
			padding-bottom: 0
		svg
			color: $white
			fill: transparent
			@include size(18px)
			margin: 0 11px 0 0
			
			@include bp($point-3, min)
				@include size(25px)
		
