.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	transition: 0.4s cubic-bezier(.73,.54,0,.98)
	opacity: 0
	visibility: hidden
	z-index: 100
	max-height: 100vh
	overflow-y: auto
	overflow-x: hidden

	&::-webkit-scrollbar
		width: 5px
		
	&::-webkit-scrollbar-track
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
	
	&::-webkit-scrollbar-thumb
		background-color: darkgrey
		outline: 1px solid slategrey
	
	&.popup--center
		.popup__wrapper
			display: flex
			align-items: center
			justify-content: center
		.popup__content
			max-width: 460px
			height: auto
			background: transparent
			margin: 30px auto
			padding: 0
			
			@include bp($point-3)
				padding: 0 15px

		.popup__close
			@include bp($point-3) 
				right: 50px
				
	&.popup--video
		.popup__content
			max-width: 768px
			iframe
				width: 100%
				height: 500px

	&__layout
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		transition: all 0.3s linear
		transition-delay: 0.3s
		z-index: 2
		opacity: 0

	&__wrapper
		min-height: 100%
		display: block
		position: relative
		
		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: rgba(0, 9, 22, 0.50)
			z-index: 1



	&__content
		padding: 50px
		max-width: 570px
		width: 100%
		margin-left: auto
		margin-right: 0
		background: $white
		position: relative
		color: $blackBg
		z-index: 5
		transition: 0.5s ease
		opacity: 0
		overflow-x: hidden
		&.hide
			transition: none
			overflow: hidden
			opacity: 0 !important
			pointer-events: none
			height: 0
			padding: 0 !important
			min-height: 0
			max-height: 0

		+bp($point-3)
			max-width: 100%

		+bp(550px)
			padding: 30px 20px


	&__close
		cursor: pointer
		position: absolute
		top: 20px
		right: 20px
		width: 36px
		height: 36px
		border-radius: 50%
		background-color: $red
		z-index: 5
		transition: all 0.3s linear
		display: flex
		align-items: center
		justify-content: center

		svg
			stroke: $white
			+size(12px)

		&:hover
			background-color: $blue
			


	&.is-show
		opacity: 1
		visibility: visible
		
		.popup__layout
			opacity: 0.1
			transition-delay: 0s

		.popup__content
			transition-delay: 0.3s
			opacity: 1

