.product
	display: flex 
	flex-direction: column 
	justify-content: space-between
	width: 100% 
	height: 100% 
	padding: 25px 0px 35px 
	background-color: $white 
	border: 1px solid $graySecondary
	border-radius: $borderLarge
	color: inherit
	box-shadow: $btn-shadow

	&:hover 
		border-color: $graySecondary 
		box-shadow: $btn-shadow-hov
		b
		.product__image 
			transform: scale(1.03)

	&__image 
		height: 165px
		margin-bottom: 15px 
		transition: 0.4s ease
		padding: 0 10px 
		+flex_center_b

		img 
			max-width: 100% 
			max-height: 100%

	&__desc 
		padding: 0 36px


	p 
		margin: 0
		color: $gray
		font-weight: 600
	h4 
		margin: 3px 0 0 
	h3 
		margin: 20px 0 0
		color: $red
		white-space: nowrap

	p.crossed 
		font-weight: 500
		margin-top: rem(7px)

	&__price 
		padding: 0 36px

	+bp($point-4)
		border-width: 2px

		p 
			font-size: rem(20px)
		h4 
			font-size: rem(36px)
			line-height: rem(36px)

		h3 
			font-size: rem(30px)
			line-height: rem(30px)

		&__price,
		&__desc, 
		&__image
			padding-left: 25px 
			padding-right: 25px
		&__image 
			height: 15vw

	+bp($point-3)
		&__image 
			height: 120px

	+bp(600px)
		h4 
			font-size: rem(20px)
			line-height: rem(20px)

		h3 
			font-size: rem(22px)
			line-height: rem(18px)
		p
			font-size: rem(14px)
			line-height: rem(18px)



.product--line
	border-bottom: 1px solid $graySecondary
	border-top: none 
	border-right: none 
	border-left: none 
	box-shadow: none
	border-radius: 0
	padding-top: 0
	padding-bottom: 25px
	position: relative

	&:hover 
		box-shadow: none

	.product__data 
		display: flex 
		align-items: flex-start



	.product__image 
		width: 237px 
		margin-right: 54px
		padding: 0 
		height: 220px
		margin-bottom: 0

	.product__desc 
		padding: 0
		margin-bottom: 15px
		padding-top: 40px

	.product__block-desc 
		width: calc(100% - 291px)

	.product__price 
		position: absolute 
		left: 291px 
		top: calc(100% - 95px)
		padding: 0

	.product__text 
		margin-bottom: 60px
		color: $blackBg
		line-height: rem(16px)
		color: $blackBg
		max-width: 204px
		p 
			color: inherit
			font-weight: bold

	p 
		font-weight: 500

	h4 
		font-size: rem(30px)
		line-height: rem(30px)
		margin-top: 8px
	h3 
		font-size: rem(24px)
		line-height: rem(27px)

	+bp(1100px)
		.product 
			&__image 
				width: 45% 
				padding-right: 17px
				margin-right: 0 
				height: auto
			&__block-desc 
				width: 55%
			&__price 
				left: 45%

	+bp($point-4)
		padding-bottom: 45px
		h4
			font-size: rem(36px)
			line-height: rem(36px)
		h3 
			font-size: rem(30px)
			line-height: rem(30px)
		.product__text 
			max-width: 100%
			p
				line-height: rem(22px)
				font-weight: 500
		.product__price 
			position: static
			margin-left: 45%
			margin-top: -40px
			h3 
				margin-top: 0
			

	+bp(550px)
		padding: 10px 0 20px
		.product 
			&__image 
				flex: 1 0 109px
				padding: 0 
				margin-right: 23px
			&__block-desc 
				width: auto
			&__price 
				left: 132px
			&__desc 
				padding-top: 0
			&__text 
				margin-bottom: 0
		h4
			font-size: rem(18px)
			line-height: rem(20px)
		h3 
			font-size: rem(15px)
			line-height: rem(15px)
		.product__text 
			p
				line-height: rem(18px)
				font-weight: 500
		.product__price 
			margin-top: 15px
			margin-left: 132px
		.product__desc 
			margin-bottom: 10px





		
		
