.service-item
	@include size(100%)
	position: relative
	border-radius: 24px 
	overflow: hidden
	border: 1px solid $graySecondary
	background-color: $white
	box-shadow: $btn-shadow
	transition: 0.3s 
	&:hover 
		box-shadow: $btn-shadow-hov

	img 
		width: 100%
		
		
	&__bottom
		position: relative
		z-index: 1
		padding: 0 30px
		flex: 1
		border-radius: 0 0 $borderBase $borderBase
		border-top: unset

		h4 
			margin: rem(27px) 0 rem(33px)

		
