.slider-filter
	display: flex
	padding: 0
	margin: 0 0 rem(33px) 0

	&__item
		white-space: nowrap
		font-weight: 600
		font-size: rem(14px)
		line-height: rem(16px)
		color: $gray-2
		cursor: pointer
		&.active
			color: $red
		
		&:not(:last-child)
			margin-right: 25px
			margin-bottom: 0
			margin-top: 0

		&:after 
			display: none

	+bp($point-2)
		margin-bottom: rem(20px)
