.step 
	width: 100% 
	border-top: 1px solid $graySecondary
	border-bottom: 1px solid $graySecondary
	&__part 
		display: flex 
		justify-content: space-between
		align-items: flex-start 
		margin: 0 -10px

	&-block 
		display: flex 
		align-items: center 
		cursor: pointer
		transition: 0.3s
		margin: 0 10px

		svg 
			height: 35px
			max-width: 35px 
			margin-right: 26px
			fill: inherit
			transition: 0.3s

		h6 
			font-size: rem(14px)
			margin: 0

		&:hover
			color: $red 

			svg 
				fill: $red 
	
	+bp($point-5)
		&-block 
			svg 
				margin-right: 7px
	+bp($point-4)
		&__part
			flex-wrap: wrap
		&-block 
			width: 50%
			margin: 10px 0
			padding: 0 10px

	+bp($point-2)
		&__part 
			display: block 
			margin: 0
		&-block 
			width: 100% 
			margin: 0 0 20px 
			padding: 0 

			&:last-child 
				margin-bottom: 0
