.title-decor 
	display: block
	h1 
		display: inline
		background: rgba(0, 0, 0, 0.5)
		padding: 7px 10px 
		margin-top: 0 
		margin-bottom: 0
		-webkit-box-decoration-break: clone
		line-height: 1.4
	h3
		display: inline
		background-color: $white
		margin: 0 
		padding: 0px 9px
		color: $blackBg
		-webkit-box-decoration-break: clone
		line-height: 1.1

	h5
		display: inline
		background-color: $red
		margin: 0 
		padding: 3px 12px
		-webkit-box-decoration-break: clone

	&__line
		margin-bottom: rem(24px)
	
	&__line-two
		margin-bottom: rem(3px)


	+bp($point-2) 
		h3 
			padding: 2px 9px
		&__line-two
			margin-bottom: 0