.used-car-items
	+size(100%)
	border: 1px solid $graySecondary
	border-radius: $borderLarge
	box-shadow: $btn-shadow
	padding-bottom: 80px
	position: relative
	overflow: hidden
	transition: 0.4s ease

	&:hover
		box-shadow: $btn-shadow-hov
	
	&__galery
		overflow: hidden
		
				
		.swiper-pagination-bullets
			width: 100% 
			display: flex 
			justify-content: center
			position: absolute
			bottom: 25px
			left: 0
			right: 0
			margin: 0 auto
			z-index: 5
			
			.swiper-pagination-bullet
				background-color: $white
				@include size(6px)
				opacity: 1
				margin: 0 12px
				transform-origin: 50% 50%
				transition: .3s linear
				border-radius: 50%
				cursor: pointer
				
				&-active
					background-color: $red
					transform: scale(1.6)

	&__data 
		padding: 22px 27px 0px
	
		
	&__btn
		+flex_center_v
		color: $white
		width: 100% 
		position: absolute 
		left: 0 
		bottom: 0
		padding: 0px 27px 25px
		
		.btn
			font-weight: bold
			flex: 1
			
			&:first-child
				margin: 0 5px 0 0
				
			&:last-child
				margin: 0 0 0 5px
	h4 
		margin-top: 0

	ul 
		margin-top: 18px 
		margin-bottom: 22px
		display: flex 
		flex-wrap: wrap 

		li
			display: inline-block 
			width: 60%

			&:nth-child(2n)
				width: 38%

			&:not(:last-child)
				margin: 8px 0

			&:last-child 
				margin: 8px 0


	+bp($point-5)
		padding-bottom: 140px
		ul 
			li 
				width: 100%

				&:nth-child(2n)
					width: 100%
		&__btn 
			display: block

			.btn 
				width: 100% 
				margin-right: 0
				margin-left: 0
				&:not(:last-child)
					margin-bottom: 12px 
				&:last-child 
					margin-left: 0

	


