footer.footer
	.wrapper
		.footer__top
			+svg('logo')
			p.footer__gray 
				small © 1998–2019 ооо «Вита-Авто.ру»
		nav.footer__nav
			ul.footer__unit-list
				li.footer__unit-item
					.footer__unit-head.js-expansion-head
						h5 Компания
						+svg('arrow')
					.footer__unit-body.js-expansion-body
						ul.footer__list
							li: a(href='#!'): h5 О нас
							li: a(href='#!'): h5 Отзывы
							li: a(href='#!'): h5 Контакты
				li.footer__unit-item
					.footer__unit-head.js-expansion-head
						h5 Услуги
						+svg('arrow')
					.footer__unit-body.js-expansion-body
						ul.footer__list
							li: a(href='#!'): h5 Заказать автомобиль
							li: a(href='#!'): h5 Заявка на Trade-In
							li: a(href='#!'): h5 Заявка на утилизацию авто
							li: a(href='#!'): h5 Заявка на экспресс-кредит
							li: a(href='#!'): h5 Заявка на госкредит
				li.footer__unit-item
					.footer__unit-head.js-expansion-head
						h5 Каталог
						+svg('arrow')
					.footer__unit-body.js-expansion-body
						ul.footer__list.footer__list--column
							li: a(href='#!'): h5 Hyundai
							li: a(href='#!'): h5 Kia
							li: a(href='#!'): h5 Toyota
							li: a(href='#!'): h5 Nissan
							li: a(href='#!'): h5 Mazda
							li: a(href='#!'): h5 Mitsubishi
							li: a(href='#!'): h5 Volkswagen
							li: a(href='#!'): h5 Ford
							li: a(href='#!'): h5 Skoda
							li: a(href='#!'): h5 Opel
							li: a(href='#!'): h5 Chevrolet
							li: a(href='#!'): h5 Lada
							li: a(href='#!'): h5 Renault
							li: a(href='#!'): h5 Citroen
							li: a(href='#!'): h5 Changan
							li: a(href='#!'): h5 Brilliance
							li: a(href='#!'): h5 Chery
							li: a(href='#!'): h5 Datsun
							li: a(href='#!'): h5 Dongfeng
							li: a(href='#!'): h5 DWHower
							li: a(href='#!'): h5 FAW
							li: a(href='#!'): h5 Foton
							li: a(href='#!'): h5 Geely
							li: a(href='#!'): h5 Great Wall
							li: a(href='#!'): h5 Haima
							li: a(href='#!'): h5 Haval
							li: a(href='#!'): h5 Honda
							li: a(href='#!'): h5 JAC
							li: a(href='#!'): h5 Lifan
							li: a(href='#!'): h5 Peugeot
							li: a(href='#!'): h5 Ravon
							li: a(href='#!'): h5 SsangYong
							li: a(href='#!'): h5 Suzuki
							li: a(href='#!'): h5 UAZ
							li: a(href='#!'): h5 Zotye
				li.footer__unit-item.footer__unit-item--mobile
					.footer__unit-head
						a(href='#!'): h5 О нас
				li.footer__unit-item.footer__unit-item--mobile
					.footer__unit-head
						a(href='#!'): h5 Отзывы
				li.footer__unit-item.footer__unit-item--mobile
					.footer__unit-head
						a(href='#!'): h5 Контакты
		.footer-data
			.footer__flex.footer__flex--reverse
				.footer__flex-right.footer__flex-right--column
					.footer__time
						p.footer__gray 
							small Ежедневно с 8:00 до 21:00
					.footer__contact
						.footer__tel
							a.link.link--white(href='tel:0074953200025') +7 (495) 320-00-25
							a.link.link--white(href='tel:88003505242') 8 (800) 350-52-42
						.footer__social.social
							a.whatsapp(href='#!')
								+svg('whatsapp')
							a.viber(href='#!')
								+svg('viber')
					.footer__location
						.footer__address
							address Москва, Варшавское ш., 170/1 
						.footer__direction
							a.link.link--white-b(href='#!') Карта проезда
				.footer__flex-left
					.footer__top.footer__top--descktop
						+svg('logo')
						p.footer__gray 
							small © 1998–2019 ооо «Вита-Авто.ру»
					.footer__text
						p 
							small Портал ВИТА-АВТО.РУ — наиболее посещаемый автомобильный ресурс в российском секторе интернета. У нас самая крупная база автообъявлений о продаже разных видов новых автомобилей и автомобильных транспортных средств с пробегом. Мы готовы предложить для покупки большой выбор легковых автомобилей и коммерческого транспорта различныйх классов и категорий.
			.footer__flex
				.footer__direction.footer__flex-left
					a.link.link--white-b(href='#!') Пользовательское соглашение
				.footer__creation.footer__flex-right
					span Создание сайта -
					a.link.link--white-b(href='https://nikoland.ru') Nikoland
