header.header
	.wrapper
		.header__part

			include ../particles/header-logo

			.header__button.btn.btn--b-r.js-header-menu(data-id='#categories')
				+svg('steering_wheel')
				+svg('close-2')
				h6 Каталог

			include ../particles/header-nav-top

			.header__block-phone
				a.header__phone(href='tel:0074953200025')
					+svg('phone')
				a.header__number.link.link--default(href="tel:84951512292") 8 (495) 151-22-92
				a.header__number.link.link--default(href="tel:88003505242") 8 (800) 350-52-42

			.header__menu.menu.js-header-menu(data-id='#nav')
				.menu__line
				.menu__line.menu__line--small
				.menu__line

			//- .header__btn.js-btn
			//- 	.header__btn-container
			//- 		a.btn.btn--semi.btn--red.js-popup-btn(href='#discount') Заказать авто
			//- 		a.btn.btn--semi.btn--blue.js-popup-btn(href='#loan') В кредит от 3,5%

	.header__part.header__part--nav
		.wrapper
			.header__nav.nav.js-menu#nav
				.nav__top-menu
					h2 Меню
					.menu.menu--close.js-close-menu
						.menu__line
						.menu__line

				include ../particles/header-nav-line

	.header__categories.categories.js-menu#categories
		.wrapper
			.categories__top
				.header__catalog.header__button.btn.btn--b-r.js-header-menu
					+svg('steering_wheel')
					h6 Каталог
				.menu.menu--close.js-close-menu
					.menu__line
					.menu__line
			include ../particles/menu_categories

.header-sub-catalog.js-header-sub
