extends pug/base

append vars
	- title = 'О нас'

block content
	//...
	section.about
		.about__banner

	section.about-content
		.wrapper
			.content
				p Автосалон Vitaauto
				h1 Центр продажи отечественных и импортных авто
				p Официальный дилер "Вита Авто" занимается продажей автомобилей большинства марок Европы, Азии и России. Более сотни автомобилей находятся на территории автосалона и любой посетитель может оценить внешний вид понравившегося авто, узнать исчерпывающую информацию о доступных комплектациях, ценах и цветах выбранной модели. Каждого гостя автосалона ждет персональный менеджер, который подробно проконсультирует по всем особенностям автомобиля и вариантам его приобретения и дооснащения дополнительным оборудованием.
				img(src='./images/temp_dir/about_img_1.jpg')
				p "Вита Авто" предлагает клиентам не только новые автомобили, но и авто с пробегом. Наличие и вся подробная информация касательно б/у авто регулярно обновляется на официальном сайте компании. Вы можете быть уверены, что все подержанные автомобили в отличном состоянии, не имеют технических неисправностей и визуальных дефектов, прошли предпродажную подготовку и юридическую экспертизу.
				p Автосалон "Вита Авто" не отстает от новейших тенденций рынка и активно участвует в программе Trade-In и программе утилизации. Предлагает клиентам выгодные предложения выкупа авто. Уже сотни автомобилей были успешно обменяны по программе Трейд-Ин в салоне "Вита Авто" в самые кратчайшие сроки.
				img(src='./images/temp_dir/about_img_2.jpg')
				p Автодилер "Вита Авто" сотрудничает с самыми крупными банками Москвы и России, которые гарантируют оптимальные условия автокредитования. Также "Вита Авто" участвует в программах льготного кредитования при государственной поддержке: “Госкредит”, “Семейный автомобиль”, “Первый автомобиль”.
				p Любые вопросы по работе автосалона "Вита Авто", актуальных акциях и наличии автомобилей нужного цвета и комплектации, вы можете задать консультанту, позвонив по номеру телефона, указанному на сайте или заказав обратный звонок, через специальную форму обратной связи.
	section.about-banks
		.wrapper
			.content.content--larg-b
				p Дилерский центр
				h2 Список банков партнеров Vitaauto
				.about-banks__list
					.about-banks__column
						+bank('./images/banks/bank_1.jpg')
					.about-banks__column
						+bank('./images/banks/bank_2.jpg')
					.about-banks__column
						+bank('./images/banks/bank_3.jpg')
					.about-banks__column
						+bank('./images/banks/bank_4.jpg')
					.about-banks__column
						+bank('./images/banks/bank_5.jpg')
					.about-banks__column
						+bank('./images/banks/bank_6.jpg')
					.about-banks__column
						+bank('./images/banks/bank_7.jpg')
					.about-banks__column
						+bank('./images/banks/bank_8.jpg')

