extends pug/base

append vars
	- title = 'Каталог Opel'

block content
	section.baner
		+baner-block('background-image: url(./images/foil-2.jpg)', 'OPEL', 'Скидки до 350 000 ₽', 'только до 31 мая 2020', false)

	section.step 
		.wrapper
			.content
				.step__part 
					+stepBlock('js-tooltip','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium.', 'step-1', 'Льготная ставка от 3,5%')
					+stepBlock('js-tooltip','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium.', 'step-2', 'Одобрение кредита 98%')
					+stepBlock('js-tooltip','Предложения без первоначального взноса привлекают возможностью не откладывать надолго покупку авто.', 'step-3', 'Без первоначального взноса')
					+stepBlock('js-tooltip','Предложения без первоначального взноса привлекают возможностью не откладывать', 'step-4', 'Комплект резины в подарок')

	section.catalog
		.wrapper
			.content.content--small
				.catalog-list.js-more-wrapper
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-1.jpg','Микроавтобус','Zafira Life New','Кожаный салон, Apple Car, Улучшенное управление','от 2 064 910 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-2.jpg','Кроссовер','Grandland X NEW','Кожаный салон, Apple Car, Улучшенное управление','от 1 389 000 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-3.jpg','Универсал','Astra SW','Кожаный салон, Apple Car, Улучшенное управление','от 527 480 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-4.jpg','Хэтчбэк','Astra GTC','Кожаный салон, Apple Car, Улучшенное управление','от 761 890 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-5.jpg','Седан','Astra Sedan','Кожаный салон, Apple Car, Улучшенное управление','от 533 960 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-6.jpg','Хэтчбэк','Astra Hatchback','Кожаный салон, Apple Car, Улучшенное управление','от 513 364 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-7.jpg','Кроссовер','Mokka','Кожаный салон, Apple Car, Улучшенное управление','от 741 100 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-8.jpg','Кроссовер','Antara','Кожаный салон, Apple Car, Улучшенное управление','от 1 006 000 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-9.jpg','Универсал','Zafira Tourer','Кожаный салон, Apple Car, Улучшенное управление','от 1 370 100 ₽')
					.catalog-list__item
						+product('product--line','./images/temp_dir/car-10.jpg','Универсал','Astra SW','Кожаный салон, Apple Car, Улучшенное управление','от 527 480 ₽')

				ul.catalog-list.catalog-list--hiden.js-more-hidden
					li.catalog-list__item
						+product('product--line','./images/temp_dir/opel_van.png','Микроавтобус','Zafira Life New','Кожаный салон, Apple Car, Улучшенное управление','от 2 064 910 ₽')
					li.catalog-list__item
						+product('product--line','./images/temp_dir/Grandland_X_NEW.png','Кроссовер','Grandland X NEW','Кожаный салон, Apple Car, Улучшенное управление','от 1 389 000 ₽')

				a.btn.btn--default.btn--sz-l.js-more-block(href='#!', data-isopened=false) Показать еще

		section.catalog-description
			.wrapper
				.content.content--larg-b-t
					article.brand-description
						h2 Модельный ряд Opel
						p «Опель» — одна из самых старых автомобилестроительных компаний, выпускающих красивые и технологичные транспортные средства. История предприятия началась в далеком 1863 году с изготовления швейных машин и только спустя 33 года, в 1899 году, оно кардинально изменило свою деятельность, переключившись на изготовление автомобилей. Первое транспортное средство имело массу недостатков и плохо продавалось, но создатели концерна не сдавались и продолжили развивать данное направление. В 1901 году «Опель» подписала соглашение с предприятием Darracq и выпустила совместный автомобили «Опель Даррак», который показал хорошие продажи и способствовал дальнейшему развитию фирмы. Настоящий успех к компании пришел после того, как ею стала управлять «Дженерал Моторс».

					ul.expansion.expansion--blue.brand-expansion
						li.expansion__item
							.expansion__head.js-expansion-head
								h5 Успешное развитие компании под контролем GM
								+svg('arrow')
							.expansion__body.js-expansion-body
								p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
						li.expansion__item
							.expansion__head.js-expansion-head
								h5 Как «дженерал моторс» чуть не продала продала «опель» России
								+svg('arrow')
							.expansion__body.js-expansion-body
								p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
						li.expansion__item
							.expansion__head.js-expansion-head
								h5 Второй по величине автопроизводитель в Европе
								+svg('arrow')
							.expansion__body.js-expansion-body
								p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
						li.expansion__item
							.expansion__head.js-expansion-head
								h5 Купить автомобиль Opel у официального дилера
								+svg('arrow')
							.expansion__body.js-expansion-body
								p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

		include pug/particles/info-block


		include pug/particles/reviews
