extends pug/base

block content

	section.card-baner
		.wrapper
			.content.content--larg-b
				a.link.link--back(href='#!')
					+svg('arrow_left')
					span Назад
				.card-baner__part
					.card-baner__left
						.title-decor-card
							h1.js-car-baner Volkswagen Passat Alltrack
						.card-baner__data
							h4 Специальная цена только до 31.05.2020
							.card-baner__block-timer
								.card-baner__timer
									#flipdown.flipdown(data-time="2020-08-20")
								a.btn.btn--red.js-popup-link(data-href='popup-fixedprice.html' data-target='center') Зафиксировать цену
						
					.card-baner__right
						form
							.card-baner-img.swiper-container
								.swiper-wrapper
									.swiper-slide
										img(src='./images/temp_dir/opel_astra_gtc_large.png')
									.swiper-slide
										img(src='./images/temp_dir/opel_astra_gtc_large_black.png')
									.swiper-slide
										img(src='./images/temp_dir/car-blue.jpg')
									.swiper-slide
										img(src='./images/temp_dir/car-red.jpg')
							.card-color
								input(type='text', id='carcolor' ,hidden, value='1')
								.card-color__item.js-color.active(data-index='0', style='background: #005408', data-color='#005408')
								.card-color__item.js-color(data-index='1', style='background: #222222', data-color='#222222')
								.card-color__item.js-color(data-index='2', style='background: #2352AE', data-color="#2352AE")
								.card-color__item.js-color(data-index='3', style='background: #E02138', data-color='#E02138')


		section.step
			.wrapper
				.content
					.step__part
						+stepBlock('js-tooltip','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium.', 'step-5', 'Лучший диллер 2019')
						+stepBlock('js-tooltip','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum doloremque accusantium.', 'step-1', 'Выгодный кредит от 3,5%')
						+stepBlock('js-tooltip','Предложения без первоначального взноса привлекают возможностью не откладывать надолго покупку авто.', 'step-3', 'Без первоначального взноса')
						+stepBlock('js-tooltip','Предложения без первоначального взноса привлекают возможностью не откладывать', 'step-6', 'Бесплатный проезд до Москвы')


	.card-wrapper
		.card-nav.js-card-nav
			.wrapper
				.content
					ul.card-nav__list
						li.card-nav__item: a.link.link--default.js-scrollto(href="#complect") Комплектации и цены
						li.card-nav__item: a.link.link--default.js-scrollto(href="#media") Фото и видео
						li.card-nav__item: a.link.link--default.js-scrollto(href="#tex-data") Тех. характеристики
						li.card-nav__item: a.link.link--default.js-scrollto(href="#action") Зафиксировать выгоду

		section.eqp#complect
			.wrapper
				.content.content--larg-b
					.eqp__top
						h2 Комплектации и цены
						.eqp__label
							small 7 доступных комплектаций
						.eqp-navigation.js-eqp-navigation
							include pug/particles/navigation-arrows
					.eqp__slider.swiper-container.js-eqp-slider
						.swiper-wrapper
							.swiper-slide
								+eqp('','1.8 MT Enjoy','761 890 ₽','977 100 ₽','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые','Система электронного контроля устойчивости (ESP)','Задняя подвеска: Полузависимая, торсионная балка','Задние тормоза: Дисковые','Стояночный тормоз: Электронный (опци','Сигнализация','Гидроусилитель руля',false)
							.swiper-slide
								+eqp('','1.8 MT Enjoy','761 890 ₽','977 100 ₽','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые','Система электронного контроля устойчивости (ESP)','Задняя подвеска: Полузависимая, торсионная балка','Задние тормоза: Дисковые','Стояночный тормоз: Электронный (опци','Сигнализация','Гидроусилитель руля',false)
							.swiper-slide
								+eqp('','1.4 TURBO AT Enjoy','926 590 ₽','1 144 950 ₽','Подушка безопасности боковая','Сигнализация','Система распределения тормозного усилия (EBD)','Передний стабилизатор','Стояночный тормоз: Электронный (опция)','Изменение передаточного отношения руля (VGS/VGRS)','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые',false)
							.swiper-slide
								+eqp('','1.4 TURBO AT Sport','932 890 ₽','1 204 100 ₽','Подушка безопасности водительская','Передняя подвеска: Независимая, амортизационная стойка типа МакФерсон','Крепление ISOFIX','Активный подголовник','Подушка безопасности переднего пассажира','Антиблокировочная система (ABS)','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые',false)
							.swiper-slide
								+eqp('','1.4 TURBO AT Sport','932 890 ₽','1 204 100 ₽','Подушка безопасности водительская','Передняя подвеска: Независимая, амортизационная стойка типа МакФерсон','Крепление ISOFIX','Активный подголовник','Подушка безопасности переднего пассажира','Антиблокировочная система (ABS)','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые',false)
							.swiper-slide
								+eqp('','1.4 TURBO AT Enjoy','926 590 ₽','1 144 950 ₽','Подушка безопасности боковая','Сигнализация','Система распределения тормозного усилия (EBD)','Передний стабилизатор','Стояночный тормоз: Электронный (опция)','Изменение передаточного отношения руля (VGS/VGRS)','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые',false)
							.swiper-slide
								+eqp('','1.4 TURBO AT Sport','932 890 ₽','1 204 100 ₽','Подушка безопасности водительская','Передняя подвеска: Независимая, амортизационная стойка типа МакФерсон','Крепление ISOFIX','Активный подголовник','Подушка безопасности переднего пассажира','Антиблокировочная система (ABS)','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые',false)





						// +eqp('eqp-block--buttons-show','1.8 MT Enjoy','761 890 ₽','977 100 ₽','Иммобилайзер','Натяжитель ремней безопасности','Передние тормоза: Дисковые вентилируемые','Задние тормоза: Дисковые','Система электронного контроля устойчивости (ESP)','Задняя подвеска: Полузависимая, торсионная балка','Задние тормоза: Дисковые','Стояночный тормоз: Электронный (опци','Сигнализация','Гидроусилитель руля',true)



		section.car-info-expansion
			.wrapper
				.expansion.expansion--dark
					.expansion__item#media
						.expansion__head.js-expansion-head
							h4 Обзор
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/expansion-gallery
							include ./pug/particles/form-baner-one
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Анонс
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/expansion-gallery-2
							include ./pug/particles/form-baner-two
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Безопасность
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/expansion-security
					.expansion__item#tex-data
						.expansion__head.js-expansion-head
							h4 Технические характеристики
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/expansion-table

	form.car-discount-form#action
		.wrapper
			.content.content--larg-b
				h2 Ваша выгода может составлять 290 000 ₽
				.car-discount-form__list
					+discount-item('Специальное предложение','От представительства','50 000 ₽','50000',true)
					+discount-item('Скидка за наличные','От VitaAuto','40 000 ₽','40000',false)
					+discount-item('Скидка при оформлении','Авто в кредит 3,5% + каско на 1 год','40 000 ₽','40000',true)
					+discount-item('Первоначальный Взнос','от 10% и выше','70 000 ₽','70000',true)
					+discount-item('Выгода за Trade-in','От VitaAuto','60 000 ₽','60000',false)
					+discount-item('Выгода за утилизацию','Вашего авто','50 000 ₽','50000',true)
					+discount-item('Госпрограмма -10%','Первый автомобиль','10% от цены авто','40000',true)
					+discount-item('Госпрограмма -10%','Семейный автомобиль','10% от цены авто','40000',true)
				.car-discount-form__bottom
					.car-discount-form__total
						h5 Ваша выгода
						h2.js-total 230 000 ₽
					a.btn.btn--red.btn--sz-l.js-popup-link(data-href='popup-fixedprice.html' data-target='center') Оставить заявку

		include pug/particles/info-block


	section.car-similar-slide
		.wrapper
			.content.content--larg-b
				.car-similar-slide__top
					h2 Смотрите также
					.car-similar-slide__list
						ul.slider-filter
							li.slider-filter__item.active.js-tab-filter(data-index='0') В эту же стоимось
							li.slider-filter__item.js-tab-filter(data-index='1') В том же кузове
							li.slider-filter__item.js-tab-filter(data-index='2') Этого производителя
				.swiper-container.js-filter-slide
					.swiper-wrapper
						.swiper-slide.tab
							.best-selers.swiper-container.js-best-slider-tab
								.swiper-wrapper
									.swiper-slide
										+product('','./images/temp_dir/car-11.jpg','Хэтчбэк ','Focus Hatchback','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/car-12.jpg','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/car-13.jpg','Кроссовер','Antara','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/car-14.jpg','Хэтчбэк','Astra GTC','','от 761 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
								.car-similar-navigation
									include pug/particles/navigation-arrows
						.swiper-slide.tab
							.best-selers.swiper-container.js-best-slider-tab
								.swiper-wrapper
									.swiper-slide
										+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/focus.png','Хэтчбэк ','Focus Hatchback','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/astra-3.png','Хэтчбэк','Astra GTC','','от 761 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
								.car-similar-navigation
									include pug/particles/navigation-arrows
						.swiper-slide.tab
							.best-selers.swiper-container.js-best-slider-tab
								.swiper-wrapper
									.swiper-slide
										+product('','./images/temp_dir/astra-3.png','Хэтчбэк','Astra GTC','','от 761 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/focus.png','Хэтчбэк ','Focus Hatchback','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
									.swiper-slide
										+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
									.swiper-slide
										+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
								.car-similar-navigation
									include pug/particles/navigation-arrows
