extends pug/base

append vars
	- title = 'Контакты'

block content
	section.contacts
		.contacts__map#map(data-lng='37.595367' ,data-lat='55.5814207')
		.contacts__unit
			.wrapper
				.contacts__content
					h1 Контакты
					.contacts__content-item
						p Телефоны:
						.contacts__tel
							a(href='tel:84951512292') 8 (495) 151-22-92
							a(href='tel:88003505242') 8 (800) 350-52-42
						.social
							a.whatsapp(href='#!')
								+svg('whatsapp')
							a.viber(href='#!')
								+svg('viber')
					.contacts__content-item
						p Адрес:
						h3.contacts__address Москва, Варшавское ш., 170/1
						small.contacts__info Координаты: 55.5814207 37.595367
						small.contacts__info Ежедневно: с 8:00 до 21:00
						a.link.link--blue.contacts__link(href='https://yandex.ru/maps/-/CKvPE6yp') Построить маршрут
					.contacts__content-item
						p Почта:
						a.contacts__mail(href='mailto:info@vitaauto.ru') info@vitaauto.ru
