.eqp-block.eqp-block--popup
	.eqp-block__top
		h3.eqp-block__title 1.4 TURBO AT Enjoy
		.eqp-block__flex-price
			.eqp-block__price
				h4 926 590 ₽
			.eqp-block__price-old
				small.crossed 1 144 950 ₽
		.eqp-block__buttons-link
			a.btn.btn--red.btn--sz-l.js-popup-link(data-href='popup-discount.html' data-target='center') Заказать авто
			a.btn.btn--blue.btn--sz-l.js-popup-link(data-href='popup-loan.html' data-target='center') В кредит от 3,5 %
	.eqp-block__data
		.eqp-block__line
			span Бензин
			span 140 л.с.
			span МКПП 5
			span Передний
		.eqp-block__list.list-small
			ul
				li Иммобилайзер
				li Натяжитель ремней безопасности
				li Передние тормоза: Дисковые вентилируемые
				li Задние тормоза: Дисковые
				li Система электронного контроля устойчивости (ESP)
				li Задняя подвеска: Полузависимая, торсионная балка
				li Гидроусилитель руля
				li Трехточечный ремень безопасности
				li Антипробуксовочная система (TCS)
				li Дополнительный стоп-сигнал
				li Запасное колесо неполноразмерное
				li Подушка безопасности пассажира с функцией деактивации
				li Подушка безопасности боковая
				li Сигнализация
				li Система распределения тормозного усилия (EBD)
				li Передний стабилизатор
				li Стояночный тормоз: Электронный (опция)
				li Изменение передаточного отношения руля (VGS/VGRS)
				li Передние тормоза: Дисковые вентилируемые
				li Задние тормоза: Дисковые
