extends pug/base

append vars
	- title = 'Отзывы'
	-
		var feedbackData = [
			{
				isVideo: true,
				videoPopup: false,
				title: 'Известная актриса Александра Попова приобрела автомобил в автосалоне VitaAuto'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Сергей Алексеевич после покупки Changan в нашем автосалоне делится своими впечатлениями.',
				img: './images/temp_dir/feedback_4.jpg',
				text: 'Здравствуйте! Меня зовут Сергей и я очень доволен обслуживанием в вашем автосалоне. Особая благодарность менеджерам, которые мной занимались и потратили очень много времени, потому что оказался я чересчур привередливым клиентом. Спасибо! Все прекрасно!'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Нина Ивановна о покупке нового Datsun On-Do',
				img: './images/temp_dir/feedback_3.jpg',
				text: 'Мы приехали за автомобилем в Вита Авто. Нам понравился очень Роман: обходительный, хороший. Сотрудники очень внимательные, хорошие, доброжелательные: встречают, провожают. Спасибо им большое!'
			},
			{
				isVideo: false,
				videoPopup: true,
				title: 'Сильва Стасевна очень довольна быстрым оформлением, грамотным обслуживанием, а также машиной Kia Rio X-Line, приобретенной в нашем автосалоне',
				img: './images/temp_dir/feedback_1.jpg',
				text: 'Купили машину, оформили. За три часа сделали все! Покупайте, приезжайте. Все, я довольна.'
			},
			{
				isVideo: false,
				videoPopup: true,
				title: 'Станислав Макарович о приобретении новой Skoda Rapid в Вита Авто',
				img: './images/temp_dir/feedback_2.jpg',
				text: 'Выражаю глубокую благодарность специалистам и работникам центра. Конкретно Дарье, менеджеру, и Евгению, специалисту по кредитам. За подход, внимательное, чуткое, так сказать, руководство и общение. За хорошую работу. Выражаю благодарность.'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Тимур Александрович после приобретения Rio X-Line расскажет вам о своих впечатлениях',
				img: './images/temp_dir/feedback_6.jpg',
				text: 'Покупал машину в салоне Вита Авто. Все устроило. Менеджеры вежливые, общительные, помогают, подсказывают, предлагают какую-то помощь при возникших вопросах. Все устроило, все хорошо.'
			},
			{
				isVideo: false,
				videoPopup: true,
				title: 'Игорь Васильевич со словами благодарности автосалону Вита Авто и менеджеру. Не пропустите рассказ довольного покупателя новой Škoda Yeti.',
				img: './images/temp_dir/feedback_5.jpg',
				text: 'Хотелось бы выразить слова благодарности коллективу и, в частности, менеджеру салона Вита Авто Владиславу, который очень скрупулезно подошел к выбору машины. Достаточно профессионально обрисовал все возможные нюансы предстоящей покупки, а также выбора машины Хотелось бы выразить слова благодарности коллективу и, в частности, менеджеру салона Вита Авто Владиславу, который очень скрупулезно подошел к выбору машины. Достаточно профессионально обрисовал все возможные нюансы предстоящей покупки, а также выбора машины'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Нина Ивановна о покупке нового Datsun On-Do',
				img: './images/temp_dir/feedback_3.jpg',
				text: 'Мы приехали за автомобилем в Вита Авто. Нам понравился очень Роман: обходительный, хороший. Сотрудники очень внимательные, хорошие, доброжелательные: встречают, провожают. Спасибо им большое!'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Александр Степанович расскажет вам о том, как приобрел Datsun On do.',
				img: './images/temp_dir/feedback_7.jpg',
				text: 'У меня остались хорошие впечатления от посещения Вита Авто при покупке автомобиля. Очень доволен я менеджером Геннадием и старшим менеджером Денисом Сергеевичем. Они очень внимательно подошли к моим запросам. Подсказали мне, как лучше выбрать автомобиль. И мы все-таки это сделали. И я им благодарен. Большое спасибо!'
			},


			{
				isVideo: false,
				videoPopup: false,
				title: 'Тимур Александрович после приобретения Rio X-Line расскажет вам о своих впечатлениях',
				img: './images/temp_dir/feedback_6.jpg',
				text: 'Покупал машину в салоне Вита Авто. Все устроило. Менеджеры вежливые, общительные, помогают, подсказывают, предлагают какую-то помощь при возникших вопросах. Все устроило, все хорошо.'
			},
			{
				isVideo: false,
				videoPopup: false,
				title: 'Нина Ивановна о покупке нового Datsun On-Do',
				img: './images/temp_dir/feedback_3.jpg',
				text: 'Мы приехали за автомобилем в Вита Авто. Нам понравился очень Роман: обходительный, хороший. Сотрудники очень внимательные, хорошие, доброжелательные: встречают, провожают. Спасибо им большое!'
			},
			{
				isVideo: false,
				videoPopup: true,
				title: 'Игорь Васильевич со словами благодарности автосалону Вита Авто и менеджеру. Не пропустите рассказ довольного покупателя новой Škoda Yeti.',
				img: './images/temp_dir/feedback_5.jpg',
				text: 'Хотелось бы выразить слова благодарности коллективу и, в частности, менеджеру салона Вита Авто Владиславу, который очень скрупулезно подошел к выбору машины. Достаточно профессионально обрисовал все возможные нюансы предстоящей покупки, а также выбора машины Хотелось бы выразить слова благодарности коллективу и, в частности, менеджеру салона Вита Авто Владиславу, который очень скрупулезно подошел к выбору машины. Достаточно профессионально обрисовал все возможные нюансы предстоящей покупки, а также выбора машины'
			},
			{
				isVideo: false,
				videoPopup: true,
				title: 'Станислав Макарович о приобретении новой Skoda Rapid в Вита Авто',
				img: './images/temp_dir/feedback_2.jpg',
				text: 'Выражаю глубокую благодарность специалистам и работникам центра. Конкретно Дарье, менеджеру, и Евгению, специалисту по кредитам. За подход, внимательное, чуткое, так сказать, руководство и общение. За хорошую работу. Выражаю благодарность.'
			},
						{
				isVideo: false,
				videoPopup: true,
				title: 'Сильва Стасевна очень довольна быстрым оформлением, грамотным обслуживанием, а также машиной Kia Rio X-Line, приобретенной в нашем автосалоне',
				img: './images/temp_dir/feedback_1.jpg',
				text: 'Купили машину, оформили. За три часа сделали все! Покупайте, приезжайте. Все, я довольна.'
			}
		
		]

block content
	section.feedback
		.wrapper
			.content.content--larg-b
				h1 Отзывы
				.feedback__wrapper.js-grid.js-more-wrapper
					.feedback__sizer.js-grid__sizer
					.gutter-sizer
					each item in feedbackData
						+feedback-item-main(item)
				
				.used-cars__bottom
					.used-cars__bottom-item
						.pagination.used-cars__pagination
							a(href='#!') «
							a.active(href='#!') 1
							a(href='#!') 2
							a(href='#!') 3
							a(href='#!') 4
							a(href='#!').dots ...
							a(href='#!') 16
							a(href='#!') 17
							a(href='#!') »
					.used-cars__bottom-item
						a.btn.btn--default.btn--sz-l.js-more(href='more-feedback.html') Показать еще

