doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Страницы проекта
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// Place favicon.ico in the root directory
		style.
			body {margin: 0; font-family: Arial; font-size: 16px; color: #555; } h3{margin-bottom: 40px; font-size: 24px; } .container{padding: 20px 40px; margin: 40px auto; max-width:960px; background-color: #f9f9f9; } /* links */ a {text-decoration: none; color: #ccc; } a:visited{color: #4c75a3 !important; } a:hover {border-bottom: 1px solid; } a.done {color: #2fa4e7; pointer-events: all; } a.progress {color: #08B405 !important; border-bottom: 1px dashed #08B405; text-decoration: none !important; } /* lists */ ol {-webkit-column-count: 3; -moz-column-count: 3; -column-count: 3; counter-reset: heading; padding: 0; margin-left: -25px } li {font-size: 16px; margin-bottom: 8px; list-style: none; page-break-inside:avoid; } li:before {counter-increment: heading; content: counter(heading) "."; font-size: 14px; color: #aaa; display: inline-block; width: 25px; margin-right: 5px; text-align: right; } li.deprecated {opacity: 0.4; text-decoration: line-through; } li.deprecated a{color: #708d7e; } li.deprecated:before{color: #708d7e; } .legend {position: absolute; top: 20px; right: 20px; } .legend p{margin: 0 0 15px; } .author{display: inline-block; margin: 0; } /* Media */ @media only screen and (max-width: 1023px){ol {-webkit-column-count: 3; -moz-column-count: 3; -column-count: 3; } } @media only screen and (max-width: 767px){ol {-webkit-column-count: 2; -moz-column-count: 2; -column-count: 2; } } @media only screen and (max-width: 479px) {.container{margin: 20px  auto; } ol {-webkit-column-count: 1; -moz-column-count: 1; -column-count: 1; } } a.done--green {color: #228B22;} a.done--green:hover, a.done--green:visited {color: #3CB371 !important;}
	body
		.legend
			p
				| Верстка:&nbsp;
				a.author(style='color: #FF7C15!important' href='https://bitbucket.org/%7Bfddde909-2353-423f-b079-5a52d6c3a447%7D/' , target='_blank') Данило Шушанян
				<br>
				a.author(style=style='color: green!important' href='https://bitbucket.org/%7Bfddde909-2353-423f-b079-5a52d6c3a447%7D/' , target='_blank') Генова-Стешенко Ира
		.container
			h3 Страницы проекта "Вита Ауто":
			ol
				li
					a.done(href='typography.html', target='_blank' ) Typography

				li
					a.done(href='uikit.html', target='_blank' ) Uikit
				li
					a.done(href='main.html', target='_blank' ) Главная
				li
					a.done(href='brand_catalog.html', target='_blank' ) Каталог
				li
					a.done(href='car-card.html', target='_blank' ) Карточка модели
				li
					a.done(href='used-car-catalog.html', target='_blank' ) Авто с пробегом
				li
					a.done(href='used-car-card.html', target='_blank' ) Авто с пробегом карточка
				li
					a.done(href='trade-in.html', target='_blank' ) Trade-in
				li
					a.done(href='services.html', target='_blank' ) Услуги
				li
					a.done(href='utilization.html', target='_blank' ) Утилизация
				li
					a.done(href='contacts.html', target='_blank' ) Контакты
				li
					a.done(href='about.html', target='_blank' ) О Нас
				li
					a.done(href='taxi-on-loan.html', target='_blank' ) Такси в кредит
				li
					a.done(href='feedback.html', target='_blank' ) Отзывы
