extends pug/base

append vars
	- title = 'Главная'

block content
	//- ...
	section.baner.swiper-container.js-main-banner
		.swiper-wrapper
			.swiper-slide
				+baner-block('background-image: url(./images/foil-1.jpg)', 'Volkswagen Tiguan ', 'утолит жажду приключений', 'только до 31 мая 2020', true)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-2.jpg)', 'OPEL', 'Скидки до 350 000 ₽', 'только до 31 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-3.jpg)', 'KIA MOTORS', 'Не проспи скидку до 250 000 ₽', 'Акция действует до конца мая', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-2.jpg)', 'OPEL', 'Скидки до 350 000 ₽', 'только до 31 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-3.jpg)', 'KIA MOTORS', 'Не проспи скидку до 250 000 ₽', 'Акция действует до конца мая', false)

		.swiper-pagination
	
	.brand
		.wrapper
			.content.content--larg-b-t
				.brand-slide.js-brand-slide
					include pug/particles/menu_categories

	include pug/particles/info-block


	section.best
		.wrapper
			.content.content--larg-b
				.best-top
					h2.h2 Хиты продаж
					.slider-arrow.js-arrow-hit
						include pug/particles/navigation-arrows
				.best-selers.swiper-container.js-best-slider
					.swiper-wrapper
						.swiper-slide
							+product('','./images/temp_dir/focus.png','Хэтчбэк ','Focus Hatchback','','от 777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
						.swiper-slide
							+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/astra-3.png','Хэтчбэк','Astra GTC','','от 761 890 ₽')
						.swiper-slide
							+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽')
						.swiper-slide
							+product('','./images/temp_dir/antara-2.png','Кроссовер','Antara','','от 777 180 ₽')

	section.services-wrapper
		.wrapper
			.content.content--larg-b-b
				.best-top
					h2.h2 Услуги
					.slider-arrow.js-arrow-services
						include pug/particles/navigation-arrows
				.services-slider.best-selers.swiper-container.js-services-slider
					.swiper-wrapper
						.swiper-slide
							+bordered-card('Оформление полисов ОСАГО и КАСКО','Страхование — это проверенный способ защитить себя, близких и сам автомобиль на случай непредвиденных дорожных ситуаций. Страховые услуги доступны для всех клиентов центра.','kasko','bordered-card--icon', true)
						.swiper-slide
							+bordered-card('Тест драйв','Для того чтобы клиент смог оценить приглянувшийся автомобиль и лично проверить его ходовые качества, предусмотрена возможность пробной поездки.','test','bordered-card--icon', true)
						.swiper-slide
							+bordered-card('Продажа автомобиля в кредит','Клиентам центра предлагается 55 кредитных программ от 22 банков. Сумма залога 50.000 – 5.000.000 рублей при минимальной процентной ставке 3,5 %.','sale_loan','bordered-card--icon', true)
						.swiper-slide
							+bordered-card('Установка дополнительного оборудования с гарантией','Мастера автосервиса сделают всё, чтобы обеспечить желаемый уровень комфорта, надежности и безопасности автомобиля.','gear','bordered-card--icon', true)
						.swiper-slide
							+bordered-card('Гарантийное и послегарантийное техобслуживание','Все работы по ремонту и замене узлов, деталей и расходников выполняются в соответствии с технической документацией автопроизводителей.','varanty','bordered-card--icon', true)
						.swiper-slide
							+bordered-card('Помощь с регистрацией авто в ГИБДД','Специалисты центра знают, как добиться скорейшей постановки транспортного средства на учет.','help','bordered-card--icon', true)

	// section.services-wrapper
	// 	.wrapper
	// 		.content.content--larg-b-b
	// 			.best-top
	// 				h2.h2 Услуги
	// 				.slider-arrow.js-arrow-services
	// 					include pug/particles/navigation-arrows
	// 			.services-slider.best-selers.swiper-container.js-services-slider
	// 				.swiper-wrapper
	// 					.swiper-slide
	// 						+service-item('./images/temp_dir/service.jpg','Оформление полисов ОСАГО и КАСКО')
	// 					.swiper-slide
	// 						+service-item('./images/temp_dir/service.jpg','Гарантийное и послегарантийное техобслуживание')
	// 					.swiper-slide
	// 						+service-item('./images/temp_dir/service.jpg','Продажа <br>автомобиля в кредит')
	// 					.swiper-slide
	// 						+service-item('./images/temp_dir/service.jpg','Гарантийное и послегарантийное техобслуживание')
	// 					.swiper-slide
	// 						+service-item('./images/temp_dir/service.jpg','Продажа <br>автомобиля в кредит')


	section.best
		.wrapper
			.content.content--larg-t-b
				.best-top
					h2.h2 Машины по акции
					.slider-arrow.js-arrow-action
						include pug/particles/navigation-arrows
				.best-selers.swiper-container.js-action-slider
					.swiper-wrapper
						.swiper-slide
							+product('','./images/temp_dir/opel_val.png','Хэтчбэк','Focus Hatchback','','777 180 ₽','777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/arkana-2.png','Кроссовер','Arkana New','','от 786 890 ₽','777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/antara-3.png','Кроссовер','Antara','','от 777 180 ₽','777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/astra-2.png','Хэтчбэк','Astra GTC','','от 761 890 ₽','777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/arkana.png','Кроссовер','Arkana New','','от 786 890 ₽','777 180 ₽')
						.swiper-slide
							+product('','./images/temp_dir/antara-2.png','Кроссовер','Arkana New','','от 777 180 ₽','777 180 ₽')