include ./pug/mixins/blocks
+used-car-item('./images/temp_dir/used-5.jpg','Audi A1', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '739 999 ₽')
+used-car-item('./images/temp_dir/used-6.jpg','Mazda 3', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '289 999 ₽')