include ./pug/mixins/blocks
-
	var feedbackData = [
		{
			isVideo: true,
			videoPopup: true,
			title: 'Сергей Алексеевич после покупки Changan в нашем автосалоне делится своими впечатлениями.',
			img: './images/temp_dir/feedback_4.jpg',
			text: 'Здравствуйте! Меня зовут Сергей и я очень доволен обслуживанием в вашем автосалоне. Особая благодарность менеджерам, которые мной занимались и потратили очень много времени, потому что оказался я чересчур привередливым клиентом. Спасибо! Все прекрасно!'
		},
		{
			isVideo: false,
			videoPopup: false,
			title: 'Нина Ивановна о покупке нового Datsun On-Do',
			img: './images/temp_dir/feedback_3.jpg',
			text: 'Мы приехали за автомобилем в Вита Авто. Нам понравился очень Роман: обходительный, хороший. Сотрудники очень внимательные, хорошие, доброжелательные: встречают, провожают. Спасибо им большое!'
		},
		{
			isVideo: true,
			videoPopup: true,
			title: 'Сергей Алексеевич после покупки Changan в нашем автосалоне делится своими впечатлениями.',
			img: './images/temp_dir/feedback_4.jpg',
			text: 'Здравствуйте! Меня зовут Сергей и я очень доволен обслуживанием в вашем автосалоне. Особая благодарность менеджерам, которые мной занимались и потратили очень много времени, потому что оказался я чересчур привередливым клиентом. Спасибо! Все прекрасно!'
		}
	]

each item in feedbackData
	+feedback-item-main(item)