include pug/mixins/svg
include pug/mixins/blocks

form.popup-form.js-form
	.popup-form__bg
		img(src='./images/popup/utilize.jpg')
	.popup-form__top.popup-form__top--gap-l
		h2 Государственная утилизация автомобиля
		h5 Лучшее предложение на рынке
	.popup-form__contnet.js-popup-form-content
		.popup-form__group
			.popup-form__stage
				h5 Ваш старый авто
				+svg('check')
			.js-selct-group.js-step
				+select-flat('Марка автомобиля',[],'brandU','brands')
				+select-flat('Модель автомобиля',[],'modelU','models')
				+select-flat('Комплектация',[],'complectationU','classes')
		.popup-form__group
			.popup-form__stage
				h5 Вы хотите приобрести
				+svg('check')
			.js-selct-group.js-step.step-hidden
				+select-flat('Марка автомобиля',[],'brandU2','brands')
				+select-flat('Модель автомобиля',[],'modelU2','models')
				+select-flat('Комплектация',[],'complectationU2','classes')
		.popup-form__group.popup-form__group--gutter
			.popup-form__stage
				h5 Имя и телефон
				+svg('check')
			.js-step.step-hidden
				label.form-field
					input.js-input.form-field__input(type="text" name="name-trade" required)
					span.form-field__label Ваше имя
				label.form-field
					input.js-input.form-field__input.js-phone(type='text' name='phone' required)
					span.form-field__label Номер телефона
				button.btn.btn--sz-l.btn--red Заказать автомобиль
	.popup-form__thank Спасибо за заявку. Наши менеджеры свяжутся с вами в ближайшее время.
