-
	var discountSelect = [
	{
	isActive: false,
	text: 'Комплект резины'
	},
	{
	isActive: false,
	text: 'ОСАГО'
	},
	{
	isActive: false,
	text: 'GPS навигатор'
	},
	{
	isActive: true,
	text: 'Видеорегистратор'
	},
	{
	isActive: false,
	text: 'Смартфон'
	}
	]

include pug/mixins/svg
include pug/mixins/blocks

form.popup-form.js-form
	.popup-form__bg
		img(src='./images/popup/popup_fixprice.jpg')
	.popup-form__top.popup-form__top--gap-l
		h2 Зафиксировать цену
		ul.popup-form__advantages.advantages-list
			li.advantages-list__item
				+svg('check')
				h5 Специальные условия до 30 марта
			li.advantages-list__item
				+svg('check')
				h5 Ваша выгод 180 000 ₽
	.popup-form__contnet.js-popup-form-content
		+select-flat('Выберите подарок',discountSelect,'present')
		label.form-field
			input.js-input.form-field__input(type="text" name="name-trade" required)
			span.form-field__label Ваше имя
		label.form-field
			input.js-input.form-field__input.js-phone(type='text' name='phone' required)
			span.form-field__label Номер телефона
		button.btn.btn--sz-l.btn--red Заказать автомобиль
	.popup-form__thank Спасибо за заявку. Наши менеджеры свяжутся с вами в ближайшее время.
