-
	var discountSelect = [
	{
	isActive: false,
	text: 'Комплект резины'
	},
	{
	isActive: false,
	text: 'ОСАГО'
	},
	{
	isActive: false,
	text: 'GPS навигатор'
	},
	{
	isActive: true,
	text: 'Видеорегистратор'
	},
	{
	isActive: false,
	text: 'Смартфон'
	}
	]

include pug/mixins/svg
include pug/mixins/blocks

form.popup-form.js-form
	.popup-form__bg
		img(src='./images/popup/offer.png')
	.popup-form__top.popup-form__top--gap-l
		h2 Оформить кредит
		ul.popup-form__advantages.advantages-list
			li.advantages-list__item
				+svg('check')
				h5 Скидка до 350 000 Р
			li.advantages-list__item
				+svg('check')
				h5 Льготная ставка от 3,5%
			li.advantages-list__item
				+svg('check')
				h5 Без первоначального взноса
			li.advantages-list__item
				+svg('check')
				h5 Одобрение кредита 98%
			li.advantages-list__item
				+svg('check')
				h5 Комплект резины в подарок
	.popup-form__contnet.js-popup-form-content
		label.form-field
			input.js-input.form-field__input(type="text" name="name-trade" required)
			span.form-field__label Ваше имя
		label.form-field
			input.js-input.form-field__input.js-phone(type='text' name='phone' required)
			span.form-field__label Номер телефона
		button.btn.btn--sz-l.btn--red Заказать автомобиль
	.popup-form__thank Спасибо за заявку. Наши менеджеры свяжутся с вами в ближайшее время.
