extends pug/base

append vars
	- title = 'Услуги'

block content
	section.trade-about.services
		.wrapper
			.content
				h1 Услуги
				.services__block-list
					.services__column
						+bordered-card('Оформление полисов ОСАГО и КАСКО','Страхование — это проверенный способ защитить себя, близких и сам автомобиль на случай непредвиденных дорожных ситуаций. Страховые услуги доступны для всех клиентов центра.','kasko','bordered-card--icon', true)
					.services__column
						+bordered-card('Тест драйв','Для того чтобы клиент смог оценить приглянувшийся автомобиль и лично проверить его ходовые качества, предусмотрена возможность пробной поездки.','test','bordered-card--icon', true)
					.services__column
						+bordered-card('Продажа автомобиля в кредит','Клиентам центра предлагается 55 кредитных программ от 22 банков. Сумма залога 50.000 – 5.000.000 рублей при минимальной процентной ставке 3,5 %.','sale_loan','bordered-card--icon', true)
					.services__column
						+bordered-card('Установка дополнительного оборудования с гарантией','Мастера автосервиса сделают всё, чтобы обеспечить желаемый уровень комфорта, надежности и безопасности автомобиля.','gear','bordered-card--icon', true)
					.services__column
						+bordered-card('Гарантийное и послегарантийное техобслуживание','Все работы по ремонту и замене узлов, деталей и расходников выполняются в соответствии с технической документацией автопроизводителей.','varanty','bordered-card--icon', true)
					.services__column
						+bordered-card('Помощь с регистрацией авто в ГИБДД','Специалисты центра знают, как добиться скорейшей постановки транспортного средства на учет.','help','bordered-card--icon', true)
