extends pug/base

append vars
	- title = 'Такси в кредит'
	-
		var taxiData = [
			{
				title: 'Chevrolet Niva',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_1.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			},
			{
				title: 'Lada Granta Liftback',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_2.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			},
			{
				title: 'Lifan X50',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_3.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			},
			{
				title: 'Lada Largus Furgon',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_4.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			},
			{
				title: 'Lada Largus 5 mest',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_5.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			},
			{
				title: 'Lada Largus 5 mest',
				engine: 'Двигатель: 1 690 / 80 л. с.',
				type: 'Старт',
				img: './images/temp_dir/taxi_6.jpg',
				loan_percent: 'Ставка 3.5%',
				loan_payment: 'Платеж в месяц 5 578 ₽',
				loan_day: '128 ₽/сутки',
				price: 'Спец цена от 401 300 ₽'
			}
		]

block content
	section.baner.swiper-container.js-main-banner.taxi-slider
		.swiper-wrapper
			.swiper-slide
				+baner-block('background-image: url(./images/temp_dir/taxi-1.jpg)', 'Такси под ключ', 'Подключение к таксопарку за 1 день', 'только до 31 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-1.jpg)', 'Такси под ключ', 'Подключение к таксопарку', 'только до 1 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-1.jpg)', 'Такси под ключ', 'Подключение к таксопарку за 1 день', 'только до 31 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-1.jpg)', 'Такси под ключ', 'Подключение к таксопарку', 'только до 1 мая 2020', false)
			.swiper-slide
				+baner-block('background-image: url(./images/foil-1.jpg)', 'Такси под ключ', 'Подключение к таксопарку за 1 день', 'только до 31 мая 2020', false)
		.swiper-pagination
			


	section.taxi
		.wrapper
			.content.content--larg-b
				h2.h2 Такси в кредит
				.taxi__filter
					ul.slider-filter
						li.slider-filter__item: a.link.link--default.active(href='#!') Старт
						li.slider-filter__item: a.link.link--default(href='#!') Эконом
						li.slider-filter__item: a.link.link--default(href='#!') Комфорт
						li.slider-filter__item: a.link.link--default(href='#!') Комфорт +
						li.slider-filter__item: a.link.link--default(href='#!') Детский

				.taxi__wrapper
					each taxi in taxiData
						+taxi(taxi)
				.taxi__wrapper.taxi__wrapper--hidden.js-more-hidden
					each taxi in taxiData
						+taxi(taxi)
				a.btn.btn--default.btn--sz-l.taxi__btn.js-more-block(href='#!', data-isopened=false) Показать еще
	section.taxi-info
		.wrapper
			.content.content--larg-b
				.taxi-info__wrapper
					.taxi-info__item.text-elem
						h4 Условия
						.list-small
							ul
								li Сумма до 3 000 000 ₽
								li Срок от 6 месяцев до 7 лет
								li Возможность сдать свой автомобиль в trade-in и госпрограмма утилизации
								li Досрочное погашение без штрафов и комиссии
					.taxi-info__item.text-elem
						h4 Требования
						.list-small
							ul
								li Гражданство РФ
								li Возраст от 21 до 65 лет
								li Два документа: паспорт и водительские права
								li Стаж не менее 3-х месяцев
				p(style="color: #E02138") *К сожалению, банки не кредитуют регионы: Магаданская область, Республика Дагестан, Карачаево-Черкесская Республика, Республика Ингушетия, Республика Северная Осетия, Республика Кабардино-Балкария, Чеченская Республика
	section.taxi-expansion
		.wrapper
			.content
				.expansion.expansion--blue
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Бесплатная консультация
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Помощь в сборе и подготовке подготовке документов
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Работа с таксопарками таксопарками
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Оклейка оклейка автомобиля автомобиля
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Установка установка ГБО в авто
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Лицензия
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
					.expansion__item
						.expansion__head.js-expansion-head
							h4 Лизинг
							+svg('arrow')
						.expansion__body.js-expansion-body
							include ./pug/particles/taxi-expansion
