extends pug/base

append vars
	- title = 'Trade-in'

block content
	section.trade
		.trade__banner
		.wrapper
			.content.content--small-t-b
				h1 Обменяем старый авто на новый
				p В автосалоне эксперты проведут оценку автомобиля бывшего в эксплуатации и озвучат его стоимость. Данная сумма будет зачтена в стоимость нового транспортного средства, которое вы приобретаете. В итоге вам не потребуется длительное время продавать ваш автомобиль, мы сделаем это за вас и подарим дополнительную скидку
				ol
					li Вы заполняете online-заявку на Trade-In
					li Наш специалист связывается с Вами и уточняет информацию по заявке
					li Вы приезжаете на сделку в автосалон VitaAuto
				a.btn.btn--red.btn--sz-l.btn--icon.trade__btn.js-popup-link(data-target='center' data-href='popup-loanformulate.html')
					+svg('refresh')
					span Утилизировать автомобиль
	section.trade-about
		.wrapper
			.content.content--larg-b-t
				.trade-about__block-list
					.trade-about__column
						+bordered-card('Экономьте время!','Воспользовавшись нашими услугами, освободите себя от бесконечного поиска покупателей, назначение встреч, показ автомобиля и его предпродажную подготовку.','time','bordered-card--icon')
					.trade-about__column
						+bordered-card('Используйте свой старый автомобиль в качестве первоначального взноса','Мы сотрудничаем с 24 банкамипартнерами, наши кредитные специалисты подберут для Вас наиболее походящую программу кредитования. Это можно сделать на месте, прямо в Дилерском центре.','cashin','bordered-card--icon')
					.trade-about__column
						+bordered-card('Мы знаем наших клиентов','Мы стараемся удовлетворить потребности каждого. С настоящими отзывами можно ознакомиться в разделе "Отзывы". Будем рады видеть Вас в нашем Дилерском центре по адресу: г. Москва, Варшавское ш., 170/1','client','bordered-card--icon')
					.trade-about__column
						+bordered-card('Вы получаете наличные средства сразу на месте.','Мы не ставим автомобили на реализацию, как это делают другие.','cash','bordered-card--icon')

	include pug/particles/reviews
