extends pug/base

append vars
	- title = 'Title goes here'

block content
	.wrapper
		.content(style='max-width: 850px; margin: 0 auto;')
			header
				h1 Volkswagen Tiguan утолит жажду приключений
			h2 Live chat is a <a href="#">powerful tool</a>, but only when it’s used properly.
			p Opel Astra GTC — невероятно стильный и динамичный автомобиль,
			p Opel Astra GTC — невероятно стильный и динамичный автомобиль, сочетающий в себе спортивный облик и отличные динамические характеристики. Модель оборудуется четырьмя типами моторов: 1,8 л мощностью 140 л. с., 1,6 мощностью 200 л. с., 1,4 л мощностью 140 л. с., которые в паре с механической или автоматической трансмиссией позволяют чувствовать всю мощь машины.
			h3 4 best practices for a successful live chat support experience 4 best practices for a successful live chat support experience
			p
				| We’ve put together this guide to help you not only successfully implement live chat on your&nbsp;
				a(href='#') website&nbsp;
				| , but also to offer the right kind of experience for your customers.
			blockquote
				p “Modern consumers rarely have a single touchpoint with any given company”
			h4
				| 4 best practices for a successful live chat support experience&nbsp;
				a(href='#') 4 best practices&nbsp;
				| for a successful live chat support experience
			p We’ve put together this guide to help you not only successfully implement live chat on your website, but also to offer the right kind of experience for your customers.
			p We’ve put together this guide to help you not only successfully implement live chat on your website, but also to offer the right kind of experience for your customers.
			ul
				li: p If most of your website traffic is to a specific support page, add live chat there
				li: p If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
				li: p If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
			img(src='./images/test_img.jpg', alt='temp img')
			small подпись для фотографии, декоративный шрифт для подписей
			p We’ve put together this guide to help you not only successfully implement live chat on your website, but also to offer the right kind of experience for your customers.
			img(src='./images/test_img.jpg', alt='temp img')
			p We’ve put together this guide to help you not only successfully implement live chat on your website, but also to offer the right kind of experience for your customers.
			ol
				li: p If most of your website traffic is to a specific support page, add live chat there
				li: p If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
				li: p If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
			.table-wrap
				table
					tr
						th Тип
						th Номинальный ток
						th Максимальная мощность нагрузки
						th Диапазон входного напряжения сети
						th Габаритные размеры
						th Вес
					tr
						td ESSV-I 3.200-050
						td 50
						td 50
						td 50
						td 50
						td 50
					tr
						td ESSV-I 3.200-050
						td 67
						td 67
						td 67
						td 67
						td 67
					tr
						td ESSV-I 3.200-050
						td 84
						td 84
						td 84
						td 84
						td 84
					tr
						td ESSV-I 3.200-050
						td 115
						td 115
						td 115
						td 115
						td 115
					tr
						td ESSV-I 3.200-050
						td 124
						td 124
						td 124
						td 124
						td 124
					tr
						td ESSV-I 3.200-050
						td 148
						td 148
						td 148
						td 148
						td 148
					tr
						td ESSV-I 3.200-050
						td 220
						td 220
						td 220
						td 220
						td 220
					tr
						td ESSV-I 3.200-050
						td 279
						td 279
						td 279
						td 279
						td 279
