extends pug/base

append vars
	- title = 'Авто с пробегом'

block content
	//- ...
	section.used-car
		.wrapper
			.content
				.used-car__part
					.used-car__left
						.used-car__banner.swiper-container.js-gallery-card
							.swiper-wrapper
								each _ in Array(5)
									.swiper-slide
										img(src='./images/temp_dir/car-big-1.jpg')
							.swiper-pagination
							.used-car__navigation.navigation--white
								include pug/particles/navigation-arrows
					.used-car__right
						a.link.link--back(href='#!')
							+svg('arrow_left')
							span Назад
						.used-car__content
							h1 Nissan Qashqai
							.list-small
								ul
									each item in ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км']
										li=item
							h2 949 999 ₽
						.used-car__btn
							a.btn.btn--sz-l.btn--red(href='#!') Заказать авто
							a.btn.btn--sz-l.btn--blue(href='#!') В кредит от 3,5%


	section.car-complectation.car-complectation
		.wrapper
			h2 Комплектация включает в себя
			.car-complectation__list-block
				.list-small
					ul.js-list-hide(data-show-count='13')
						li Иммобилайзер
						li Натяжитель ремней безопасности
						li Передние тормоза: Дисковые вентилируемые
						li Задние тормоза: Дисковые
						li Система электронного контроля устойчивости (ESP)
						li Задняя подвеска: Полузависимая, торсионная балка
						li Гидроусилитель руля
						li Трехточечный ремень безопасности
						li Антипробуксовочная система (TCS)
						li Дополнительный стоп-сигнал
						li Запасное колесо неполноразмерное
						li Подушка безопасности пассажира с функцией деактивации
						li Подушка безопасности боковая
						li Сигнализация
						li Система распределения тормозного усилия (EBD)
						li Передний стабилизатор
						li Стояночный тормоз: Электронный (опция)
						li Изменение передаточного отношения руля (VGS/VGRS)
						li Подушка безопасности водительская
						li Передняя подвеска: Независимая, амортизационная стойка типа МакФерсон
						li Крепление ISOFIX
						li Активный подголовник
						li Подушка безопасности переднего пассажира
						li Антиблокировочная система (ABS)



	include pug/particles/info-block

	section.used-car-about
		.wrapper
			.content
				h5 Автомобиль прошел предпродажную подготовку и проверку по следующим пунктам:
				.used-car-about__content
					.used-car-about__column
						+bordered-card('Юридическая чистота','Осуществлены все необходимые проверки, 100% гарантия юридической чистоты и отсутствие обременений')
					.used-car-about__column
						+bordered-card('Техническая диагностика','Провели полную диагностику ходовой части и двигателя по 25 пунктам')
					.used-car-about__column
						+bordered-card('Проведена химчистка','Проведена качественная химчистка и полировка кузова автомобиля')

