extends pug/base

append vars
	- title = 'Авто с пробегом'

block content
	//- ...
	section.used-cars
		.wrapper
			.content.content--larg-b
				h1 Автомобили с пробегом
				.used-cars__select-column
					+link-select()
				.used-cars__list.js-more-wrapper
					+used-car-item('./images/temp_dir/used-1.jpg','Haval H6', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '979 999 ₽')
					+used-car-item('./images/temp_dir/used-2.jpg','Citroen Xsara Picasso', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '249 999 ₽')
					+used-car-item('./images/temp_dir/used-3.jpg','Haval H2', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '249 999 ₽')
					+used-car-item('./images/temp_dir/used-4.jpg','LADA Kalina', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '159 999 ₽')
					+used-car-item('./images/temp_dir/used-5.jpg','Audi A1', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '739 999 ₽')
					+used-car-item('./images/temp_dir/used-6.jpg','Mazda 3', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '289 999 ₽')
					+used-car-item('./images/temp_dir/used-7.jpg','Renault Megane', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '359 999 ₽')
					+used-car-item('./images/temp_dir/used-8.jpg','Nissan Qashqai', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '1 059 999 ₽')
					+used-car-item('./images/temp_dir/used-9.jpg','Lada 2131 Urban', ['Год: 2009', 'Кпп: МКПП','Двигатель: 1.6 (Бензин)', 'Мощность: 81 л.с.','Привод: Передний', 'Кузов: Хэтчбек','Пробег: 125157 км'], '399 999 ₽')
					
				include pug/particles/pagination
