extends pug/base

append vars
	- title = 'Утилизация'

block content
	section.utilization
		.utilization__banner
		.wrapper
			h1 Правила госпрограммы 2020 с учетом наших предложений
			ul
				li Минимальный размер компенсации за утилизированное транспортное средство от Государства составляет 40 000 ₽, максимальная выплата (для грузовиков) 330 000 ₽ + 20 000 ₽ на любой автомобиль от Дилерского центра!
				li Для участия в программе утилизации автомобиль должен быть старше 6 лет.
				li Приобретаемый по программе автомобиль должен быть произведен на территории России (иномарка или отечественный автомобиль).
				li Транспортное средство должно принадлежать участнику программы более 6 месяцев.
			h2 Перечень необходимых документов
			ul
				li Паспорт владельца автомобиля
				li Копия ПТС, подтверждающая срок владения автомобилем
				li Документ о снятии с учета в ГИБДД в связи с утилизацией (на выбор):
				li Отметка в ПТС;
				li Справка органа ГИБДД;
				li Оригинал карты учета транспортного средства, заверенная печатью и подписью сотрудника ГИБДД
				li Оригинал, либо нотариально заверенная копия Акта сдачи утилизируемого автомобиля утилизатору (автомобиль можно сдать и дилеру при наличии у последнего данной услуги)
			h5 Автоцентр VitaAuto предлагает купить автомобили в кредит на выгодных условиях: широкий выбор программ от различных банков, быстрое оформление, минимум документов.
			ol
					li: h5 Вы заполняете online-заявку на утилизацию
					li: h5 Наш специалист связывается с Вами и уточняет информацию по заявке
					li: h5 Вы приезжаете на сделку в автосалон VitaAuto
			a.btn.btn--red.btn--sz-l.btn--icon.trade__btn.js-popup-link(data-href='popup-utilize.html' data-target='center')
				+svg('biohazard')
				span Утилизировать автомобиль
	section.utilization-type
		.wrapper
			.content
				.services__block-list
					.services__column
						.util-item
							.util-item__icon
								img(src='./images/car_1.png')
							.util-item__content
								h5 Легковые
								p + 40 000 ₽ от Гос-ва
								p + 20 000 ₽ от Автоцентра
					.services__column
						.util-item
							.util-item__icon
								img(src='./images/car_2.png')
							.util-item__content
								h5 Внедорожники
								p + 70 000 ₽ от Гос-ва
								p + 20 000 ₽ от Автоцентра
					.services__column
						.util-item
							.util-item__icon
								img(src='./images/car_3.png')
							.util-item__content
								h5 Коммерческие
								p + 130 000 ₽ от Гос-ва
								p + 20 000 ₽ от Автоцентра
